.tagsly {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 1px solid #9b9191;
  display: block;
  width: 100%;
  padding: 0 5px;
  overflow: auto;
  overflow-x: hidden;
}
.tagsly span.tag {
  display: inline-block;
  position: relative;
  padding: 5px 15px 5px 10px;
  margin-right: 5px;
  margin-bottom: 2px;
  margin-top: 2px;
  background: #bd8414;
  color: white;
}
.tagsly span.tag a {
  position: absolute;
  top: 0;
  right: 5px;
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
}
.tagsly input[type=text].tag-textbox {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 7px 5px;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.tagsly input[type=text].tag-textbox:disabled {
  display: none;
}
.tagsly ul.suggest {
  /*position: absolute;*/
  margin: 0;
  padding: 0;
  list-style: none;
}
.tagsly ul.suggest li {
  background: #3498db;
  padding: 5px;
  color: white;
  cursor: pointer;
}
.tagsly ul.suggest li.active,
.tagsly ul.suggest li:hover {
  background: #1abc9c;
}