.project-people, .project-actions {
    text-align: right;
    vertical-align: middle;
}
dd.project-people {
    margin-top: 5px;
    text-align: left;
}
.project-people img {
    height: 32px;
    width: 32px;
}
.project-title a {
    color: #676a6c;
    font-size: 14px;
    font-weight: 600;
}
.project-list table tr td {
    border-bottom: 1px solid #e7eaec;
    border-top: medium none;
    padding: 15px 10px;
    vertical-align: middle;
}
.project-manager .tag-list li a {
    background-color: white;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    color: inherit;
    display: block;
    font-size: 10px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 12px;
}
.project-files li a {
    color: #676a6c;
    font-size: 11px;
    line-height: 22px;
    margin-left: 10px;
}

.feed-activity-list .feed-element {
    border-bottom: 1px solid #e7eaec;
}
.feed-element:first-child {
    margin-top: 0;
}
.feed-element {
    padding-bottom: 15px;
}
.feed-element, .feed-element .media {
    margin-top: 15px;
}
.feed-element, .media-body {
    overflow: hidden;
}
.feed-element > .pull-left {
    margin-right: 10px;
}
.feed-element img.img-circle, .dropdown-messages-box img.img-circle {
    height: 38px;
    width: 38px;
}
.feed-element .well {
    border: 1px solid #e7eaec;
    box-shadow: none;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 10px 20px;
}
.feed-element .actions {
    margin-top: 10px;
}
.feed-element .photos {
    margin: 10px 0;
}
.feed-photo {
    border-radius: 4px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-height: 180px;
    overflow: hidden;
}
ul.notes li, ul.tag-list li {
    list-style: outside none none;
}
.tag-list li {
    float: left;
}
.project-manager .tag-list li a {
    background-color: white;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    color: inherit;
    display: block;
    font-size: 10px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 12px;
}
.project-files li a {
    color: #676a6c;
    font-size: 11px;
    line-height: 22px;
    margin-left: 10px;
}

.contact-box {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    margin-bottom: 20px;
    padding: 20px;
}
.contact-box > a {
    color: inherit;
}
.contact-box.center-version {
    border: 1px solid #e7eaec;
    padding: 0;
}
.contact-box.center-version > a {
    background-color: #ffffff;
    display: block;
    padding: 20px;
    text-align: center;
}
.contact-box.center-version > a img {
    height: 80px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 80px;
}
.contact-box.center-version address {
    margin-bottom: 0;
}
.contact-box .contact-box-footer {
    background-color: #ffffff;
    border-top: 1px solid #e7eaec;
    padding: 15px 20px;
    text-align: center;
}

.clients-list table tr td {
    border: medium none;
    height: 46px;
    vertical-align: middle;
}

.clients-list {
    margin-top: 20px;
}
.clients-list .tab-pane {
    height: 600px;
    position: relative;
}
.client-detail {
    height: 620px;
    position: relative;
}
.clients-list table tr td {
    border: medium none;
    height: 46px;
    vertical-align: middle;
}
.client-link {
    color: inherit;
    font-weight: 600;
}
.client-link:hover {
    color: inherit;
}
.client-avatar {
    width: 42px;
}
.client-avatar img {
    border-radius: 50%;
    height: 28px;
    width: 28px;
}
.contact-type {
    color: #c1c3c4;
    width: 20px;
}
.client-status {
    text-align: left;
}
.client-detail .vertical-timeline-content p {
    margin: 0;
}
.client-detail .vertical-timeline-icon.gray-bg {
    color: #a7aaab;
}
.clients-list .nav-tabs > li.active > a, .clients-list .nav-tabs > li.active > a:hover, .clients-list .nav-tabs > li.active > a:focus {
    border-bottom: 1px solid #fff;
}

#vertical-timeline {
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 0;
    position: relative;
}
#vertical-timeline::before {
    background: #f1f1f1 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 18px;
    position: absolute;
    top: 0;
    width: 4px;
}
.vertical-timeline-content .btn {
    float: right;
}
#vertical-timeline.light-timeline::before {
    background: #e7eaec none repeat scroll 0 0;
}
.dark-timeline .vertical-timeline-content::before {
    border-color: transparent #f5f5f5 transparent transparent;
}
.dark-timeline.center-orientation .vertical-timeline-content::before {
    border-color: transparent transparent transparent #f5f5f5;
}
.dark-timeline .vertical-timeline-block:nth-child(2n) .vertical-timeline-content::before, .dark-timeline.center-orientation .vertical-timeline-block:nth-child(2n) .vertical-timeline-content::before {
    border-color: transparent #f5f5f5 transparent transparent;
}
.dark-timeline .vertical-timeline-content, .dark-timeline.center-orientation .vertical-timeline-content {
    background: #f5f5f5 none repeat scroll 0 0;
}
@media only screen and (min-width: 1170px) {
#vertical-timeline.center-orientation {
    margin-bottom: 3em;
    margin-top: 3em;
}
#vertical-timeline.center-orientation::before {
    left: 50%;
    margin-left: -2px;
}
}
@media only screen and (max-width: 1170px) {
.center-orientation.dark-timeline .vertical-timeline-content::before {
    border-color: transparent #f5f5f5 transparent transparent;
}
}
.vertical-timeline-block {
    margin: 2em 0;
    position: relative;
}
.vertical-timeline-block::after {
    clear: both;
    content: "";
    display: table;
}
.vertical-timeline-block:first-child {
    margin-top: 0;
}
.vertical-timeline-block:last-child {
    margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
.center-orientation .vertical-timeline-block {
    margin: 4em 0;
}
.center-orientation .vertical-timeline-block:first-child {
    margin-top: 0;
}
.center-orientation .vertical-timeline-block:last-child {
    margin-bottom: 0;
}
}
.vertical-timeline-icon {
    border: 3px solid #f1f1f1;
    border-radius: 50%;
    font-size: 16px;
    height: 40px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
}
.vertical-timeline-icon i {
    display: block;
    height: 24px;
    left: 50%;
    margin-left: -12px;
    margin-top: -9px;
    position: relative;
    top: 50%;
    width: 24px;
}
@media only screen and (min-width: 1170px) {
.center-orientation .vertical-timeline-icon {
    font-size: 19px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
}
.center-orientation .vertical-timeline-icon i {
    margin-left: -12px;
    margin-top: -10px;
}
.center-orientation .cssanimations .vertical-timeline-icon.is-hidden {
    visibility: hidden;
}
}
.vertical-timeline-content {
    background: white none repeat scroll 0 0;
    border-radius: 0.25em;
    margin-left: 60px;
    padding: 1em;
    position: relative;
}
.vertical-timeline-content::after {
    clear: both;
    content: "";
    display: table;
}
.vertical-timeline-content h2 {
    font-weight: 400;
    margin-top: 4px;
}
.vertical-timeline-content p {
    line-height: 1.6;
    margin: 1em 0;
}
.vertical-timeline-content .vertical-date {
    float: left;
    font-weight: 500;
}
.vertical-date small {
    color: #1ab394;
    font-weight: 400;
}
.vertical-timeline-content::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent white transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 7px;
    content: "";
    height: 0;
    position: absolute;
    right: 100%;
    top: 16px;
    width: 0;
}
@media only screen and (min-width: 768px) {
.vertical-timeline-content h2 {
    font-size: 18px;
}
.vertical-timeline-content p {
    font-size: 13px;
}
}

.file-box {
    float: left;
    width: 220px;
}
.file-manager h5 {
    text-transform: uppercase;
}
.file-manager {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.folder-list li a {
    color: #666666;
    display: block;
    padding: 5px 0;
}
.folder-list li {
    border-bottom: 1px solid #e7eaec;
    display: block;
}
.folder-list li i {
    color: #3d4d5d;
    margin-right: 8px;
}
.category-list li a {
    color: #666666;
    display: block;
    padding: 5px 0;
}
.category-list li {
    display: block;
}
.category-list li i {
    color: #3d4d5d;
    margin-right: 8px;
}
.category-list li a .text-navy {
    color: #1ab394;
}
.category-list li a .text-primary {
    color: #1c84c6;
}
.category-list li a .text-info {
    color: #23c6c8;
}
.category-list li a .text-danger {
    color: #ef5352;
}
.category-list li a .text-warning {
    color: #f8ac59;
}
.file-manager h5.tag-title {
    margin-top: 20px;
}

.file {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 0;
    position: relative;
}
.file-manager .hr-line-dashed {
    margin: 15px 0;
}
.file .icon, .file .image {
    height: 100px;
    overflow: hidden;
}
.file .icon {
    padding: 15px 10px;
    text-align: center;
}
.file-control {
    color: inherit;
    font-size: 11px;
    margin-right: 10px;
}
.file-control.active {
    text-decoration: underline;
}
.file .icon i {
    color: #dadada;
    font-size: 70px;
}
.file .file-name {
    background-color: #f8f8f8;
    border-top: 1px solid #e7eaec;
    padding: 10px;
}
.file-name small {
    color: #676a6c;
}

.tag-list li {
    float: left;
}
.tag-list li a {
    background-color: #f3f3f4;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    color: inherit;
    display: block;
    font-size: 10px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 12px;
}

.product-box {
    border: 1px solid #e7eaec;
    padding: 0;
}
.product-box:hover, .product-box.active {
    border: 1px solid transparent;
    box-shadow: 0 3px 7px 0 #a8a8a8;
}
.product-imitation {
    background-color: #f8f8f9;
    color: #bebec3;
    font-weight: 600;
    padding: 90px 0;
    text-align: center;
}
.product-imitation.xl {
    padding: 120px 0;
}
.product-desc {
    padding: 20px;
    position: relative; background: #fff;
}
.ecommerce .tag-list {
    padding: 0;
}
.ecommerce .fa-star {
    color: #d1dade;
}
.ecommerce .fa-star.active {
    color: #f8ac59;
}
.ecommerce .note-editor {
    border: 1px solid #e7eaec;
}
.product-name {
    color: #676a6c;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 2px 0 5px;
}
.product-name:hover, .product-name:focus {
    color: #1ab394;
}
.product-price {
    background-color: #1ab394;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 12px;
    position: absolute;
    right: 0;
    top: -32px;
}
.product-detail .ibox-content {
    padding: 30px 30px 50px;
}
.image-imitation {
    background-color: #f8f8f9;
    padding: 200px 0;
    text-align: center;
}
.product-main-price small {
    font-size: 10px;
}
.product-images {
    margin: 0 20px;
}