.folder-list li a {
    color: #666666;
    display: block;
    padding: 5px 0;
}
.folder-list li {
    border-bottom: 1px solid #e7eaec;
    display: block;
}
.folder-list li i {
    color: #3d4d5d;
    margin-right: 8px;
}
.category-list li a {
    color: #666666;
    display: block;
    padding: 5px 0;
}
.category-list li {
    display: block;
}
.category-list li i {
    color: #3d4d5d;
    margin-right: 8px;
}
.category-list li a .text-navy {
    color: #1ab394;
}
.category-list li a .text-primary {
    color: #1c84c6;
}
.category-list li a .text-info {
    color: #23c6c8;
}
.category-list li a .text-danger {
    color: #ef5352;
}
.category-list li a .text-warning {
    color: #f8ac59;
}

.mail-box {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: -moz-use-text-color #e7eaec #e7eaec;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    margin-bottom: 20px;
    padding: 0;
}
.mail-box-header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec #e7eaec -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    padding: 30px 20px 20px;
}
.mail-box-header h2 {
    margin-top: 0;
}
.mailbox-content .tag-list li a {
    background: #ffffff none repeat scroll 0 0;
}
.mail-body {
    border-top: 1px solid #e7eaec;
    padding: 20px;
}
.mail-text {
    border-top: 1px solid #e7eaec;
}
.mail-text .note-toolbar {
    padding: 10px 15px;
}
.mail-body .form-group {
    margin-bottom: 5px;
}
.mail-text .note-editor .note-toolbar {
    background-color: #f9f8f8;
}
.mail-attachment {
    border-top: 1px solid #e7eaec;
    font-size: 12px;
    padding: 20px;
}
.mailbox-content {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 10px;
}
.mail-ontact {
    width: 23%;
}