.ourmod_cnt.pents h1 {font-size: 45px;line-height: 55px;margin-top: 5px;}
.mainder_pent {background-color: #151515; padding: 65px 0;position: relative;}
.sender_parter {background-color: #333333; border: 2px solid #f9bb42; border-radius: 3px; margin: 0 100px 0 250px; padding: 100px 30px 100px 200px; position: relative;}
.penty_houser h3 {border-bottom: 1px solid #ffffff; color: #d4d4d4; display: table; font-family: "Lato-Regular"; font-size: 21px; margin: 0; padding-bottom: 5px; text-transform: uppercase;}
.setcher {left: -130px; position: absolute; top: 17%; width:275px;}
.setcher img {border: 2px solid #f9bb42; border-radius: 3px; width: 100%;}
.penty_houser p {color: #d4d4d4; font-size: 16px; margin-top: 5px; text-transform: uppercase;}
.minagents {padding: 0;}
.minagents li {color: #d4d4d4; display: block; font-family: "Lato-Regular"; margin-bottom: 10px; text-transform: uppercase;}
.minsubagents {margin: 0;padding: 0px;}
.minsubagents > li {color: #d4d4d4; display: inline-block; font-family: "Lato-Regular"; text-transform: uppercase;}
span.left_cols {display:inline-block; width: 15%;}
.agents {margin: 38px 0;}
.righ_cols {display: inline-block; padding-right: 15px;}
.minsubagents .righ_cols {padding-left: 11px; padding-right: 11px;}
.minsubagents span.left_cols {width: auto;}
.mainder_pent .section_seven h1 {font-size: 36px;padding: 20px 0;text-align: center;}
.mainder_pent .section_seven > p {color: #ffffff; font-family: "KhmerUI"; font-size: 20px; text-align: center;margin-bottom:70px;}
.categoriesed {padding: 0 0 0 300px;}
.categoriesed h4 {color: #ffffff; font-family: "Lato-Regular"; font-size: 14px; margin: 25px 0; text-transform: uppercase;}
.listboxnes {margin: 0 0 10px; padding: 0;}
.listboxnes li {display: inline-block;margin-right:7px;}
.listboxnes li a {background-color: #adadad; border-radius: 3px; display: block; font-family: "Lato-Regular"; padding: 7px 20px; text-transform: uppercase;}
.bggraphy {padding: 10px 300px 20px;}
.bggraphy h4 {color: #ffffff; font-family: "Lato-Regular"; font-size: 16px; text-transform: uppercase;}
.bggraphy p {color: #8f8f8f; font-family:"Lato-Regular";font-size: 15px;}
.twopackages {padding: 0 300px;}
.start_pack_one {display: block; float: left; padding-right: 75px; position: relative;margin-bottom: 40px;}
.three_packages {padding: 0 300px;}
.contact_this_agent.clearfix {margin: 130px 300px 150px;position: relative;text-align: center;}
.start_pack_one h4 {margin-bottom: 20px;color: #ffffff; font-family: "Lato-Regular"; font-size: 15px; text-transform: uppercase;}
.start_pack_one::after {border-left: 4px solid #b4b4b4; content: " "; display: block; height: 25px; left: -37px; position: absolute; top: 5px; width: 2px;}
.twopackages .start_pack_one:first-child::after {display: none;}
.twopackages .start_pack_one:last-child {padding:0px;}
.three_packages .start_pack_one:last-child {padding:0px;}
.three_packages .start_pack_one:first-child::after {display: none;}
.start_pack_one p a {color: #8f8f8f; font-family: "Lato-Regular"; text-decoration:none;}
.contact_this_agent.clearfix::after {border-bottom: 1px solid #eab03f; content: " "; display: block; position: absolute; top: 16px; width: 100%; z-index: 0;}
.contact_this_agent.clearfix a {background-color: #f9bb42; border-radius: 3px; color: #0a0a0a; display: inline-block; font-family: "Lato-Regular"; font-size: 16px; padding: 5px 10px; position: relative; text-align: center; text-transform: uppercase; z-index: 1;}
.mainder_pent::after {border-bottom: 1px solid #f9bb42; content: " "; display: block; height: 3px; position: absolute; top: 10%; width: 5%;}

.mdl_agncylist .ourmod_cnt h1 {font-size: 40px;}
.mdl_agncylist .ourmod_cnt {top: 60%;}
.mdl_agncylist .two_laid {font-size: 11px;}
.model_photos.model_jutose {background-color: #202020;padding: 65px 0;}
.thripple_columns_sectrer ul li {display: block; float: left; margin: 15px 0; padding: 0 10px; position: relative; width: 33%;}
.thripple_columns_sectrer ul li img {border: 2px solid #cccccc; border-radius: 3px; width: 100%;}
.model_jutose .modelspro.clearfix {padding: 0 100px;}
.model_photos.model_jutose {background-color: #202020; padding: 65px 0;}
.model_photos.model_jutose::after {top: 11%; width: 11%;}
button span {display: block; transform: skew(25deg);}
.model_photos.model_jutose button {margin-top:0px;}
.thripple_columns_sectrer ul li:hover .pent_house {background-color: rgba(189, 133, 21, 0.9); display: block; height: 89%; left: 0; margin: 0 auto; position: absolute; right: 0; top: 15px; width: 84%;}
.pent_house {display:none;}
.pslmasgs {border: 1px solid #ffffff; margin: 15px; padding: 67px 10px 0;}
.pslmasgs h4 {color: #ffffff; font-family: "kaushanscript-regular"; margin-bottom: 65px; text-align: center;}
.pslmasgs p {color: #ffffff; margin: 0 0 10px; text-align: center; text-transform: uppercase;}


.event_book {background-color: #151515;}
.smcnt p {color: #818181; font-family: "Lato-Regular"; font-size: 21px;}
.mnth_date {background-color: #c38f29; border-top: 15px solid #151515; margin-bottom: 45px; margin-top: -80px; padding: 35px 0 45px; text-align: center; width: 90%;}
.mnth_date h1 {color: #ffffff; font-family: Lato-Regular; font-size: 80px; margin: 0;}
.mnth_date h3 {color: #ffffff; font-family: "Lato-Regular"; font-size: 32px; margin: 0; text-align: center; text-transform: uppercase;}
.mnth_date p {color: #ffffff; font-family: "Lato-Regular"; font-size: 30px; margin: 0;}
.start_dates h5, .end_dates h5, .price_form h5 {color: #ffffff; font-family: "Lato-Regular"; font-size: 26px;}
.start_dates p, .end_dates p {color: #999999; font-family: "Lato-Regular"; font-size: 21px;}
.price_form p {color: #ffffff; font-family: "Lato-Regular"; font-size: 26px; text-align: right;}
.inbook a {background-color: #c38f29; border-radius: 4px; display: block; font-family: "Lato-Regular"; font-size: 20px; padding: 10px; text-align: center; text-transform: uppercase;}
.price_form {border-top: 1px solid #ffffff; margin-top: 25px; padding-top: 15px;}
.maistartes {padding-left: 35px;}
.start_dates p span, .end_dates p span {color:#ffffff;}
.banter img {width: 100%;}
.event_map {border: 15px solid rgba(195, 143, 41, 0.18);}
.event_map img {width: 100%;}
.srez_ones {float: left; height: 430px; width: 47%;position:relative;}
.srez_twos {float: left; width: 53%;}
.srez_twos .serias {margin: 0;padding: 0;}
.serias li {float: left; height: 220px; width: 50%;padding:0 0px 10px 10px;}
.srez_ones img {height: 100%; object-fit: cover; width: 100%;}
.serias li a img {height: 100%; object-fit: cover; width: 100%;}
.with_frnds {position:relative;background-color: #151515;padding:120px 0;}
.with_frnds img {width: 100%;}
.your_frnds {left: 0; position: absolute; right: 0; text-align: center; top: 33%;}
.your_frnds h3 {color: #ffffff; font-family: "kaushanscript-regular"; font-size: 35px; margin-bottom: 0; margin-top: 10px; text-transform: uppercase;}
.your_frnds p {color: #ffffff; font-family: "kaushanscript-regular"; font-size: 55px; margin-top: 0; text-transform: uppercase; word-spacing: 15px;}
.learned {bottom: 92px; left: 0; position: absolute; right: 0; text-align: center;}
.learned a, .learned a:hover, .learned a:focus {background-color: #eeae33; border-radius: 4px; color: #151515; display: inline-block; font-family: "Lato-Regular"; font-size: 21px; padding: 12px 30px; text-transform: uppercase;}
.upcomingevents {padding: 100px 0 0 60px; position: relative;}
.upcmng {border-left: 6px solid #c38f29; left: -94px; position: absolute; top: 192px; transform: rotate(-90deg);-webkit-transform: rotate(-90deg);-ms-transform: rotate(-90deg);}
.upcmng h3 {background-color: #181818; color: #c38f29; font-family: "Lato-Regular"; font-size: 20px; margin: 0; padding: 10px 20px; text-align: center; text-transform: uppercase;}
.srez_ones:hover .seriagimer {display:block;}
.seriagimer {display:none; background-color: rgba(189, 133, 21, 0.8); left: 0; margin: 0 auto; padding: 20px; position: absolute; right: 0; top: 22%; width: 350px;}
.molps {border: 1px solid #ffffff; padding: 50px 10px; text-align: center;}
.molps h2 {color: #ffffff; font-family: Lato-Regular; margin: 0; text-align: center; text-transform: uppercase;}
.molps p {color: #ffffff; font-family: "Lato-Regular"; font-size: 18px; margin: 0; text-align: center; text-transform: uppercase;}
.molps a, .molps a:hover, .molps a:focus {background-color: #ffffff; border-radius: 3px; color: #151515; display: inline-block; font-family: "Lato-Regular"; margin-top: 20px; padding: 5px 20px; text-align: center; text-transform: uppercase;}
.full_mates h1 {color: #ffffff; font-family: "Lato-Regular"; font-size: 30px; margin-bottom: 5px;margin-top: 10px;}
.full_mates p {color: #a7a7a7; font-family: Lato-Regular; font-size: 19px;}
.udfix .col-sm-3 h3, .event_book .col-sm-9 h3 {color: #ffffff;font-family: "Lato-Regular";margin-top: 10px;}
.udfix .col-sm-3 p, .udfix .col-sm-9 p {color: #a6a6a6;font-family: "Lato-Regular";font-size: 16px;}
.udfix .col-sm-3 {border-right: 1px solid #c38f29; padding: 0;}
.udfix .col-sm-9 {padding-left: 40px;}
.smcnt {border-bottom: 1px solid #818181; margin-bottom: 35px; padding-bottom: 20px; padding-top: 23px;}
.udfix.clearfix {margin-bottom: 50px;margin-top: 40px;}
.full_mates {float: left;}
.share {float: right; margin-bottom: 25px; margin-top: 12px;}
.share h4 {color: #ffffff; font-family: "Lato-Regular"; font-size: 26px;}
.icones {margin: 0; padding: 0;}
.icones li {display: inline-block; padding: 0 5px 0 0;}
.icones li.fbook a {background-image:url(../images/events_social_icons.png);width: 36px;height:36px;display: block;}
.icones li.gpluser a {background-image:url(../images/events_social_icons.png);width: 36px;height:36px;display: block;background-position:-46px 0px;}
.icones li.twittera a {background-image:url(../images/events_social_icons.png);width: 37px;height:36px;display: block;background-position:-90px 0;}
.icones li.instagra a {background-image:url(../images/events_social_icons.png);width: 36px;height:36px;display: block;background-position: -136px 0;}
.agents_vi .ourmod_cnt {top: 45%;}
.ourmod_cnt h1 {font-size: 50px;margin-top: 0;}

.model_photos.model_jutose.lade_agents {background-color: #151515;}
.mst_agnt.clearfix {
  padding: 0 150px;
}
.agnet_sring {
  border: 2px solid #bd8414;
  border-radius: 3px;
  float: left;
  width: 30%;
}
.agnet_sring img {width:100%;}
.stroider {
  float: left;
  padding: 75px 80px;
}
.stroider > h1 {
  border-bottom: 1px solid #d4d4d4;
  color: #d4d4d4;
  font-family: Lato-Regular;
  margin: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.agent_videos.clearfix {padding:100px 0px 5px;}
.videoser.clearfix {
  padding: 0px;margin:0px;
}
.videoser li {
  display: block;
  float: left;
  margin-bottom: 10px;
  padding-right: 10px;
  width: 50%;position:relative;
}
.videoser li .play_icn {display:none;}
.videoser li:hover .play_icn {
  display: block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
}
.videoser li:hover .play_icn a {
  background-image: url("../images/play.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}
.videoser li img {
  width: 100%;
}

@media(min-width: 992px) and (max-width: 1199px) {
.model_jutose .modelspro.clearfix {padding: 0 50px;}
.pslmasgs h4 {margin-bottom:40px;}
.sender_parter {padding: 70px 30px 100px 170px;}
.setcher {width: 255px;}
.maistartes {padding-left: 0;}
.udfix .col-sm-3 {width: 30%;}
.udfix .col-sm-9 {width: 70%;}
.mnth_date {width:95%;}
}

@media(min-width: 980px) and (max-width: 991px) {
.container {width:970px;}	
.maistartes {padding-left: 0;}
.udfix .col-sm-3 {width: 30%;}
.udfix .col-sm-9 {width: 70%;}
}

@media(min-width: 768px) and (max-width: 979px) {
.model_jutose .modelspro.clearfix {padding: 0 50px;}
.pslmasgs h4 {margin-bottom:40px;}
.thripple_columns_sectrer ul li {width: 50%;}
.pslmasgs {padding: 87px 10px 0;}
.setcher {left: -110px;top: 22%;width: 205px;}
.sender_parter {padding: 50px 30px 60px 140px;}
.penty_houser h3 {font-size:19px;}
span.left_cols {display: inline-block;width: auto;}
.mainder_pent::after {display:none;}
.categoriesed {padding: 0 30px 0 30px;}
.listboxnes {margin: 0;}
.listboxnes li {margin-bottom: 10px;}
.bggraphy {padding: 10px 30px 20px;}
.twopackages {padding: 0 30px;}
.three_packages {padding: 0 30px;}
.contact_this_agent.clearfix {margin: 130px 30px 150px;}
.seriagimer {width: 280px;}
.maistartes {padding-left: 0;}
.mnth_date {width: 100%;}
.event_book .col-sm-3 {padding-right: 0;}
.start_dates h5, .end_dates h5, .price_form h5 {font-size:22px;}
.start_dates p, .end_dates p {font-size: 16px;}
.udfix .col-sm-3 {width: 40%;}
.udfix .col-sm-9 {width: 60%;}
.smcnt p {font-size:17px;}
.price_form {margin-top: 20px;padding-top: 10px;}
}

@media (max-width:767px) {
.model_jutose .modelspro.clearfix {padding: 0 50px;}
.pslmasgs h4 {margin-bottom:40px;}
.thripple_columns_sectrer ul li {width: 50%;}
.pslmasgs {padding: 80px 10px 0;}
.thripple_columns_sectrer > ul {padding: 0;}
.thripple_columns_sectrer ul li img {height: 262px;object-fit:cover;}
.pslmasgs h4 {font-size:16px;}
.model_jutose .modelspro.clearfix {padding: 0 10px;}
.setcher {left: 0; margin: 0 auto; position: absolute; right: 0; top: 30px; width: 275px;}
.sender_parter {margin: 0 30px;padding: 360px 30px 40px 40px;}
.mainder_pent::after {display:none;}
.categoriesed {padding: 0 30px 0 30px;}
.listboxnes {margin: 0;}
.listboxnes li {margin-bottom: 10px;}
.bggraphy {padding: 10px 30px 20px;}
.twopackages {padding: 0 30px;}
.three_packages {padding: 0 30px;}
.contact_this_agent.clearfix {margin: 130px 30px 150px;}
.start_pack_one::after {left:-29px;}
.start_pack_one {padding-right: 50px;}
span.left_cols {display: inline-block;width: auto;}
.mainder_pent::after {display:none;}
.penty_houser h3 {font-size:18px;}
.sender_parter {margin: 0 30px;padding: 360px 30px 40px;}
.ourmod_cnt.pents h1 {font-size: 25px;line-height: 45px;}
.maistartes {padding-left:0px;}
.mnth_date {margin-bottom: 35px;margin-top: -60px;padding: 35px 0 45px;width: 100%;}
.smcnt p {font-size: 16px;}
.udfix .col-sm-3 {float:left;width:35%;}
.udfix .col-sm-9 {float:left;width:65%;}
.srez_ones {float:left;width: 100%;}
.srez_twos {float:left;margin: 0;width: 100%;}
.serias li {display: block;float: left;width: 50%;padding:0px;}
.serias li a img {padding: 10px 10px 0 0;}
.serias li:nth-child(2n+2) a img {padding-right: 0;}
.upcomingevents {padding: 100px 0 0;}
.your_frnds h3  {font-size: 30px;}
.your_frnds p {font-size: 40px;}
.with_frnds img {height: 300px;object-fit:cover;width: 100%;}
.your_frnds {top:40%;}
}

@media (max-width:640px) {
  .mdl_agncylist .ourmod_cnt {top: 40%;}
  .mdl_agncylist .ourmod_cnt h1 {font-size: 30px;}
  .udfix .col-sm-3 {width: 44%;}
  .udfix .col-sm-9 {padding-left: 15px;width: 56%;}
  .udfix.clearfix {margin-top: 30px;}
  .full_mates {float: none;}
  .share {float: none;}
}

@media (max-width:480px) {
 .thripple_columns_sectrer ul li {width: 100%;}
 .serias li {padding: 0;width: 100%;float:none;}
 .serias li a img {padding: 10px 0px 0 0;}
 .seriagimer {width: 290px;}
 .molps h2 {font-size:25px;}
 .with_frnds img {height: 300px;object-fit:cover;width: 100%;}
 .your_frnds h3 {font-size: 20px;}
 .your_frnds p {font-size: 30px;}
 .your_frnds {top: 40%;}
 .upcomingevents {padding: 55px 0 0;}
 .udfix .col-sm-3 {border: medium none;width: 100%;}
 .udfix .col-sm-9 {padding-left: 0;padding-right: 0;width: 100%;}
}

@media (max-width:480px) {
.seriagimer {width: 250px;}
}