p{
	font-size:12px;
}
.mail-categories .list-group .list-group-item{padding:0px;}
.mail-categories .list-group .list-group-item>a {
    display: block;
    padding: 15px;
    text-decoration: none;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
	color: #555;
}
.mail-categories .list-group .list-group-item.active>a,.mail-categories .list-group .list-group-item>a:hover {
    border-left: 3px solid #1ab394;
    color: #31C0BE;
    background-color: #fafafa;
}
.mail-container .mail-options {
    padding: 10px;
    height: 48px;
}
.ui-checkbox {
    position: relative;
}
.mail-container .table .mail-unread {
    font-weight: bold;
    color: #333;
}
.mail-container .table .text-light {
    color: #999;
}
.mail-container .table tr>td>form>.fa-star.active {
    color: #EEC95A;
}
.mail-container .table tr>td {
    padding: 10px;
    line-height: 1.42857;
    vertical-align: middle;
    border-top: 1px solid #ddd !important;
	cursor:pointer;
}
.table-responsive {
	border:none;
}
label {
	margin-bottom:0px;
}
.actbuttons{
	margin:0px 5px;
}
.msgstar{
	font-size:16px;
}
.text-primary{
	color:#1ab394;
}
.height60{
	height:60px;
}
.viewMessageTitle{
	margin-left:20px;
}
.labelDisp2{
	margin:10px;
}
.replyDiv{
	height:30px;
	margin:30px 0px 10px 0px;
}