
/* @form header 
----------------------------------- */
.smart-forms .header-black {	
	background-color: #a0adba;
	border-bottom: 2px solid rgba(88, 92, 100, 0.38);
}

.smart-forms .header-lite{ border-top-color:#7C9AB8; }
.smart-forms .header-lite:before{ background-color:#34495e;   }
.smart-forms .header-black h4{ color:#fff; }

/* @form tagline 
--------------------------------- */
.smart-forms .theme-black .tagline span{ color:#34495e; }
.smart-forms .theme-black .smart-link{ color:#34495e; }

/* @hover | focus  
--------------------------------- */
.smart-forms .theme-black .gui-input:hover,
.smart-forms .theme-black .gui-textarea:hover,
.smart-forms .theme-black .select > select:hover,
.smart-forms .theme-black .select-multiple select:hover, 
.smart-forms .theme-black .gui-input:hover ~ .input-hint,
.smart-forms .theme-black .file .gui-file:hover + .gui-input,
.smart-forms .theme-black .gui-textarea:hover ~ .input-hint{ border-color: #415b76; }
.smart-forms .theme-black .gui-input:focus,
.smart-forms .theme-black .gui-textarea:focus,
.smart-forms .theme-black .select > select:focus,
.smart-forms .theme-black .select-multiple select:focus{ border-color: #34495e; color: #3C3C3C; }
.smart-forms .theme-black .gui-textarea:focus{  height: 120px; }
.smart-forms .theme-black .select > select:focus { z-index:10; z-index:20\9; }
.smart-forms .theme-black .gui-input:focus ~ .field-icon i,
.smart-forms .theme-black .gui-textarea:focus ~ .field-icon i{ color:#34495e; }
.smart-forms .theme-black .select-multiple select:focus, 
.smart-forms .theme-black .gui-input:focus ~ .input-hint,
.smart-forms .theme-black .gui-textarea:focus ~ .input-hint, 
.smart-forms .theme-black .file .gui-file:focus + .gui-input{ border-color: #34495e; }
.smart-forms .theme-black .select > select:focus + .arrow{ color:#34495e; }

/* @star rating 
--------------------------------------------------------------- */
.smart-forms .theme-black .rating:hover .rating-star:hover,
.smart-forms .theme-black .rating:hover .rating-star:hover ~ .rating-star,
.smart-forms .theme-black .rating-input:checked ~ .rating-star { color: #2c3e50;	}
.smart-forms .theme-black .rating-star, 
.smart-forms .theme-black .rating:hover .rating-star {	color: #B5C1C7;	 }

/* @check + radio black 
---------------------------------------------------------------- */
.smart-forms .option-black input:hover + .checkbox,  
.smart-forms .option-black input:hover + .radio{ border-color: #415b76; }
.smart-forms .option-black input:checked + .checkbox, 
.smart-forms .option-black input:focus + .checkbox, 
.smart-forms .option-black input:checked + .radio, 
.smart-forms .option-black input:focus + .radio{ border-color: #34495e; }
.smart-forms .option-black input:checked + .radio:before, 
.smart-forms .option-black input:focus + .radio:before{  background: #34495e; }
.smart-forms .option-black input:checked + .checkbox:before, 
.smart-forms .option-black input:focus + .checkbox:before{ border-color: #34495e; }

/* @toggle-switch black 
------------------------------------------------------------ */
.smart-forms .switch-black > input:checked + .switch-label { background: #34495e; border-color: #34495e; }
.smart-forms .switch-black > input:checked + .switch-label:after { color:#34495e; }
.smart-forms .switch-black > input:checked:focus + .switch-label { background: #2c3e50; border-color: #2c3e50; }

/* @button black 
------------------------------------------------------------- */
.smart-forms .btn-black { background-color: #34495e; }
.smart-forms .btn-black:hover,
.smart-forms .btn-black:focus{ background-color: #415b76; }
.smart-forms .btn-black:active{ background-color: #2c3e50; }
.smart-forms .btn-black,
.smart-forms .btn-black:hover,
.smart-forms .btn-black:focus,
.smart-forms .btn-black:active{ color: #fff; text-shadow: 0 1px rgba(0, 0, 0, 0.08); }

/* @datepicker overides 
----------------------------------------------------------- */
.ui-datepicker { border:5px solid #34495e; }
.ui-datepicker:before{ 
	border-color:transparent transparent #34495e transparent; 
	border-color:rgba(255,255,255,0) rgba(255,255,255,0) #34495e rgba(255,255,255,0); 
}
.ui-timepicker-div .ui-widget-header,
.ui-datepicker .ui-datepicker-header { background:#34495e; }
.ui-datepicker-today a, 
.ui-datepicker-today a:hover, 
.ui-datepicker .ui-state-highlight { background:#34495e!important; }

/* @price-box 
------------------------------------------------------------- */
.smart-forms .theme-black .selected-box h4{ color:#34495e; }
.smart-forms .ribbon-inner{ background:#34495e; }
.smart-forms .ribbon-inner:before,
.smart-forms .ribbon-inner:after{ border-top-color:#2c3e50; }

.radio + .radio, .checkbox + .checkbox {
    margin-top: -5px;
}
.checkbox {
    padding-left: 20px;
}
.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-top: 4px;
    margin-left: -20px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}
.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 5px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {background-color: #e62117;border-color: #e62117;}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 15px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

/***************** Channel style *************/
#ChannelHeader{
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.27);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.27);
    box-shadow: 0 0 6px rgba(0,0,0,0.27);
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    float: left;
}
.channel_box .c_header_box{
    background-position: center center;
    height: 165px;
    width: 100%;
    position: relative;
}
.channel_box .c_header_box .c_avatar{
    position: absolute;
    height: 95px;
    width: 100px;
    padding: 3px;
    background-color: #FFF;
    border-radius: 5px;
    top: 21%;
    left: 5%;
}
.channel_box .c_header_box .c_avatar img{
    width: 100%;
    height: 100%;
}
.channel_box .c_links_box{
    background-color: white;
    border-top: 1px solid #cfcfcf;
    width: 100%;
    float: left;
}
#SubscribeToChannel{
    padding-top: 4.5px;
    float: right;
}
.channel_box .c_links_box ul{
    float: left;
}
.channel_box .c_links_box ul li{
    float: left;
    display: inline-block;
    margin-left: 10px;
}
.channel_box .c_links_box ul li a{
    padding: 10px;
    display: block;
    font-size: 12px;
    font-family: Arial;
    font-weight: 600;
    text-transform: uppercase;
    color: #777;
}
.channel_box .c_links_box ul li a:hover{
    color: #474747;
}

#channelDetails{
    width: 100%;
    margin-top: 30px;
    position: relative;
    float: left;
}
#channelDetails .c_about{
    float: left;
    width: 32%;
    padding: 10px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.27);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.27);
    box-shadow: 0 0 6px rgba(0,0,0,0.27);
    background: #fff;
    border-radius: 2px;
}
#channelDetails .c_about .c_name_box{
    background-color: whitesmoke;
    margin: -10px -10px 0px -10px;
    padding: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
}
#channelDetails .c_about .c_name_box h2{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #444;
    padding-right: 5px;
    line-height: 15px;
}
#channelDetails .c_about .c_name_box span{}
#channelDetails .c_about .c_name_box span img{
    height: 11px;
    width: 16px;
    border-radius: 2px;
}
#channelDetails .c_about .c_stats{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    float: left;
}
#channelDetails .c_about .c_stats .c_s_box{
    width: 31%;
    display: inline-block;
    margin: 5px 3px 5px 3px;
    height: 70px;
    border-radius: 3px;
    text-align: center;
    float: left;
    background-color: #1bd8b7;
}
#channelDetails .c_about .c_stats .c_s_box h6{
    font-size: 10px;
    width: 100%;
    font-family: Arial;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 20px;
    margin-bottom: 10px;
}
#channelDetails .c_about .c_stats .c_s_box span{
    margin-top: 15px;
    font-size: 11px;
    text-align: center;
    color: #fbfbfb;
}
#channelDetails .c_videos{
    float: right;
    width: 65%;
    padding: 10px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.27);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.27);
    box-shadow: 0 0 6px rgba(0,0,0,0.27);
    background: #fff;
    border-radius: 2px;
    text-align: center;
}
#channelDetails .c_videos .large-3{
    width: 31%;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.27);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.27);
    box-shadow: 0 0 6px rgba(0,0,0,0.27);
}

/********* Responsive **********/
@media all and (max-width: 768px){
    #channelDetails .c_about {
        margin-bottom: 20px;
        width: 100%;
    }
    #channelDetails .c_videos {
        width: 100%;
        margin-bottom: 20px;
    }
    #channelDetails .c_videos .large-3 {
        width: 29%;
    }
}

@media all and (max-width: 480px){
    .channel_box .c_header_box .c_avatar {
        left: 31%;
    }
    .channel_box .c_links_box ul li {
        margin-left: 0px;
    }
    .channel_box .c_links_box ul li a {
        padding: 5px;
        font-size: 10px;
    }
    #SubscribeToChannel {
        padding-bottom: 5px;
        width: 87%;
    }
    #channelDetails .c_about .c_stats .c_s_box {
        width: 100%;
    }
    .subscribers_counter {
        width: 50%;
    }
    .subscribers_counter button {
        width: 90%;
    }
    #channelDetails .c_about {
        margin-bottom: 20px;
        width: 100%;
    }
    #channelDetails .c_videos {
        width: 100%;
        margin-bottom: 20px;
    }
    #channelDetails .c_videos .large-3 {
        width: 100%;
        margin: 0px 0px 15px 0px;
    }
}