/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}
.clear{
  clear: both;
}
*:focus{
  outline: 0 !important;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #3e454c;
  background-color: #ececec;
}
body::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: #1784c7;
  text-decoration: none;
}

input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*  Sessions Messages Style  */
.error{
  margin-bottom: 30px;
  background-color: #f6727b;
  padding: 15px 10px 15px 10px;
  border-left: 4px solid #dd3742;
}

.error ul li{
  font-size: 13px;
  color: #a11d27;
  padding-bottom: 5px;
  font-family: Arial;
  margin-top: 5px;
  font-weight: 600;
}

.error p{
  color: #a11d27 !important;
}

.alert_box{
  margin-bottom: 30px;
  background-color: #e93333;
  padding: 15px 10px 15px 10px;
  border-radius: 3px;
  border: none;
}

.alert_box ul{
  padding-left: 2%;
}

.alert_box ul li{
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #990707;
  padding-bottom: 5px;
}

.error p, .success p{
  font-family: Arial;
  font-size: 12px;
  color: #f9f9f9;
  font-weight: 600;
}

.success{
  margin-bottom: 30px;
  background-color: #18ad53;
  padding: 15px 10px 15px 10px;
  border-left: 4px solid #0d6f34;
}

.success p a{
  color: #0a5a33;
  font-weight: 600;
}

.notice_type{
  font-weight: 600;
  padding: 3px 6px;
  color: #fff;
  font-family: "Open Sans",sans-serif;
  border-radius: 2px;
}
.dark_color{background-color: #444242;}
.green_color{background-color: #2FD79B;}
.yellow_color{background-color: #F6BB2D;}
.blue_color{background-color: #2DC4F6;}
.red_color{background-color: #E03434;}

.notice_link{
  text-decoration: underline;
  color: #006fff !important;
  padding: 0px 3px 0px 3px;
}

.title{

}

.title h2{
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 1.3em;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
  color: #333;
  font-family: Arial;
  font-weight: 600;
}

/* -------------------------------- 

Main Page Content

-------------------------------- */
.cd-main-content .content-wrapper {
  padding: 45px 2% 3em;
}
.cd-main-content .content-wrapper h1 {
  text-align: center;
  padding: 3em 0;
  font-size: 2rem;
}
.cd-main-content::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 768px) {
  .cd-main-content .content-wrapper {
    margin-left: 110px;
    padding-top: 55px;
  }
  .cd-main-content .content-wrapper h1 {
    padding: 4em 0;
    font-size: 3.2rem;
    font-weight: 300;
  }
  .cd-main-content::before {
    content: 'tablet';
  }
}
@media only screen and (min-width: 1170px) {
  .cd-main-content .content-wrapper {
    margin-left: 200px;
  }
  .cd-main-content::before {
    content: 'desktop';
  }
}

/* -------------------------------- 

Header

-------------------------------- */
.cd-main-header {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background: #FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-main-header::after {
  clear: both;
  content: "";
  display: table;
}
@media only screen and (min-width: 768px) {
  .cd-main-header {
    position: fixed;
    height: 55px;
  }
}

.cd-logo {
  float: left;
  display: block;
  margin: 11px 0 0 5%;
}
.cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-logo {
    margin: 8px 0 0 36px;
  }
}

.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  float: right;
  position: relative;
  display: block;
  width: 34px;
  height: 44px;
  margin-right: 5%;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #1bd8b7;
}
.cd-nav-trigger span {
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -2px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -6px;
}
.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}
.cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(255, 255, 255, 0);
}
.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: #1bd8b7;
}
.cd-nav-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.cd-nav-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}
@media only screen and (min-width: 768px) {
  .cd-nav-trigger {
    display: none;
  }
}

.cd-search {
  position: relative;
  margin: 1.2em 5% 0.6em;
}
.cd-search.is-hidden {
  opacity: 0;
}
.cd-search::before {
  /* lens icon */
  content: '';
  position: absolute;
  left: 8px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background: url(../img/9.png) no-repeat 0 0;
}
.cd-search input {
  color: #585C64;
  border-radius: 3px;
  font-family: Tahoma;
  display: inline-block;
  left: 0;
  padding: 0px 35px;
  width: 100%;
  background-color: #fff;
  font-size: 12px;
  height: 33px;
  line-height: 30px;
  margin: 0 0 2px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px #eee;
  background-image: url(../img/9.png);
  background-repeat: no-repeat;
  background-position: 8px 7px;
}
.cd-search input:focus {
  outline: none;
}


@media only screen and (min-width: 768px) {
  .cd-search {
    float: none;
    display: block;
    width: 50%;
    height: 40px;
    margin: 7px auto;
  }
  .cd-search.is-hidden {
    /* reset style */
    opacity: 1;
  }
  .cd-search::before {
    left: 1em;
  }
  .cd-search form, .cd-search input {
    height: 100%;
    width: 100%;
    margin-top: 4.5px !important;
  }
  .cd-search input {
    color: #B0B0B0;
    border-radius: 2px;
    font-family: Tahoma;
    display: inline-block;
    left: 0;
    padding: 0px 35px;
    width: 100%;
    background-color: #FFF;
    font-size: 12px;
    height: 33px;
    line-height: 30px;
    margin: 0 0 2px;
    overflow: hidden;
    position: relative;
    border: 1px solid #d5d5d5;
    box-shadow: none;
    background-image: url(../img/9.png);
    background-repeat: no-repeat;
    background-position: 8px 7px;
    border-radius: 3px;
  }
  .cd-search input::-webkit-input-placeholder {
    color: #777c81;
  }
  .cd-search input::-moz-placeholder {
    color: #777c81;
  }
  .cd-search input:-moz-placeholder {
    color: #777c81;
  }
  .cd-search input:-ms-input-placeholder {
    color: #777c81;
  }
}

/* -------------------------------- 

Top Navigation

-------------------------------- */
.cd-nav {
  /* top nav - not visible on mobile devices */
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-nav {
    display: block;
    float: right;
    height: 100%;
    margin-top: -55px;
  }
}

.cd-top-nav > li > a::before {
  /* reset style */
  display: none;
}
.cd-top-nav > li a {
  padding: 1em 5% !important;
}
.cd-top-nav img {
  /* avatar image */
  position: absolute;
  left: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-top-nav {
    height: 100%;
  }
  .cd-top-nav .upload {
    line-height: 11px;
    margin-top: 12.5px;
    font-family: Arial;
    background: #1bd8b7;
    color: #FFF;
    display: inline-block;
    height: 33px;
    border: solid 1px #1bd8b7;
    outline: 0;
    font-weight: 600;
    font-size: 11px;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  }
  .cd-top-nav .upload:hover {
    box-shadow: none;
  }
  .cd-top-nav a {
    display: block;
    font-size: 1.4rem;
    color: #7b7a7a;
  }
  .cd-top-nav > li {
    display: inline-block;
    margin-right: 1em;
    height: 100%;
    float: left;
  }
  .cd-top-nav > li:last-of-type {
    margin-right: 15px;
  }
  .cd-top-nav  .account ul li a:hover {
    background-color: rgba(237, 237, 237, 0.3);
    color: #504F4F;
  }
  .cd-top-nav > li a {
    padding: 1em 1.6em !important;
  }
  .cd-top-nav img {
    display: block;
  }
}

/* -------------------------------- 

Sidebar

-------------------------------- */
.cd-side-nav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: 45px 0 0;
  background-color: #FFF;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.cd-side-nav.nav-is-visible {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
  max-height: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.cd-side-nav > ul {
  padding: 0.6em 0;
}
.cd-side-nav > ul:last-of-type {
  padding-bottom: 0;
}
.cd-side-nav .cd-label, .cd-side-nav a {
  display: block;
  padding: 1em 5%;
}
.cd-side-nav .cd-label {
  text-transform: uppercase;
  font-weight: bold;
  color: #646a6f;
  font-size: 1rem;
  letter-spacing: .1em;
}
.cd-side-nav a {
  position: relative;
  color: #a1a1a1;
  font-size: 1.4rem;
}
.cd-side-nav ul.cd-top-nav > li:last-of-type > a {
  border-bottom: none;
}
.cd-side-nav > ul > li > a {
  padding-left: calc(5% + 24px);
  border-bottom: 1px solid rgba(55, 61, 68, 0.11);
}
.cd-side-nav > ul > li > .upload {
  display: block;
  margin: 0 5%;
  background-color: #1bd8b7;
  border-radius: .25em;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.39), inset 0 1px 0 rgba(255, 255, 255, 0.18);
  text-align: left;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 15px !important;
  letter-spacing: 1px;
  font-size: 11px;
  margin-top: -15px;
  margin-bottom: 12px;
}
.cd-side-nav > ul > li > a::before {
  /* icon before item name */
  position: absolute;
  content: '';
  left: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background: url(../img/cd-nav-icons.svg) no-repeat 0 0;
  background-size: 18px;
  background-position: 0px 0px;
}

.cd-side-nav > ul > li.overview > a::before {
  background-image: url(../img/home.png);
  background-size: 17px;
  background-position: 0px 0px;

}
.cd-side-nav > ul > li.trending > a::before {
  background-image: url(../img/trending.png);
  background-size: 19px;
  background-position: 0px 0px;
}
.cd-side-nav > ul > li.notice > a::before {
  background-image: url(../img/notice.png);
  background-size: 20px;
  background-position: -1px -1px;
}
.cd-side-nav > ul > li.manager > a::before {
  background-image: url(../img/manager.png);
  background-size: 23px;
  background-position: -2px -3px;
}
.cd-side-nav > ul > li.adsense > a::before {
  background-image: url(../img/adsense.png);
  background-size: 16px;
  background-position: 1px 1px;
}
.cd-side-nav > ul > li.logout > a::before {
  background-image: url(../img/logout.png);
  background-size: 16px;
  background-position: 1px 1px;
}
.cd-side-nav > ul > li.categ > a::before {
  background-image: url(../img/cats.png);
  background-size: 18px;
  background-position: 0px 0px;
}

.cd-side-nav > ul > li.page > a::before {
  background-image: url(../img/pages.png);
  background-size: 18px;
  background-position: 1px 0px;
}

.cd-side-nav > ul > li.channels > a::before {
  background-image: url(../img/browse.png);
  background-size: 18px;
  background-position: 0px 0px;
}

.cd-side-nav > ul > li.movies > a::before {
  background-image: url(../img/movies.png);
  background-size: 17px;
  background-position: 0px 0px;
}

.cd-side-nav > ul > li.messages > a::before {
  background-image: url(../img/msg.png);
  background-size: 17px;
  background-position: 1px 0px;
}

.cd-side-nav > ul > li.wl > a::before {
  background-image: url(../img/watch.png);
  background-size: 18px;
  background-position: 0px 0px;
}
.cd-side-nav > ul > li.history > a::before {
  background-image: url(../img/history.png);
  background-size: 16px;
  background-position: 0px 0px;
}
.cd-side-nav > ul > li.my > a::before {
  background-image: url(../img/my.png);
  background-size: 18px;
  background-position: 0px 0px;
}
.cd-side-nav > ul > li.profile > a::before {
  background-image: url(../img/profile.png);
  background-size: 18px;
  background-position: 0px 0px;
}
.cd-side-nav > ul > li.upgrade > a::before {
  background-image: url(../img/vip.png);
  background-size: 19px;
  background-position: 0px 0px;
}
.cd-side-nav > ul > li.premium > a::before {
  background-image: url(../img/premium.png);
  background-size: 20px;
  background-position: -1px -1px;
}
.cd-side-nav .count {
  /* notification badge */
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: calc(5% + 16px + 0.4em);
  background-color: #1bd8b7;
  border-radius: .25em;
  color: #ffffff;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  padding: 5px 8px 5px 8px !important;
}
.cd-side-nav .action-btn a {
  display: block;
  margin: 0 5%;
  padding: 1em 0;
  background-color: #1bd8b7;
  border-radius: .25em;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-align: left;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 15px;
  letter-spacing: 1px;
  font-size: 11px;
  font-family: Arial;
  margin-top: 3px;
}
.cd-side-nav .action-btn a::before {
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-side-nav {
    position: relative;
    float: left;
    top: auto;
    width: 110px;
    min-height: 100vh;
    padding-top: 55px;
    /* reset style */
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: none;
    border-right: 1px solid #d8d8d8;
  }
  .cd-side-nav.nav-is-visible {
    box-shadow: none;
  }
  .cd-side-nav.is-fixed {
    position: fixed;
  }
  .cd-side-nav > ul {
    /* reset style */
    padding: 0;
  }
  .cd-side-nav .cd-label {
    /* remove labels on minified version of the sidebar */
    display: none;
  }
  .cd-side-nav a {
    font-size: 1.2rem;
    text-align: center;
  }
  .cd-side-nav > ul > li > a {
    padding: calc(2.2em + 24px) 0 2.4em;
  }
  .cd-side-nav > ul > li > a::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 2.4em;
  }
  .cd-side-nav .active > a {
    /* current page */
    box-shadow: inset 3px 0 0 #1784c7;
    background-color: #33383e;
  }
  .cd-side-nav .action-btn a {
    margin: 1em 10% 0;
  }
  .cd-side-nav .count {
    height: 16px;
    border-radius: 50%;
    top: 2em;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: calc(50% + 5px);
    right: auto;
    width: 16px;
    color: white;
    padding: 2px 2px 0px 1px !important;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-side-nav {
    width: 200px;
    border-right: 1px solid #DAD8D8;
  }
  .cd-side-nav > ul {
    padding: 0.6em 0;
  }
  .cd-side-nav > ul > li:not(.action-btn):hover > a {
    background-color: #EFEFEF;
  }
  .cd-side-nav > ul > li > a {
    padding: 1em 1em 1em 42px;
    text-align: left;
    border-bottom: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Arial;
    font-weight: 600;
    cursor: pointer;
  }
  #showCats, #showPages{
    background-image: url(../img/arrow-down.png);
    background-repeat: no-repeat;
    background-position: 95% center;
  }
  .cd-side-nav > ul > li > a::before {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 18px;
  }
  .cd-side-nav .cd-label {
    display: block;
    padding: 1em 18px;
  }
  .cd-side-nav .action-btn {
    text-align: left;
  }
  .cd-side-nav .action-btn a {
    margin: 2px 18px;
  }
  .no-touch .cd-side-nav .action-btn a:hover {
    background-color: #1a93de;
  }
  .cd-side-nav .count {
    /* reset style */
    color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: .25em;
    padding: 4px 2px 0px 2px !important;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
    left: auto;
    box-shadow: none;
  }
}

.has-children ul {
  position: relative;
  width: 100%;
  display: none;
  background-color: #EAEAEA;
}
.has-children > a::after {
  /* arrow icon */
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  right: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/cd-arrow.svg);
}
.has-children.selected > ul {
  display: block;
}
.has-children.selected > a::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
@media only screen and (min-width: 768px) {
  .has-children {
    position: relative;
  }
  .has-children ul {
    top: 0;
    width: 100%;
    padding-left: 0;
  }
  .has-children ul a {
    text-align: left;
    border: none;
    padding: 1em;
  }
  .no-touch .has-children ul a:hover {
    background-color: rgba(255, 255, 255, 0.09);
  }
  .has-children > a::after {
    display: none;
  }
  .cd-side-nav .has-children.selected > a {
    /* focus state -> show sub pages */
    background-color: #33383e;
  }
  .cd-top-nav .has-children {
    position: relative;
    background-color: #FFF;
  }
  .cd-top-nav .has-children > a {
    height: 60%;
    padding: 0 calc(1.2em + 0px) 0 calc(1.8em + 22px) !important;
    line-height: 29px;
    border-radius: 3px;
    margin-top: 12px;
    float: left;
    color: #A1A1A1;
    font-family: initial;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #cfcfcf;
  }
  .cd-top-nav .has-children > a::after {
  }
  .cd-top-nav .has-children ul {
    background-color: #fff;
    width: 200px;
    top: 100%;
    right: 0;
    left: auto;
    box-shadow: none;
    border: 1px solid #e1e1e1;
    margin-top: 1px;
  }
  .cd-top-nav .has-children ul a {
    padding-left: 18px !important;
    transition: all 0.3s;
  }
}
@media only screen and (min-width: 1170px) {
  .has-children > ul {
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #DEDEDE;
  }
  .has-children ul a {
    padding-left: 18px;
    background-color: #EAEAEA;
    border-top: 1px solid #DEDEDE;
  }

  .has-children ul a:hover {
    background-color: #EFEFEF;
  }
  .has-children.active > ul {
    /* if the item is active, make the subnavigation visible */
    position: relative;
    display: block;
    /* reset style */
    left: 0;
    box-shadow: none;
  }
  .no-touch .cd-side-nav .has-children:hover > ul, .cd-side-nav .has-children.hover > ul {
    /* show subnavigation on hover *
    display: block;
    opacity: 1;
    visibility: visible;*/
  }
}

/****************** Home Page Style *************************/
#home{
  border: 0;
  width: 100%;
  margin: 35px auto;
  text-align: center;
}


.list-group .item {
    margin-bottom: 30px;
}
.large-3 {
  width: 22%;
  display: inline-block;
  margin: 5px 5px 10px 5px;
}
.thumb-border {
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.05);
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
}
.post .post-thumb {
    position: relative;
    height: 175px;
    overflow: hidden;
}
.post .post-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hover-posts {
    visibility: hidden;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 5;
    top: 0;
    text-align: center;
    transform: scale(0);
    background-image: url(../img/big-play.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.post .post-thumb:hover a.hover-posts {
  visibility: visible;
  transform: scale(1); 
}
.hover-posts span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
}
.list-group .item .post .post-thumb .hover-posts span i {
    font-size: 18px !important;
}
.hover-posts span i {
    color: #fff;
    font-size: 36px;
    display: block;
    margin-bottom: 5px;
}
.post .post-thumb .video-stats {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    padding: 0 10px;
}
.vip_only{
  background-color: #7dcf31 !important;
  position: absolute;
  top: 12px;
  right: 10px;
  border-radius: 3px;
  padding: 5px 8px 4px 8px;
}
.vip_only h6{
  color: #fff !important;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
.clearfix::before, .clearfix::after {
    content: ' ';
    display: table;
    flex-basis: 0;
    order: 1;
}
.post .post-thumb .video-stats .thumb-stats:first-of-type {
    margin-right: 5px;
    padding: 0 6px;
}
.post .post-thumb .video-stats .thumb-stats {
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    padding: 0 8px;
    height: 30px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.pull-left {
    float: left;
}
.post .post-thumb .video-stats .thumb-stats h6 {
    color: #7e7e7e;
    line-height: 22px;
    font-size: 13px;
    font-weight: 600;
    font-family: Arial;
    font-style: italic;
}
.post .post-thumb .video-stats .thumb-stats {
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    padding: 0 8px;
    height: 30px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.post .post-thumb .video-stats .thumb-stats i {
    display: inline-block;
    color: #fff;
    margin-right: 5px;
    font-size: 14px;
}
.post .post-thumb .video-stats .thumb-stats span {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    font-family: Arial;
    line-height: 22px;
}
.post .post-thumb .video-stats .thumb-stats {
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    padding: 0 6px;
    height: 22px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.pull-right {
    float: right;
}
.clearfix::after {
    clear: both;
}
.post .post-des {
    padding: 5px 0 10px 8px;
}
.post .post-des h6 {
    margin-bottom: 5px;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 5px;
}
.post .post-des h6 a {
    color: #686767 !important;
    font-size: 12px;
    font-weight: 600;
    font-family: Arial;
}
.post .post-des .post-stats {margin-right: 15px;}
.post .post-des .post-stats .uploader{
  background-image: url(../img/uploader.png);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 2px center;
  padding-left: 20px;
  font-family: Arial;
  font-weight: 600;
  font-size: 11px;
  color: #aaa;
}
.post .post-des .post-stats .views{
  background-image: url(../img/views.png);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 2px center;
  padding-left: 20px;
  font-family: Arial;
  font-weight: 600;
  font-size: 11px;
  color: #aaa;
}
.post .post-des .post-stats p {
    margin-bottom: 0;
    line-height: 11px;
}
.post .post-des .post-stats p span {
    display: inline-block;
    font-size: 11px;
    color: #aaaaaa;
}



.col-lg-4 {
    width: 32%;
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
}

.well {
    min-height: 20px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: #FFF;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0px 2px rgba(0,0,0,.2);
}

.well a, .well p, .well span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-uploader {
    float: left;
}
.video-uploader a{
    padding: 0px 0px 0px 5px;
    color: #A19E9E;
    font-size: 12px;
    font-family: Arial;
    font-weight: 600;
}
.video-uploader a:hover{
  color: #686666;
}

.video-uploader img{
    height: 9px;
    width: 13px;
    border-radius: 1px;
}

.video-views {
    color: #aaa;
}
.video-views {
    font-size: 13px;
    margin-bottom: -3px;
}

.pull-left {
    float: left !important;
}

.video-views {
    color: #cecece !important;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
    padding-top: 2px;
    padding: 2px 5px 0px 0px;
}

.thumb-overlay {
    position: relative;
}

.video-title {
    text-align: left;
    padding-right: 5px;
    padding-left: 5px;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: ;
    padding-top: 5px;
    padding-bottom: 8px;
    font-family: Arial;
    font-size: 12px;
    font-weight: 600;
    color: #27a8ef;
    margin-top: 5px;
}

.video-title:hover{
  color: #7acbf8;
}

.img-responsive {
    width: 100%;
    display: block;
    max-width: 100%;
    height: 175px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.hd-text-icon {
    position: absolute;
    top: 84%;
    left: 5px;
    border: none;
    background-color: #fe4f4f;
    color: #FCFCFC;
    padding: 2px 5px 2px 5px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0;
}

.duration {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: none;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}



/* Upload Page Style */
.toast_upload{
  position:fixed;
  z-index:10004;
  bottom:0;
  margin:16px;
  padding:16px;
  border-radius:4px;
  background-color:rgba(0,0,0,.8);
  color:#fff;
  font-size:14px;
  font-weight:300;
  width: 18%;
  display: none;
}

.toast_upload .speed{
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.toast_upload .speed span{

}
.toast_upload .speed span b{
  color: #ffff00;
  font-family: Arial;
}
.prgress_bar{
  height: 2px;
  width: 100%;
  background-color: #4a4a4a;
  position: relative;
  float: left;
}
.prgress_bar span{
  position: absolute;
  background-color: #e4e1e1;
  height: 2px;
}
.topUpload{
  margin: 65px auto;
  width: 95%;
}
.topUpload .dragzone, .adsense_revenue{
  border-top: 3px solid #1bd8b7;
  float: left;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  padding: 15px 15px 0px 15px;
  margin-bottom: 25px;
}
.topUpload .dragzone .drag-footer{
  margin: 12px -15px -15px -15px;
  border-top: 1px solid #e7e8e9;
  padding: 10px;
  color: inherit;
  font-size: 90%;
  background: #f7f9fa;
  height: 40px;
  line-height: 20px;
}
.topUpload .dragzone .drag-footer .para{
  float: left;
  width: 40%;
}
.topUpload .dragzone .drag-footer .max-size{
  float: right;
  font-size: 11px;
  color: #1bd8b7;
  font-family: initial;
  text-shadow: 0px 1px 0px #FFF;
}
.topUpload .dragzone .drag-footer .max-size b{font-weight: bold;}

.fileUpload {
  background: #fff;
  border: 1px solid #afb1b3;
  display: block;
  margin: 2% 0 5% 0;
  width: 100%;
  height: 40px;
}
.fileUpload .fileBtn {
  background: #afb1b3;
  cursor: pointer;
  float: left;
  text-align: center;
  width: 33%;
  height: 39px;
  line-height: 40px;
  font-family: Open-Sans;
  font-size: 12px;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.fileUpload .fileName {
  float: right;
  overflow: hidden;
  white-space: nowrap;
  width: 67%;
  text-align: center;
  color: #6B6A6A;
  line-height: 40px;
}
.helper{
  position: absolute;
  float: right;
  margin-top: -40px;
  font-size: 11px;
  color: #d22e2e;
  right: 15px;
}
.fileUpload::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.topUpload .Shortdetails, .uploading_status{
  border-top: 3px solid #1bd8b7;
  float: right;
  width: 32%;
  background: #fff;
  border-radius: 2px;
  padding: 15px;
}
.vid_details{
  width: 100%;
  position: relative;
  margin: 0px auto;
  float: left;
}
.vid_details .video_info{
  border-top: 3px solid #1bd8b7;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  padding: 15px;
  float: left;
  margin-bottom: 65px;
}
.vid_details .video_info #FetchVideo{
  float: right;
  position: absolute;
  right: 30px;
  top: 33px;
  font-size: 11px;
  text-transform: uppercase;
  color: #575757;
  font-weight: 600;
}

.vid_details .video_info input[type="text"], .vid_details .video_info textarea{
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
  border: 1px solid #e4e5e6;
  padding-left: 10px;
  background-color: #fff;
  transition: all 0.5s;
  color: #818181;
  border-radius: 3px;
  font-size: 12px;
  font-family: Arial;
  font-weight: 600;
  box-shadow: inset 0px 0px 3px RGBA(0, 0, 0, 0.12);
}
.vid_details .video_info textarea{
  border-radius: 3px;
  resize: none;
  height: 120px;
  padding-top: 12px;
  line-height: 20px;
}
.vid_details .video_info input[type="text"]:hover, .vid_details .video_info input[type="text"]:focus{
  border: 1px solid RGBA(121, 121, 122, 0.6);
}
.vid_details .video_info textarea:hover, .vid_details .video_info textarea:focus{
  border: 1px solid RGBA(121, 121, 122, 0.6);
}

.select_group{
  margin-bottom: 15px;
}
.select_group select{
  appearance: none;
  -moz-appearance: none;
  background-image: url(../img/arrow-down.png);
  background-repeat: no-repeat;
  background-position: 98.5% 16px;
  cursor: pointer;
  border-radius: 3px;
  outline: 0 !important;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #e4e5e6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  font-size: 14px;
  line-height: 1.42857;
  color: #818181;
  display: block;
}

.video_info button{
  color: #2f353b;
  background: 0 0;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #2f353b;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 12px;
  font-family: Open-Sans;
  width: 100%;
  height: 40px;
  letter-spacing: 0.5px;
  transition: all 0.2s;
}

.video_info button:hover{
  border-color: #2f353b;
  color: #FFF;
  background-color: #2f353b;
}
.group{
  position: relative;
  display: table;
  border-collapse: separate;
  margin-bottom: 20px;
  width: 100%;
}
.group span{
  padding: 6px 12px;
  line-height: 1;
  color: #ADADAD;
  border-radius: 2px;
  background: #ececec;
  border-color: #e3e3e3 !important;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  font-family: initial;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
.group input{
  z-index: 2;
  float: left;
  margin-bottom: 0;
  cursor: not-allowed;
  opacity: 1;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #686868;
  background-color: #f2f2f2;
  background-image: none;
  border: 1px solid #efefef;
  border-radius: 0px 4px 3px 0px;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.progress {
  border: 0;
  height: 10px;
  -webkit-border-radius: 50em !important;
  -moz-border-radius: 50em !important;
  border-radius: 50em !important;
  position: relative;
  overflow: hidden;
  background-color: #ececec;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  margin-top: -5px;
}
.progress-bar-success {
    background-color: #5cb85c;
    width: 40%;
}
.progress-bar {
  float: left;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #1bd8b7;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.storage{
  font-family: initial;
  font-size: 11px;
  font-weight: 600;
  float: right;
  margin-right: 1%;
  margin-top: 2px;
  color: #aaa;
}

/*************************** Upload Style ***************************/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: none;
    outline: none;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #722040;
}


/* style 2 */

.inputfile-2 + label {
    color: #d3394c;
    border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #722040;
}


/* style 3 */

.inputfile-3 + label {
    color: #d3394c;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #722040;
}


/* style 4 */

.inputfile-4 + label {
    color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d3394c;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #722040;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 5 */

.inputfile-5 + label {
  color: #6e6e6e;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #474646;
}

.inputfile-5 + label figure {
  width: 100px;
  height: 135px;
  display: block;
  margin: 0 auto 10px;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #ededed;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-bottom: 20px solid #931111;
    border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
  width: 100%;
  height: 100%;
  fill: #868081;
}

.inputfile-5 + label svg:hover {
  fill: #666464;
}


/* style 6 */

.inputvideo_file + label {
    color: #d3394c;
}

.inputvideo_file + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
}

.inputvideo_file:focus + label,
.inputvideo_file.has-focus + label,
.inputvideo_file + label:hover {
    border-color: #722040;
}

.inputvideo_file + label span,
.inputvideo_file + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputvideo_file + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputvideo_file + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputvideo_file:focus + label strong,
.inputvideo_file.has-focus + label strong,
.inputvideo_file + label:hover strong {
    background-color: #722040;
}

@media screen and (max-width: 50em) {
  .inputvideo_file + label strong {
    display: block;
  }
}
.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}


/* Header */

.codrops-header {
  padding: 2em 1em 4em;
  text-align: center;
}

.codrops-header h1 {
  margin: 0.5em 0 0;
  letter-spacing: -1px;
  font-size: 3em;
  line-height: 1;
}

.codrops-header h1 span {
  display: block;
  padding: 0.5em 0 1em;
  color: #999;
  font-weight: normal;
  font-size: 0.45em;
}


/* Top Navigation Style */

.codrops-links {
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

.codrops-links::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  content: '';
  -webkit-transform: rotate3d(0, 0, 1, 22.5deg);
  transform: rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
  display: inline-block;
  margin: 0.5em;
  padding: 0em 0;
  width: 1.5em;
  text-decoration: none;
}

.codrops-icon span {
  display: none;
}

.codrops-icon:before {
  margin: 0 5px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'codropsicons';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
  content: "\e001";
}

.codrops-icon--prev:before {
  content: "\e004";
}


/* Demo links */

.codrops-demos {
  margin: 2em 0 0;
}

.codrops-demos a {
  display: inline-block;
  margin: 0 0.5em;
}

.codrops-demos a.current-demo {
  color: #333;
}


/* Content */

{
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 3em 0;
}

footer {
  color: #b39295;
  margin-top: 40px;
}

footer a:hover,
footer a:focus {
  color: #4b0f31;
}

.box {
  background-color: #fbf9f9;
  padding: 6.25rem 1.25rem;
  border: 2px dashed silver;
  border-radius: 2px;
  text-align: center;
}

.box + .box {
  margin-top: 2.5rem;
}


/* Related demos */

.content--related {
  text-align: center;
  font-weight: bold;
  padding-top: 4em;
}

.media-item {
  display: inline-block;
  padding: 1em;
  vertical-align: top;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.media-item__img {
  max-width: 100%;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
  opacity: 1;
}

.media-item__title {
  margin: 0;
  padding: 0.5em;
  font-size: 1em;
}

@media screen and (max-width: 50em) {
  .codrops-header {
    padding: 3em 10% 4em;
  }
}

@media screen and (max-width: 40em) {
  .codrops-header h1 {
    font-size: 2.8em;
  }
}



/*************************** Channel Style ***************************/
.channel_box{
  width: 70%;
  position: absolute;
  margin-right: 5%;
  margin-left: 5%;
}

.channel_box .channel_header{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 180px;
}

.channel_box .channel_header .channel_profile{
  float: left;
  text-align: center;
  width: 25%;
}

.channel_box .channel_header .channel_profile .channel_avatar{
  margin-top: 0px;
  border-radius: 2px;
  border-top: 0px;
  margin-bottom: 20px;
}

.channel_box .channel_header .channel_profile .channel_avatar img{
  height: 65px;
  width: 70px;
  border: 1px solid rgba(180, 179, 179, 0.49);
  border-top: 0px;
}

.channel_box .channel_header .channel_profile .channel_name h2{
  color: #FFF;
  font-family: Tahoma;
  font-size: 16px;
  text-shadow: 0px 1px 1px #000;
  font-weight: 600;
}

.channel_box .channel_header .channel_counter{
  float: right;
  margin-top: 63px;
}

.channel_box .channel_header .channel_counter .text_top{
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  color: #f3f3f3;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.channel_box .channel_header .channel_counter .text_bottom{
  text-align: center;
  width: 100%;
  float: right;
  color: #dadada;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
}

.channel_box .channel_header .channel_counter .channel_subscribers{
  float: left;
}

.channel_box .channel_header .channel_counter .channel_v_views{
  float: right;
}

.channel_box .channel_links{
  background-color: #FFF;
  width: 100%;
  float: left;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.channel_box .channel_links ul{
  margin-left: 10px;
}

.channel_box .channel_links ul li{
  float: left;
  margin-right: 10px;
}

.channel_box .channel_links ul li a{
  border: none;
  padding: 6px 10px 6px;
  cursor: pointer;
  background: none;
  color: #656565;
  font-size: 12px;
  font-weight: 600;
  height: 29px;
  line-height: 29px;
  vertical-align: bottom;
  box-sizing: content-box;
  border-radius: 0;
  display: inline-block;
  font-family: Arial;
  text-transform: uppercase;
}

.channel_box .channel_links ul li a:hover{color: #414141;}

.subscribers_counter{
  max-width: 100%;
  white-space: nowrap;
  display: inline-block;
  float: right;
  margin-right: 20px;
}

.subscribers_counter button{
  height: 24px;
  max-width: 100%;
  color: #fefefe;
  background-color: #1bd8b7;
  display: inline-block;
  border: solid 1px transparent;
  padding: 0px 5px 0px 25px;
  outline: 0;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-family: 'Lato', sans-serif;
  background-image: url(../img/play.png);
  background-repeat: no-repeat;
  background-position: 2px 1px;
  background-size: 20px;
}
.subscribers_counter button:hover{
  background-color: #1276b4;
}

.subscribers_counter span{
  display: inline-block;
  height: 24px;
  line-height: 22px;
  padding: 0 6px;
  color: #8C8C8C;
  font-size: 12px;
  text-align: center;
  margin-left: -4px;
  border-top: 1px solid #B9B9B9;
  border-right: 1px solid #B9B9B9;
  border-bottom: 1px solid #B9B9B9;
  border-left: none;
  background-color: #fafafa;
  vertical-align: middle;
  border-radius: 0 2px 2px 0;
  font-family: 'Ubuntu', sans-serif;
}

.channel_box .channel_body{
  float: left;
  width: 100%;
  margin-top: 30px;
}

.c_videos{
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  padding: 0px;
  width: 75%;
  float: left;
  text-align: center;
}

.c_videos .channel_description{
  padding: 15px;
  text-align: left !important;
}
.c_videos .channel_description h2, .c_videos .channel_links h2{
  font-weight: 600;
  font-family: Arial;
  font-size: 13px;
  color: #717171;
  text-align: left;
}
.c_videos .channel_description hr, .c_videos .channel_links hr{
  width: 12%;
  float: left;
  border: 2px solid #ffbd00;
}
.c_videos .channel_description p{
  width: 100%;
  float: left;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 10px;
}

.c_videos .channel_links{
  padding: 15px;
}
.c_videos .channel_links ul{
  float: left;
  margin: 0;
  width: 100%;
}
.c_videos .channel_links ul li{
  width: 100%;
  text-align: left;
}
.c_videos .channel_links ul li a{
  padding: 5px;
  color: #1f9bd5;
  text-transform: none;
  font-size: 13px;
  position: relative;
  padding-left: 22px;
}
.c_videos .channel_links ul li a img{
  position: absolute;
  margin-top: 7px;
  margin-right: 14px;
  left: 0px;
}
.c_videos .send_message{
  padding: 10px;
}
.c_videos .send_message h2{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #717171;
  padding-bottom: 8px;
  text-transform: uppercase;
}
.c_videos .send_message hr{
  border: 2px solid #ffb400;
  width: 15%;
  margin-bottom: 20px;
}
.c_videos .send_message input[type='text']{
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #b9b9b9;
  font-weight: 600;
  font-family: Arial;
  font-size: 12px;
  color: #727171;
  cursor: not-allowed;
}
.c_videos .send_message textarea{
  width: 100%;
  height: 140px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #b9b9b9;
  font-weight: 600;
  font-family: Arial;
  font-size: 12px;
  color: #727171;
  padding-top: 10px;
  resize: none;
  line-height: 25px;
}
.c_videos .send_message button{
  width: 100%;
  height: 35px;
  background-color: transparent;
  border: 1px solid #4a4a4a;
  transition: all 0.3s;
  font-family: Arial;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #4a4a4a;
  cursor: pointer;
}
.c_videos .send_message button:hover{
  background-color: #4a4a4a;
  color: #FFF;
}

.c_videos .video_box{
  width: 30%;
  display: inline-block;
  position: relative;
  margin: 1%;
  margin-top: 10px;
  border: 1px solid #ececec;
  border-radius: 3px;
}
.c_videos .video_box .c_v_img{
  width: 100%;
}
.c_videos .video_box .c_v_img img{
  min-width: 100%;
  max-width: 100%;
  min-height: 111px;
  max-height: 111px;
  height: 111px;
  border-radius: 2px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.c_videos .video_box .v_time{
  margin-top: -22px;
  position: absolute;
  width: auto;
  left: 78%;
  padding: 1px 5px 1px 5px;
  background: RGBA(2, 2, 2, 0.5);
  color: #fff;
  font: 11px arial;
  font-weight: bold;
  opacity: 0.9;
}
.c_videos .video_box .v_time span{}
.c_videos .video_box .c_v_title{
  padding-top: 2px;
}
.c_videos .video_box .c_v_title a{
  display: block;
  text-align: left;
  padding-left: 5px;
  line-height: 1.3em;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  max-height: 2.6em;
  font-size: 12px;
  margin-bottom: 1px;
  max-width: 196px;
  color: #248edd;
  font-family: Arial;
  font-weight: 600;
  height: 30px;
}

.c_videos .video_box .c_v_stats{
  border-top: 1px solid #ececec;
  margin-top: 5px;
  padding-top: 5px;
}

.c_videos .video_box .c_v_stats .c_v_date{
  float: left;
  padding-left: 5px;
  padding-bottom: 8px;
}
.c_videos .video_box .c_v_stats .c_v_date span{
  font-family: Tahoma;
  font-size: 11px;
  color: #747474;
}

.c_videos .video_box .c_v_stats .c_v_views{
  float: right;
  padding-right: 5px;
  padding-bottom: 8px;
}


.c_videos .video_box .c_v_stats .c_v_views span{
  font-family: Tahoma;
  font-size: 11px;
  color: #747474;
}

.channel_box .channel_body .related_channels{
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  padding: 10px;
  width: 22%;
  float: right;
}

.channel_box .channel_body .related_channels .r_c_list{

}

.channel_box .channel_body .related_channels .r_c_list ul{
  margin-top: 2px;
}

.channel_box .channel_body .related_channels .r_c_list ul li{
  position: relative;
  margin-bottom: 13px;
  font-size: 11px;
  float: left;
}

.channel_box .channel_body .related_channels .r_c_list ul li .r_c_avatar{
  float: left;
}

.channel_box .channel_body .related_channels .r_c_list ul li .r_c_avatar img{
  height: 40px;
  width: 43px;
}
.channel_box .channel_body .related_channels .r_c_list ul li .r_c_name_subscribe{
  float: left;
  margin-left: 10px;
}
.channel_box .channel_body .related_channels .r_c_list ul li .r_c_name_subscribe .r_c_name{
  margin-bottom: 7px;
}
.channel_box .channel_body .related_channels .r_c_list ul li .r_c_name_subscribe .r_c_name a{
  font-family: Roboto;
  color: #222;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
}
.channel_box .channel_body .related_channels .r_c_list ul li .r_c_name_subscribe .r_c_subscribe{}
.channel_box .channel_body .related_channels .r_c_list ul li .r_c_name_subscribe .r_c_subscribe a{
  padding: 0 8px 0 8px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  color: #666;
  display: inline-block;
  outline: 0;
  font-weight: 500;
  font-size: 11px;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  font-family: Roboto,arial,sans-serif;
  line-height: 17px;
}


/********************** channel Settings Style **********************/
.blue{
  background-color: #3598dc;
}

.red{
  background-color: #d81b1b;
}

.green{
  background-color: #1ca8b4;;
}

.yellow{
  background-color: #ffb848;;
}

.message_icon{
  background-image: url(../img/icons/message_icon.png);
  background-repeat: no-repeat;
  background-position: 10px 12px;
  background-size: 65px;
}

.users_icon{
  background-image: url(../img/icons/users_icon.png);
  background-repeat: no-repeat;
  background-position: 10px 12px;
  background-size: 65px;
}

.eye_icon{
  background-image: url(../img/icons/eye_icon.png);
  background-repeat: no-repeat;
  background-position: 10px 12px;
  background-size: 65px;
}

.history_icon{
  background-image: url(../img/icons/history_icon.png);
  background-repeat: no-repeat;
  background-position: 10px 23px;
  background-size: 52px 45px;
}

.col_box{
  padding: 5px;
  width: 32.4%;
  margin-bottom: 25px;
  overflow: hidden;
  border-radius: 2px;
  text-align: right;
  padding-right: 10px;
  display: inline-block;
}

.col_box h3{
  padding-top: 15px;
  text-align: right;
  font-size: 25px;
  line-height: 36px;
  margin-bottom: 0;
  font-weight: 300;
  color: #FFF;
  font-family: Ubuntu;
}

.col_box p{
  font-weight: 300;
  color: #FFF;
  font-family: Tahoma;
  font-size: 12px;
  padding-bottom: 15px;
}

.channel_settings_box{
  width: 85%;
  margin: 40px auto;
}

.channel_settings_box .quick_stats{
  width: 100%;
  text-align: center;
}

.channel_settings_box .edit_channel_box{
  padding: 10px;
  background-color: white;
  width: 98%;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.form_control{
  display: block;
  width: 100%;
  margin-top: 10px;
}

.form_control label{
  float: left;
  width: 100%;
  padding-bottom: 8px;
  font-family: Arial;
  font-size: 13px;
  font-weight: 600;
  color: #848484;
}

.form_control input[type="text"], .form_control input[type="password"]{
  width: 100%;
  height: 35px;
  border: 1px solid #c9c9c9;
  padding-left: 10px;
  font-family: Tahoma;
  font-size: 13px;
  border-radius: 2px;
  color: #9b9b9b;
}

.channel_settings_box .edit_channel_box .form_control input[type="file"]{
  width: 100%;
  height: 35px;
  font-family: Tahoma;
  font-size: 13px;
  border-radius: 2px;
  color: #ececec;
  background-color: #a5a5a5;
}

.channel_settings_box .edit_channel_box .form_control textarea{
  width: 100%;
  height: 135px;
  border: 1px solid #c9c9c9;
  padding-left: 10px;
  font-family: Tahoma;
  font-size: 13px;
  border-radius: 2px;
  color: #9b9b9b;
  padding-top: 10px;
  resize: none;
}

.form_control button{
  -webkit-box-shadow: 0 3px 0 0 #00ae94;
  box-shadow: 0 3px 0 0 #00ae94;
  background-color: #00cdae;
  -moz-box-sizing: border-box;
  overflow: hidden;
  height: 53px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 1px #888;
  color: #fff;
  width: 100%;
  border: none;
  cursor: pointer;
}

/********************** User Profile Style **********************/
.profile_box{
  width: 80%;
  margin: 30px auto;
}

.profile_box .user_details{
  width: 35%;
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  padding: 10px;
  float: left;
}

.profile_box .user_details .profile_avatar{
  margin: 10px;
  text-align: center;
}

.profile_box .user_details .profile_avatar img{
  border-radius: 50%;
  height: 120px;
  width: 120px;
  border: 3px solid #d1d1d1;
}

.profile_box .user_details .profile_username{
  text-align: center;
  margin-top: 20px;
}

.profile_box .user_details .profile_username h2{
  font-family: Roboto;
  font-size: 18px;
  color: #626060;
  cursor: pointer;
}

.profile_box .edit_info{
  width: 60%;
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  padding: 10px;
  float: right;
}


/*************************** Browse Channels Style ***********************/
.browse_channels{
  padding: 10px;
  margin: 30px auto;
  width: 100%;
  text-align: center;
}

.b-c-div {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  width: 30%;
  margin-right: 8px;
  margin-left: 8px;
  display: inline-block;
  margin-bottom: 10px
}
.b-c-bg {
  border-bottom: 1px solid #e1e8ed;
  border-radius: 4px 4px 0 0;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 80px;
}
.b-c-block {
    display: block !important;
}
.b-c-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.b-c-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -40px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.b-c-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.b-c-divUser {
    margin: 5px 0 0;
    position: relative;
}
.b-c-divName {
  margin-top: -3px;
  position: absolute;
  left: 30%;
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  color: #535353;
}
.b-c-divName a {
    font-weight: 600;
    font-family: Arial;
    font-size: 13px;
    color: #30b6cc;
}
.b-c-divName img {
  height: 10px;
  width: 14px;
  border-radius: 1px;
}
.b-c-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
.b-c-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.b-c-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.b-c-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.b-c-ArrangeSizeFit a{
  color: #
}
.b-c-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.b-c-StatValue {
  font-family: Roboto;
  color: #454545;
  padding-top: 5px;
    display: block;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.b-c-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}
.subscribe-button{
  background-color: #F8F8F8;
  padding: 3px 5px 3px;
  border-radius: 2px;
  font-family: Roboto;
  font-size: 11px;
  color: #626262;
  border: 1px solid lightgray;
}

/*************************** Watch Later Style ***********************/
.watch_later_box{
  border: 0;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-sizing: border-box;
  margin: 25px auto;
  width: 80%;
  padding-bottom: 10px;
}

.watch_later_box table{
  width: 100%;
}

.watch_later_box table tr{
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
  margin-top: 10px;
}

.watch_later_box table tr td{
  padding-top: 4px;
  padding-bottom: 4px;
}

.watch_later_box table tr .wl_id{
  width: 20px;
  font-family: Roboto;
  color: #8c8c8c;
  max-width: 20px;
  text-align: center;
  font-size: 13px;
  float: left;
  height: 100%;
  display: inline-block;
  line-height: 40px;
  padding-left: 5px;
}

.watch_later_box table tr .thumb{
  width: 9%;
}

.watch_later_box table tr .thumb img{
  width: 100%;
  height: 45px;
}

.watch_later_box table tr .wl_info{
  width: 80%;
  line-height: 25px;
}

.watch_later_box table tr .wl_info .wl_title{
  float: left;
  padding-left: 10px;
  width: 100%;
}

.watch_later_box table tr .wl_info .wl_title a{
  color: #504F4F;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.3em;
  font-family: Arial, sans-serif;
}

.watch_later_box table tr .wl_info .wl_uploader{
  float: right;
  width: 100%;
  padding-left: 15px;
}

.watch_later_box table tr .wl_info .wl_uploader p{
  color: #989898;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.3em;
  font-family: Roboto;
}

.watch_later_box table tr .wl_info .wl_uploader p a{
  color: #187ab0
}

.watch_later_box table tr .wl_time{
  float: right;
  text-align: right;
  width: auto;
  padding-right: 10px;
  font-family: Roboto;
  font-size: 14px;
  color: #8f8f8f;
  line-height: 40px;
}

/*********** Contact Page Style *************/
.contact_page{
  background-color: #FFF;
  padding: 10px;
  width: 60%;
  margin: 50px auto;
  box-shadow: 0px 1px 2px RGBA(0, 0, 0, 0.1);
}

.contact_page .contact_header{
  padding: 10px;
  text-align: center;
}
.contact_page .contact_header h2{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #717171;
  padding-bottom: 8px;
  text-transform: uppercase;
}
.contact_page .contact_header hr{
  border: 2px solid #ffb400;
  width: 15%;
}
.contact_page .contact_body{
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}
.contact_page .contact_body input[type="text"], .contact_page .contact_body textarea{
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #bcbcbc;
  border-radius: 2px;
  font-weight: 600;
  font-family: Arial;
  font-size: 12px;
  color: #898787;
  margin-top: 5px;
}

.contact_page .contact_body textarea{
  padding-top: 8px;
  height: 160px;
}

.contact_page .contact_footer{
  padding: 10px;
  margin-top: 10px;
}

.contact_page .contact_footer button{
  height: 40px;
  width: 100%;
  border: 1px solid #ffb400;
  background-color: transparent;
  font-weight: 600;
  font-family: Arial;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffb400;
  cursor: pointer;
  transition: all 0.3s;
}

.contact_page .contact_footer button:hover{
  background-color: #ffb400;
  color: #FFF;
}

/***************** Video Manager style *****************/
.videos_manager{
  background-color: #FFF;
  padding: 10px;
  margin: 50px auto;
  width: 80%;
  box-shadow: 0px 1px 2px RGBA(0, 0, 0, 0.11);
}
.videos_manager table{
  width: 100%;
}
.videos_manager table tr{
  border-bottom: 1px solid #ececec;
}
.videos_manager table tr td{
  text-align: center;
  padding-bottom: 14px;
  padding-top: 15px;
}

.videos_manager table tr td .video_preview{
  width: 100%;
}
.videos_manager table tr td .video_preview img{
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
}

.videos_manager table tr td .video_title{
  float: left;
  position: absolute;
  top: 40%;
  margin-left: 3%;
}
.videos_manager table tr td .video_title a{
  font-weight: 600;
  font-family: Arial;
  font-size: 13px;
  color: #535151;
}

.videos_manager table tr td .video_option{
  position: absolute;
  top: 40%;
  right: 1%;
}

.videos_manager table tr td .video_option a{
  background-color: #f8f8f8;
  padding: 2px 8px 2px 8px;
  border: 1px solid lightgray;
  font-weight: 600;
  font-family: Arial;
  font-size: 11px;
  color: #807c7c;
  text-transform: uppercase;
}

/************* Video Stats style *************/
.video_stats{
  width: 95%;
  margin: 50px auto;
}

.panel{
  background: #171717;
  border-color: transparent;
  color: white;
  border-radius: 3px;
  margin-bottom: 20px;
}

.panel-heading{
  background: #383839;
  color: white;
  border-bottom-color: transparent;
  padding: 15px;
  font-weight: 600;
  font-family: Arial;
  font-size: 13px;
  text-transform: uppercase;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

/************* Edit Video style *************/
.edit_video_box{
  background-color: #FFF;
  padding: 10px;
  margin: 50px auto;
  width: 75%;
  box-shadow: 0px 1px 2px RGBA(0, 0, 0, 0.13);
}

.form_box{
  width: 100%;
  display: table;
}
.form_box label{
  width: 100%;
  float: left;
  margin-bottom: 5px;
  font-family: Arial;
  font-size: 13px;
  color: #838383;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.form_box input[type='text']{
  height: 40px;
  width: 100%;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #B3B3B3;
  font-weight: 600;
  font-family: Arial;
  font-size: 12px;
  color: #6b6b6b;
}
.form_box textarea{
  height: 140px;
  width: 100%;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #B3B3B3;
  font-weight: 600;
  font-family: Arial;
  font-size: 13px;
  color: #6b6b6b;
  padding-top: 10px;
  line-height: 18px;
}
.form_box select{
  height: 40px;
  width: 100%;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #B3B3B3;
  font-weight: 600;
  font-family: Arial;
  font-size: 13px;
  color: #6b6b6b;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/arrow-down.png);
  background-repeat: no-repeat;
  background-position: 98% center;
  cursor: pointer;
}
.form_box select option{padding: 10px;}

.form_box input[type='file']{
  height: 40px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #B3B3B3;
  font-weight: 600;
  font-family: Arial;
  font-size: 12px;
  color: #6b6b6b;
}

.form_box button{
  color: #2f353b;
  background: 0 0;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #2f353b;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 12px;
  font-family: Open-Sans;
  width: 100%;
  height: 40px;
  letter-spacing: 0.5px;
  transition: all 0.2s;
}

.form_box button:hover{
  border-color: #2f353b;
  color: #FFF;
  background-color: #2f353b;
}

.page_box{
  width: 80%;
  background-color: #FFF;
  padding: 10px;
  margin: 50px auto;
  box-shadow: 0px 1px 2px RGBA(0, 0, 0, 0.11);
}
.page_box .page_header{
  padding: 10px;
  text-align: center;
}
.page_box .page_header h2{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #717171;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.page_box .page_header hr{
  border: 2px solid #ffb400;
  width: 15%;
}
.page_box .page_body{
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

.page_box .page_body img{
  width: 100%;
  max-width: 100%;
}

/*********************** Mailbox Style ********************/
.mailbox{
  width: 90%;
  margin: 50px auto;
  padding: 10px;
  background-color: #FFF;
  box-shadow: 0px 1px 2px RGBA(0, 0, 0, 0.17);
}
.mailbox table{
  border: 1px solid #CCC;
  margin-bottom: 0;
  width: 100%;
}

.mailbox table th{
  border: 1px solid #ccc;
  border-right: 0;
  height: 40px;
  line-height: 40px;
  font-family: Arial;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  color: #5a5a5a;
  background: rgb(237,237,237);
  background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(222,222,222,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(222,222,222,1)));
  background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
  background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
  background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
  background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
}

.mailbox table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #CCC;
  font-family: Arial;
  font-size: 12px;
  font-weight: 600;
  color: #696969;
}

.mailbox table .unread td {
  color: #232222;
}

.mailbox table .options a{
  background-color: rgb(248, 248, 248);
  padding: 2px 5px;
  border: 1px solid lightgray;
  color: rgb(138, 138, 138);
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
}

.mailbox table .message a, .mailbox table .sender a{color: #696969;}

/************** Modal Popup Style **************/
.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 98%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}
@media (min-width: 32em) {

.modal-box { width: 70%; }
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  font-family: Arial;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { 
  padding: 2em 1.5em;
  line-height: 22px;
  font-weight: 600;
  font-family: Arial;
  font-size: 13px;
  color: #626060;
}

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}
.v-center {
  height: 100vh;
  width: 100%;
  display: table;
  position: relative;
  text-align: center;
}

.v-center > div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: -10%;
}

/**************** Pagination style ****************/
.pagination {
    margin: 10px 0;
}
.pagination {
    padding-left: 0;
    border-radius: 4px;
}

.pagination {
    display: inline-block;
}
.pagination > li {
    display: inline;
}
.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    border-color: #d3d3d3;
    background: #f8f8f8;
    color: #333;
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: auto;
    box-shadow: none;
    font-family: Arial;
    font-weight: 600;
    font-size: 12px;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
  float: left;
  border: 1px solid #ddd;
  border-color: #cfcece;
  background: #f8f8f8;
  color: #535353;
  display: inline-block;
  height: 28px;
  padding: 0 10px;
  outline: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 26px;
  vertical-align: middle;
  cursor: pointer;
  font-family: Arial;
  margin-right: 5px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  border-radius: 2px;
}

.pagination > li > a[rel='next'], .pagination > li > a[rel='prev'], .pagination > .disabled > span{
  display: none;
}


/************************** Responseive Desing *************************/
@media all and (max-width: 768px) {
  
  .large-3 {
      width: 30%;
      display: inline-block;
      margin: 8px;
  }
  .c_videos {
    width: 100%;
  }
  .channel_box .channel_body .related_channels {
    width: 100%;
    margin-top: 15px;
  }
  .c_videos .video_box {
    width: 45%;
  }
  .c_videos .video_box .c_v_img img {
    min-height: 130px;
    max-height: 130px;
    height: 130px;
  }
  .channel_box .channel_body .related_channels .r_c_list ul li {
    margin-right: 10px;
    display: block;
  }
  .contact_page {
    width: 75%;
  }
  .page_box {
    width: 90%;
  }
  .b-c-div {
    width: 46%;
  }
  .videos_manager {
    width: 95%;
  }
  .videos_manager table tr td .video_option {
    top: 10%;
    right: 1%;
  }
  .videos_manager table tr td .video_option a {
    display: block;
  }
  .w_leftSide {
    width: 100% !important;
  }
  .w_rightSie {
    width: 100% !important;
  }
  .related_videos .r_video_box .r_video_bg img {
    height: 80px;
  }
  .related_videos .r_video_box .r_video_bg span {
    position: absolute;
    top: 100%;
    left: 80%;
  }
  .cd-logo {
    margin: 2.3px 0 0 5%;
  }

  .search_page{
    margin-left: 0px !important;
  }
  .search_page .search_results {
    width: 100% !important;
  }
  .search_page .ad_code {
    width: 100% !important;
    text-align: center !important;
    position: unset !important;
    right: 0 !important;
  }
  .search_page .ad_code img {
    width: auto !important;
  }

}


@media all and (max-width: 480px) {
  
  .large-3 {
      width: 95%;
      display: inline-block;
      margin: 8px;
  }
  .channel_box {
    width: 86%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .channel_box .channel_header .channel_profile {
    width: 100%;
  }
  .channel_box .channel_header .channel_counter {
    margin-top: 5px;
    width: 100%;
  }
  .channel_box .channel_links ul li {
    width: 100%;
    text-align: center;
  }
  .channel_box .channel_links .subscribers_counter {
    display: block;
    float: right;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .c_videos .video_box {
    width: 93%;
  }
  .b-c-div {
    width: 98%;
  }
  .topUpload .dragzone {
    width: 100%;
  }
  .topUpload .Shortdetails {
    width: 100%;
    margin-top: 15px;
  }

}

/********************* Search & Tags Page ******************/
.search_page{
  padding: 10px;
  margin: 15px auto;
  width: 100%;
  margin-left: -20px;
}
.search_page .search_results{
  padding: 10px;
  float: left;
  width: 66%;
  margin: 0 0 10px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.search_page .search_results .search_header{
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 8px;
  margin-right: -10px;
  margin-left: -10px;
}
.search_page .search_results .search_header p{
  color: #939292;
  font-size: 12px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
}
.search_page .search_results .search_body{
  margin-top: 10px;
  width: 100%;
  float: left;
}
.search_page .search_results .search_body .search_video{
  width: 100%;
  display: block;
  float: left;
  margin-bottom: 15px;
}
.search_page .search_results .search_body .search_video .video_thumb{
  float: left;
  width: 38%;
  position: relative;
}
.search_page .search_results .search_body .search_video .video_thumb img{
  max-width: 100%;
  width: 100%;
  height: 135px;
  min-height: 135px;
}
.search_page .search_results .search_body .search_video .video_thumb span{
  position: absolute;
  left: 80%;
  top: 82%;
  background-color: rgba(0, 0, 0, 0.73);
  padding: 3px 5px 3px 5px;
  color: #FFF;
  font-weight: 600;
  font-family: Arial;
  font-size: 12px;
}
.search_page .search_results .search_body .search_video .video_details{
  width: 60%;
  float: right;
}
.search_page .search_results .search_body .search_video .video_details .vid_title{
  margin-bottom: 5px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search_page .search_results .search_body .search_video .video_details .vid_title a{
  font-weight: 600;
  font-family: Arial;
  font-size: 13px;
  color: #2d82e1;
}
.search_page .search_results .search_body .search_video .video_details .vid_uploader{
  margin-bottom: 5px;
}
.search_page .search_results .search_body .search_video .video_details .vid_uploader a{
  font-weight: 600;
  font-family: Tahoma;
  font-size: 13px;
  color: #7a7777;
}
.search_page .search_results .search_body .search_video .video_details .vid_uploader img{
  height: 10px;
  width: 15px;
  border-radius: 2px;
}
.search_page .search_results .search_body .search_video .video_details .vid_uploader span:before{
  content: ''; 
  margin-bottom: -4px !important;
  margin-left: -2px !important; 
}
.search_page .search_results .search_body .search_video .video_details .vid_uploader span:after{
  margin-bottom: 2px !important;
}
.search_page .search_results .search_body .search_video .video_details .vid_date_views{
  margin-bottom: 7px;
  margin-top: 7px;
}
.search_page .search_results .search_body .search_video .video_details .vid_date_views p{
  font-family: Tahoma;
  font-size: 12px;
  color: #a49f9f;
}
.search_page .search_results .search_body .search_video .video_details .vid_description{
  margin-bottom: 5px;
}
.search_page .search_results .search_body .search_video .video_details .vid_description p{
  display: block;
  line-height: 1.3em;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  max-height: 2.88em;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #6f6e6e;
}
.search_page .search_results .search_body .search_video .video_details .vid_new_hd{}
.search_page .search_results .search_body .search_video .video_details .vid_new_hd button{
  border: 1px solid #ddd;
  padding: 0 4px;
  color: #444;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 13px;
  display: inline-block;
  background-color: #f8f8f8;
}

.search_page .ad_code{
  float: right;
  width: 27%;
  text-align: center;
  position: fixed;
  right: 2%;
  top: 80px;
  bottom: 0;
  overflow: hidden;
}
.search_page .ad_code img{
  max-width: 100%;
  width: 100%;
}

/************************** AJAX Uploader *****************************/
.bar-main-container {
  height: 48px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  color: #FFF;
}

.wrap { padding: 8px; }

.bar-percentage {
  float: left;
  background: rgba(0,0,0,0.13);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 9px 0px;
  width: 18%;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
}

.bar-container {
  float: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 10px;
  background: rgba(0,0,0,0.13);
  width: 78%;
  margin: 12px 0px;
  overflow: hidden;
}

.bar {
  float: left;
  background: RGBA(0, 0, 0, 0.16);
  height: 100%;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/************* Redirect Page ***************/
.redirect_page{
  margin: 0px auto;
  width: 95%;
  margin-bottom: 100px;
}
.redirect_page .redirect_left{
  display: inline-block;
  margin: 50px 0 0 0;
  width: 68%;
  float: left;
}
.redirect_page .redirect_left .top_adsense{
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.27);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.27);
  box-shadow: 0 0 6px rgba(0,0,0,0.27);
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  padding: 3px;
}
.redirect_page .redirect_left .top_adsense img{
  width: 100%;
  margin-bottom: -2px;
}
.redirect_page .redirect_left .redirect_box{
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.27);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.27);
  box-shadow: 0 0 6px rgba(0,0,0,0.27);
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: 25px 0px 25px 0px;
}
.redirect_page .redirect_left .redirect_box .url_screenshot{
  float: left;
  width: 48%;
  border: 1px solid #a5a5a5;
  padding: 2px;
}
.redirect_page .redirect_left .redirect_box .url_screenshot img{
  width: 100%;
  height: auto;
}
.countdown {
    position: relative;
}

.countdown h2 {
  text-align: center;
  position: absolute;
  line-height: 155px;
  width: 100%;
  font-family: 'Tahoma', sans-serif;
  font-size: 30px;
  color: #1bd8b7;
  font-weight: 600;
}

.countdown svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 440;
  transition: all 1s linear;
}
.redirect_page .redirect_left .redirect_box .redirect_counter{
  text-align: center;
  float: right;
  width: 50%;
}
.redirect_page .redirect_left .redirect_box .redirect_counter .original_url{
  margin-top: 30px;
  display: none;
}
.redirect_page .redirect_left .redirect_box .redirect_counter .original_url a{
  width: 100%;
  height: 40px;
  display: block;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 3px RGBA(0, 0, 0, 0.31);
  color: #868686;
  font-weight: 600;
  font-family: Arial;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 40px;
}
.redirect_page .redirect_left .redirect_box .redirect_counter .original_url a:hover{
  color: #424141;
}
.redirect_page .redirect_left .bottom_adsense{
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.27);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.27);
  box-shadow: 0 0 6px rgba(0,0,0,0.27);
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  padding: 3px;
}
.redirect_page .redirect_left .bottom_adsense img{
  width: 100%;
  margin-bottom: -2px;
}
.redirect_page .redirect_right{
  width: 30%;
  float: right;
  margin: 50px 0 0 0;
  padding: 3px;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.27);
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.27);
  box-shadow: 0 0 6px rgba(0,0,0,0.27);
  background: #fff;
  border-radius: 2px;
}
.redirect_page .redirect_right img{
  margin-bottom: -2px;
  width: 100%;
}

/******************* Adsense Revenue ****************/
.adsense_revenue{
  margin: 50px auto;
  width: 80%;
  float: none;
}
.adsense_revenue .adsense_how{}
.adsense_revenue .adsense_how h2{
  margin-bottom: 25px;
  margin-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: #323131;
}
.adsense_revenue .adsense_how img{
  width: 100%;
  margin-bottom: 10px;
}
.adsense_revenue .adsense_how p{
  margin-top: 10px;
  padding-bottom: 20px;
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #5f5d5d;
}
.adsense_revenue .user_adsense{
  padding-top: 10px;
  border-top: 1px solid #e3e3e3;
  padding-bottom: 20px;
  width: 100%;
}
.adsense_revenue .user_adsense input{
  width: 100%;
  margin-bottom: 15px;
  height: 35px;
  padding-left: 10px;
  border: 1px solid #bababa;
  border-radius: 3px;
  color: #6e6e6e;
  font-weight: 600;
  font-family: Arial;
  font-size: 12px;
}
.adsense_revenue .user_adsense button{
  height: 40px;
  width: 100%;
  border: 1px solid #1bd8b7;
  background-color: transparent;
  text-transform: uppercase;
  font-family: Arial;
  font-weight: 600;
  font-size: 12px;
  color: #1bd8b7;
  cursor: pointer;
  transition: all 0.4s;
}
.adsense_revenue .user_adsense button:hover{
  background-color: #1bd8b7;
  color: #FFF;
}
.payment_box{
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-bottom: 12px;
  border-top: 2px solid #1bd8b7;
  position: relative;
  height: 300px;
}
.payment_box .pay_shadow{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.73);
}
.payment_box .payment_button{
  position: absolute;
  top: 48%;
  left: 35%;
}
.payment_box .payment_button a{
  padding: 6px 15px 5px 120px;
  background-color: #1c567e;
  background-image: url(../img/paypal.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  border-radius: 2px;
  box-shadow: 0px 2.5px 0px #0F3A59 !important;
  background-size: 80px 18px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fefefe;
}

/************** Movies style ****************/
.movies_list{
  padding: 10px;
  margin: 5px auto;
  width: 100%;
  text-align: center;
}
.movies_list .movies_box{
  display: inline-block;
  background-color: #FFF;
  width: 23%;
  border-radius: 3px;
  box-shadow: 0px 0px 4px RGBA(0, 0, 0, 0.11);
  position: relative;
  height: 330px;
  margin: 8px 5px 8px 5px;
}
.movies_list .movies_box .movie_cover{
  height: 100%;
  width: 100%;
  position: absolute;
}
.movies_list .movies_box .movie_cover img{
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
.movies_list .movies_box .movie_details{
  display: none;
  position: absolute;
  background-color: RGBA(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  border-radius: 3px;
  transition: all 0.4s;
}
.movies_list .movies_box:hover .movie_details{
  display: block;
}
.movies_list .movies_box .movie_details .movie_header{
  position: absolute;
  top: 2%;
  left: 3%;
  right: 3%;
}
.movies_list .movies_box .movie_details .movie_header .movie_category{
  float: left;
}
.movies_list .movies_box .movie_details .movie_header .movie_category a{
  font-size: 12px;
  font-family: Arial;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
.movies_list .movies_box .movie_details .movie_header .movie_rate{
  float: right;
}
.movies_list .movies_box .movie_details .movie_header .movie_rate h3{
  background-color: #FED500;
  padding: 3px 10px 3px 10px;
  border-radius: 3px;
  color: #333;
  font-size: 13px;
  font-weight: 600;
  font-family: Arial;
}
.movies_list .movies_box .movie_details .movie_title{
  position: absolute;
  top: 30%;
  left: 3%;
  right: 3%;
  text-align: center;
  line-height: 30px;
  height: 45%;
}
.movies_list .movies_box .movie_details .movie_title a{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: white;
}
.movies_list .movies_box .movie_details .movie_footer{
  position: absolute;
  bottom: 3%;
  left: 3%;
  right: 3%;
}
.movies_list .movies_box .movie_details .movie_footer .movie_views{
  float: left;
  margin-top: 5px;
}
.movies_list .movies_box .movie_details .movie_footer .movie_views h4{
  font-size: 12px;
  color: #1BD8B7;
  font-family: Arial;
  font-weight: 600;
  text-transform: uppercase;
}
.movies_list .movies_box .movie_details .movie_footer .movie_likes{
  float: right;
}
.movies_list .movies_box .movie_details .movie_footer .movie_likes h4{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #FFF;
  background-size: 14px;
  padding: 5px 5px 5px 22px;
}
.watch_movie{
  padding: 10px;
  width: 100%;
  margin: 20px auto;
}
.watch_movie .movie_embed{
  float: left;
  width: 100%;
  background-color: #FFF;
  box-shadow: 0px 0px 4px RGBA(0, 0, 0, 0.25);
  border-top: 3px solid #1bd8b7;
}
.watch_movie .movie_embed *{
  width: 100%;
}
.watch_movie .movie_imdb{
  background: #fff;
  padding: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(183, 195, 202, 1);
  -moz-box-shadow: 0 1px 2px rgba(183, 195, 202, 1);
  box-shadow: 0 1px 2px rgba(183, 195, 202, 1);
  width: 100%;
  margin: 30px auto;
  float: left;
}
.sbox {
    margin-bottom: 50px;
    width: 65%;
    float: left;
    margin-top: 20px;
    background: #fff;
    padding: 2%;
    -webkit-box-shadow: 0 1px 2px rgba(183, 195, 202, 1);
    -moz-box-shadow: 0 1px 2px rgba(183, 195, 202, 1);
    box-shadow: 0 1px 2px rgba(183, 195, 202, 1);
}
.sbox .imagen {
    float: left;
    width: 26%;
    margin-right: 3%;
}
.fix {
    position: relative;
    width: 100%;
    overflow: hidden;
}
span.calidad2 {
    position: absolute;
    top: 0;
    left: 3%;
    padding: 5px 10px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size: 11px;
    font-weight: 700;
    font-family: 'Helvetica Neue','Helvetica',arial,sans-serif;
    background-color: transparent;
    background-image: -moz-linear-gradient(#ED0509, #8E0002);
    background-image: -webkit-linear-gradient(#ED0509, #8E0002);
    background-image: linear-gradient(#ED0509, #8E0002);
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.sbox .imagen img {
    width: 100%;
    height: auto;
}
.icon-printer {
    position: absolute;
    bottom: 2px;
    right: 0;
    font-size: 16px;
    color: #fff;
    padding: 7px 10px;
    background-color: rgba(0,0,0,0.5);
}
a.report {
    float: left;
    width: 100%;
    background: #FFB2B3;
    color: #FFF;
    text-align: center;
    padding: 5px 0;
    margin: 10px 0;
    cursor: pointer;
    font-size: 100%;
}
.sbox .data {
    float: left;
    width: 71%;
}
.data h1 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
    color: #2A2A2A;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.data span.titulo_o {
    font-size: 11px;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    color: #C6CCD2;
}
.data p.meta {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.data p.meta span {
    padding: 1px 5px;
    margin: 1px;
    border: solid 1px #ddd;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.data p.meta span a {
    color: #739CC5;
}
.data p.meta i {
    font-style: normal;
}
.data p.meta a {
  color: #B3B3B3;
  font-size: 12px;
  font-family: Arial;
  font-weight: 600;
  text-transform: uppercase;
}
p.meta_dd {
    float: left;
    width: calc(100% - 30px);
    margin-bottom: 6px;
    padding-bottom: 7px;
    position: relative;
    padding-left: 30px;
    line-height: 20px;
    border-bottom: solid 1px #E9EAED;
    color: #B3B3B3;
    font-size: 12px;
    font-family: Arial;
    font-weight: 600;
    text-transform: uppercase;
}
p.meta_dd b {
    background: #E9EAED;
    padding: 4px 0;
    margin-right: 5px;
    color: #969DAE;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0px 1px #fff;
}
p.meta_dd a {
  color: #B3B3B3;
  font-size: 12px;
  font-family: Arial;
  font-weight: 600;
  text-transform: uppercase;
}
.watch_movie_ads{
  float: right;
  margin-top: 20px;
  width: 34%;
}
.watch_movie_ads img{
  width: 100%;
}

@media all and (max-width: 768px){
  .movies_list .movies_box {
    width: 31%;
  }
}

@media all and (max-width: 480px){
  .w_leftSide .video_header .video_btns .viewVoteCounter {
      width: 100% !important;
  }
  .w_leftSide .video_header .user_panel {
      margin-bottom: 20px;
  }
  .comments_box .cm_box .cm_textarea textarea {
      width: 82% !important;
      margin-left: 45px !important;
  }
  .movies_list .movies_box {
    width: 100%;
    margin: 5px 0px 10px 1px;
  }

  .sbox {
    margin-bottom: 30px;
    width: 100%;
  }
  .sbox .imagen {
    width: 100%;
    margin-bottom: 20px;
  }
  .sbox .data {
    float: left;
    width: 100%;
  }
  .watch_movie_ads {
    margin-top: 0px;
    width: 100%;
  }
}

/* Developer Zone style */

.api-documentation{
  margin: 40px auto !important;
  background-color: #FFF;
  padding: 10px;
  box-shadow: 0px 0px 3px RGBA(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 90%;
}

.api-documentation p{
  font-size: 15px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}
.api-documentation pre b{
  font-weight: bold;
  color: #2CC990;
}
.api-documentation pre {
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}
.api-documentation pre {
    width: 100%;
    overflow: auto;
    margin: 2rem 0;
    padding: 1rem 0.8rem 1rem 1.2rem;
    color: #3f3b36;
    border: 1px solid #2CC990;
  border-left: 1rem solid #2CC990;
    font: lighter 1.2rem/2rem Monaco,'MonacoRegular',monospace;
    background: url('../img/pre.png') repeat 0 -0.9rem;
    background-size: 1px 4rem;
}
.html-ads{
  height: 350px;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  margin-bottom: 20px;
}
.html-ads .html_ads_shadow{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.88);
  height: 100%;
  width: 100%;
}
@-webkit-keyframes sfprogress {
  from {
    background-position:0 0
  }
  to {
    background-position:-16px 0
  }
}
@-moz-keyframes sfprogress {
  from {
    background-position:0 0
  }
  to {
    background-position:-16px 0
  }
}
@-o-keyframes sfprogress {
  from {
    background-position:0 0
  }
  to {
    background-position:-16px 0
  }
}
@keyframes sfprogress {
  from {
    background-position:0 0
  }
  to {
    background-position:-16px 0
  }
}
.html-ads .progress_timer{
  position: absolute;
  top: 0;
  height: 4px;
  background-color: rgb(102, 104, 103);
  z-index: 9;
  background-size:16px 16px;
  background-image:-webkit-linear-gradient(top left,transparent,transparent 25%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0.3) 50%,transparent 50%,transparent 75%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0.3));
  background-image:-moz-linear-gradient(top left,transparent,transparent 25%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0.3) 50%,transparent 50%,transparent 75%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0.3));
  background-image:-o-linear-gradient(top left,transparent,transparent 25%,rgba(255,255,255,0.3) 25%,rgba(255,255,255,0.3) 50%,transparent 50%,transparent 75%,rgba(255,255,255,0.3) 75%,rgba(255,255,255,0.3));
  -webkit-animation: sfprogress .6s linear infinite;
  -moz-animation: f.6s linear infinite;
  -o-animation: sfprogress .6s linear infinite;
  animation: sfprogress .6s linear infinite;
  width: 100%;
}
.skip_ads_msg{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  color: #FFF;
  font-family: Roboto;
}
.skip_now_ads{
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: none;
}
.skip_now_ads button{
  background-color: rgb(75, 75, 75);
  border: none;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  font-family: Arial;
  color: rgb(227, 227, 227);
  cursor: pointer;
  text-transform: uppercase;
}
.h_ads_boxes{
  position: absolute;
  width: 100%;
  top: 13%;
}
.h_ads_boxes .h_aLeft{
  float: left;
  margin-left: 7px;
}
.h_ads_boxes .h_aRight{
  float: right;
  margin-right: 7px;
}

@media all and (max-width: 480px) {
  
  .html-ads {
    height: 650px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    margin-bottom: 20px;
  }
  .h_ads_boxes {
    position: absolute;
    width: 100%;
    top: 5%;
  }
  .h_ads_boxes .h_aLeft {
    float: none;
    margin-left: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  .h_ads_boxes .h_aRight {
    float: none;
    margin-right: 0;
    text-align: center;
    margin-top: 10px;
  }

}

