.clear{clear: both;}

.emoticon{
  height: 15px;
  width: 15px;
}

.no_data_msg{
  background-color: #c0edf1;
  color: #0F9095;
  padding: 15px 15px 15px 15px;
  border-left: 3px solid #58d0da;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  width: 100%;
}

.is_unsubscribe{
  background-color: #1784c7 !important;
  background-image: url(../img/play.png) !important;
}

.watch_page{
	margin: 25px auto 100px;
	width: 100%;
}

.adblock-detected{
  background-color: #fb452f;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  display: none;
}
.adblock-detected img{
  height: 120px;
  width: 120px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.adblock-detected p{
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 23px;
}

/* Left Side Style */
.w_leftSide{
	float: left;
	width: 62%;
}

.w_leftSide .w_video{
	height: auto !important;
  border-top: none !important;
}

.w_rightSie .related_videos{
  height: auto !important;
  float: left;
  padding-bottom: 5px;
}

.w_rightSie .sidebar_code{
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  background-color: #FFF;
  margin-bottom: 15px;
  text-align: center;
  padding: 12px 0px 12px 0px;
}

.w_rightSie .sidebar_code img{
  max-width: 100%;
}

.w_leftSide .w_video, .w_leftSide .video_header, .w_leftSide .w_comments, .w_rightSie .related_videos{
	width: 100%;
	height: 360px;
	background-color: #FFF;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	margin-bottom: 12px;
  border-top: 2px solid #1bd8b7;
}

.related_videos .r_video_box{
  width: 100%;
  padding: 10px 10px 0px 10px;
  margin-bottom: 5px;
  float: right;
}
.related_videos .r_video_box .r_video_bg{
  float: left;
  width: 35%;
  position: relative;
}
.related_videos .r_video_box .r_video_bg img{
  max-width: 100%;
  height: 68px;
  width: 100%;
}
.related_videos .r_video_box .r_video_bg span{
  padding: 0 4px;
  font-weight: 500;
  font-size: 11px;
  background-color: #000;
  color: #fff !important;
  height: 14px;
  line-height: 14px;
  opacity: .75;
  filter: alpha(opacity=75);
  display: -moz-inline-stack;
  vertical-align: top;
  float: right;
  margin-top: -20px;
  margin-right: 3px;
  font-family: 'Roboto', sans-serif;
}
.related_videos .r_video_box .r_video_info{
  float: right;
  width: 62%;
}
.related_videos .r_video_box .r_video_info .r_title{
  font-family: Arial;
  color: #A5A5A8;
  font-size: 12px;
  float: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  line-height: 14px;
  font-weight: 600;
}
.related_videos .r_video_box .r_video_info .r_title:hover{
  color: #6C6C6C;
}
.related_videos .r_video_box .r_video_info .r_channel{
  float: left;
  font-size: 12px;
  color: #69c4f8;
  margin-top: 5px;
  font-weight: 600;
  font-family: Arial;
}
.related_videos .r_video_box .r_video_info .r_views{
  float: left;
  width: 100%;
  margin-top: 9px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  color: #a4a4a4;
}

.w_leftSide .video_header{
	height: auto !important;
}

/* Video title style */
.w_leftSide .video_header .video_title{
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 10px;
}

.w_leftSide .video_header .video_title h2{
  font-family: 'Roboto', sans-serif;
  line-height: normal;
  word-wrap: break-word;
  display: table-cell;
  vertical-align: top;
  width: 70%;
  font-size: 20px;
  font-weight: normal;
  color: #000;
}

/* User panel Style */
.w_leftSide .video_header .user_panel{
  position: relative;
  padding: 10px;
  overflow: hidden;
}

.w_leftSide .video_header .user_panel .channel_avatar{
  float: left;
}

.w_leftSide .video_header .user_panel .channel_avatar img{
  width: 50px;
  height: 50px;
}

.w_leftSide .video_header .user_panel .channel_counter{
  padding-left: 60px;
}

.w_leftSide .video_header .user_panel .channel_counter .channel_name{

}

.w_leftSide .video_header .user_panel .channel_counter .channel_name a{
  display: inline-block;
  height: 22px;
  color: #333;
  max-width: 315px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0px;
}

.w_leftSide .video_header .user_panel .channel_counter .channel_name .verified img{
  width: 14px;
  border-radius: 2px;
  height: 10px;
  position: absolute;
  margin-top: 2px;
  margin-left: 2px;
}

.w_leftSide .video_header .user_panel .channel_counter .subscribers_counter{
  max-width: 100%;
  white-space: nowrap;
  display: inline-block;
  margin-top: 4px;
}

.w_leftSide .video_header .user_panel .channel_counter .subscribers_counter button{
  height: 24px;
  max-width: 100%;
  color: #fefefe;
  display: inline-block;
  border: solid 1px transparent;
  padding: 0px 5px 0px 25px;
  outline: 0;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-family: 'Lato', sans-serif;
  background-repeat: no-repeat;
  background-position: 2px 1px;
  background-size: 20px;
}
.w_leftSide .video_header .user_panel .channel_counter .subscribers_counter button:hover{
  background-color: #1276b4;
}

.w_leftSide .video_header .user_panel .channel_counter .subscribers_counter span{
  display: inline-block;
  height: 24px;
  line-height: 22px;
  padding: 0 6px;
  color: #8C8C8C;
  font-size: 12px;
  text-align: center;
  margin-left: -4px;
  border-top: 1px solid #B9B9B9;
  border-right: 1px solid #B9B9B9;
  border-bottom: 1px solid #B9B9B9;
  border-left: none;
  background-color: #fafafa;
  vertical-align: middle;
  border-radius: 0 2px 2px 0;
  font-family: 'Ubuntu', sans-serif;
}

.w_leftSide .video_header .video_btns{
  border-top: 1px solid #dedede;
  margin-right: 10px;
  margin-left: 10px;
}

.w_leftSide .video_header .video_btns .video_links{
  float: left;
}
.w_leftSide .video_header .video_btns .video_links a{
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin: 5px;
  display: inline-block;
  color: #414141;
  text-shadow: 0px 1px 0px white;
  height: 30px;
  line-height: 30px;
  opacity: 0.6;
}
.w_leftSide .video_header .video_btns .video_links a:hover{opacity: 1;}

.w_leftSide .video_header .video_btns .video_links .a_download{
  background-image: url(../img/download.png);
  background-repeat: no-repeat;
  background-size: 17px;
  padding-left: 25px;
  background-position: 2px 5px;
}
.w_leftSide .video_header .video_btns .video_links .a_share{
  background-image: url(../img/share.png);
  background-repeat: no-repeat;
  background-size: 19px;
  padding-left: 25px;
  background-position: 2px 5px;
  cursor: pointer;
}
.w_leftSide .video_header .video_btns .video_links .a_report{
  background-image: url(../img/report.png);
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 25px;
  background-position: 2px 5px;
}
.w_leftSide .video_header .video_btns .video_links .a_stats{
  background-image: url(../img/stats.png);
  background-repeat: no-repeat;
  background-size: 14px;
  padding-left: 22px;
  background-position: 6px 7px;
}

.w_leftSide .video_header .video_btns .viewVoteCounter{
  float: right;
  width: 30%;
  text-align: right;
}

.w_leftSide .video_header .video_btns .viewVoteCounter .count_views{
  position: relative;
  margin-top: -24px;
  margin-bottom: 15px;
}

.w_leftSide .video_header .video_btns .viewVoteCounter .sparkbars{
  height: 1px;
  overflow: hidden;
  margin-top: -11px;
  margin-bottom: 10px;
}
.w_leftSide .video_header .video_btns .viewVoteCounter .sparkbars .sparkbars-likes{
  float: left;
  height: 1px;
  background: #16c66f;
}
.w_leftSide .video_header .video_btns .viewVoteCounter .sparkbars .sparkbars-dislikes{
  float: left;
  height: 1px;
  background: rgba(254, 67, 67, 0.83);
}

.w_leftSide .video_header .video_btns .viewVoteCounter .count_views h2{
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  color: #444;
}
.w_leftSide .video_header .video_btns .viewVoteCounter .votting_system{
  margin-top: -5px;
}
.w_leftSide .video_header .video_btns .viewVoteCounter .votting_system .vote_like{
  height: 30px;
  background-image: url(../img/like.png);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  background-position: 6px 7px;
  padding-left: 25px;
  cursor: pointer;
  color: #16c66f;
  background-size: 17px;
  opacity: 0.6;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Arial', sans-serif;
}
.w_leftSide .video_header .video_btns .viewVoteCounter .votting_system .vote_like:hover{
  opacity: 1;
}
.w_leftSide .video_header .video_btns .viewVoteCounter .votting_system .vote_like:active{
  margin-right: 1px;
}
.w_leftSide .video_header .video_btns .viewVoteCounter .votting_system .vote_dislike{
  height: 30px;
  background-image: url(../img/dislike.png);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  background-position: 6px 7px;
  padding-left: 25px;
  cursor: pointer;
  color: #fc6565;
  background-size: 17px;
  opacity: 0.6;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Arial', sans-serif;
}
.w_leftSide .video_header .video_btns .viewVoteCounter .votting_system .vote_dislike:hover{
  opacity: 1;
}
.w_leftSide .video_header .video_btns .viewVoteCounter .votting_system .vote_dislike:active{
  margin-right: 1px;
}

.w_leftSide .w_comments{
	height: 200px;
}


/* Right side Style */
.w_rightSie{
	float: right;
	width: 36%;
}


#ad-v-player:-webkit-full-screen  { width: 100% }
#ad-v-player:-moz-full-screen   { width: 100% }
#ad-v-player:-ms-full-screen    { width: 100% }
#ad-v-player:-o-full-screen   { width: 100% }
#ad-v-player:full-screen    { width: 100% }

.banner { width: 300px; height: 250px; } 
@media(min-width: 360px) { #ad-v-player, video, .viddeo { height: 280px !important;  } .banner { width: 336px; height: 280px; } }
@media(min-width: 500px) { #ad-v-player, video, .viddeo { height: 320px !important;  } .banner { width: 468px; height: 60px; } }
@media(min-width: 800px) { #ad-v-player, video, .viddeo { height:100%!important; } .banner { width: 728px; height: 90px; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
#ad-v-player, video, .viddeo { height:inherit!important; }
}

.video_description{
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-bottom: 12px;
  padding: 10px;
  border-top: 2px solid #1bd8b7;
}

.video_share{
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-bottom: 12px;
  padding: 10px;
  display: none;
}

.embedVideo{}
.embedVideo ul{
  width: 100%;
  position: relative;
}
.embedVideo ul li{
  float: left;
  margin-right: 10px;
}
.embedVideo ul li a{}
.embedVideo ul li a img{
  height: 33px;
  width: 33px;
}


.v_description .embedVideo{
  width: 100%;
  margin-top: 10px;
  display: none;
}

.v_description .embedVideo textarea{
  width: 100%;
  margin-top: 10px;
  height: 80px;
  border: 1px solid #dedede;
  padding: 10px;
  border-radius: 2px;
  background-color: #FFF;
  resize: none;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 25px;
  color: #787676;
}

.video_description .publish_date{float: left;}

.video_description .publish_date strong{
  font-weight: 600;
  font-family: Arial;
  font-size: 12px;
  color: #333;
  word-wrap: break-word;
}

.video_description .embed_flag .embed_vid, .video_description .embed_flag .flag_vid{opacity: 0.5;cursor: pointer;}
.video_description .embed_flag .embed_vid:hover, .video_description .embed_flag .flag_vid:hover{opacity: 1}
.video_description .embed_flag{float: right;}
.video_description .embed_flag .embed_vid{
  font-weight: 600;
  font-family: Arial;
  font-size: 12px;
  color: #565454;
  word-wrap: break-word;
  background-image: url(../img/embed.png);
  padding: 2px 0px 2px 25px;
  background-repeat: no-repeat;
  background-position: 1px -1px;
  background-size: 21px;
}
.video_description .embed_flag .flag_vid{
  font-weight: 600;
  font-family: Arial;
  font-size: 12px;
  color: #565454;
  word-wrap: break-word;
  background-image: url(../img/report.png);
  padding: 2px 0px 2px 25px;
  background-repeat: no-repeat;
  background-position: 8px 1px;
  background-size: 15px;
}


.video_description .v_description{
  height: 50px;
  overflow: hidden;
  width: 100%;
}
.video_description .v_description p{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 10px;
  color: #454545;
  margin-bottom: 10px;
}

.video_description .show_more{
  width: 100%;
  cursor: pointer;
  text-align: center;
}
.video_description .show_more a{
  text-transform: uppercase;
  color: #BFBFBF;
  font-weight: 500;
  font-size: 11px;
  white-space: nowrap;
  word-wrap: normal;
  line-height: 2px;
  cursor: pointer;
  font-family: Arial;
  display: block;
  height: 15px;
  padding: 10px;
  border-top: 1px solid #E7E7E7;
}
.video_description .show_more a:hover{
  color: #ADADAD;
  border-top: 1px solid #E1E1E1;
}
.adsense_box{padding: 0 !important;}
.adsense_box img{
  width: 100%;
  margin-bottom: -2px;
}
.comments_box, .adsense_box{
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-bottom: 12px;
  padding: 10px;
  border-top: 2px solid #1bd8b7;
}

.comments_box .comments_counter p{
  font-weight: 600;
  font-family: Arial;
  font-size: 12px;
  color: #959595;
  word-wrap: break-word;
}

.comments_box .cm_box{
  width: 100%;
  margin-top: 15px;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 10px;
}
.comments_box .cm_box .cm_avatar{
  float: left;
  width: 10%;
  text-align: left;
}
.comments_box .cm_box .cm_avatar img{
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 99;
  float: left;
  border: 3px solid #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  overflow: hidden;
}
.comments_box .cm_box .cm_textarea{
  width: 90%;
  float: right;
}
.comments_box .cm_box .cm_textarea textarea{
  width: 98%;
  font-weight: 500;
  font-family: Tahoma;
  font-size: 12px;
  resize: none;
  border: 1px solid #ddd;
  border-top: 1px solid #d5d5d5;
  color: #999898;
  cursor: pointer;
  margin-left: 11px;
  min-height: 35px;
  border-radius: 2px;
  padding: 8px 10px 5px;
  height: 65px;
}

.comments_box .cm_box .cm_textarea button{
  height: 35px;
  margin-left: 2%;
  margin-top: 5px;
  border: 1px solid #39b2da;
  color: #39b2da;
  background: transparent;
  text-transform: uppercase !important;
  cursor: pointer;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  font-family: "Open Sans", sans-serif;
  width: 98%;
  transition: all 0.3s;
  display: none;
}
.comments_box .cm_box .cm_textarea button:hover{
  background-color: #39b2da;
  color: #FFF;

}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
    margin: 15px auto 15px;
    width: 100%;
}

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    position: relative;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}


.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

.comments-list .comment-box {
  width: 88%;
  float: right;
  position: relative;
  border: 1px solid #e6e6e6;
}

.reply-list .comment-box {
    width: 86%;
}
.comment-box .comment-head {
  background: #F0F0F0;
  padding: 10px 12px;
  border-bottom: 1px solid #EAEAEA;
  overflow: hidden;
}

.comment-box .comment-head .cm_date {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
  background: #FFF;
  padding: 12px;
  font-size: 15px;
  color: #666565;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {
  color: #3e3f3f;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 500;
}

/*** Loading Button ****/
.loading{
  background-image: url(../img/load.gif);
  height: 40px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 100%;
    }

    .comments-list .comment-box {
        width: 75%;
    }

    .reply-list .comment-box {
        width: 100%;
    }
}

.tags{
  margin-bottom: 5px;
}

.tags li, .tags a{
  float:left;
  height:24px;
  line-height:24px;
  position:relative;
  font-size:11px;
}

.tags a{
  margin-left:20px;
  padding:0 10px 0 12px;
  background:#1bd8b7;
  color:#fff;
  text-decoration:none;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px; 
  border-bottom-right-radius:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-right-radius:4px;  
  border-top-right-radius:4px;  
}

.tags a:before{
  content:"";
  float:left;
  position:absolute;
  top:0;
  left:-12px;
  width:0;
  height:0;
  border-color:transparent #1bd8b7 transparent transparent;
  border-style:solid;
  border-width:12px 12px 12px 0;    
}

.tags a:after{
  content:"";
  position:absolute;
  top:10px;
  left:0;
  float:left;
  width:4px;
  height:4px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  background:#fff;
  -moz-box-shadow:-1px -1px 2px #004977;
  -webkit-box-shadow:-1px -1px 2px #004977;
  box-shadow:-1px -1px 2px #004977;
}

.tags a:hover{background:#555;} 

.tags a:hover:before{border-color:transparent #555 transparent transparent;}