@font-face {
  font-family: 'KaushanScript-Regular';
  src: url('../fonts/KaushanScript-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/KaushanScript-Regular.woff') format('woff'), 
  url('../fonts/KaushanScript-Regular.ttf')  format('truetype'), 
  url('../fonts/KaushanScript-Regular.svg#KaushanScript-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Raleway-Regular.woff') format('woff'), 
  url('../fonts/Raleway-Regular.ttf')  format('truetype'), 
  url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Lato-Regular.woff') format('woff'), 
  url('../fonts/Lato-Regular.ttf')  format('truetype'), 
  url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {background-image:url(../images/full_bg.png);overflow-x:hidden;}
body a {outline:0 none !important;}
body a,body a:focus,body a:hover { text-decoration: none; color:#fff; }
.menu .navbar-nav li a {color: #ffffff; font-family: "Lato-Regular"; font-size: 13px; padding-bottom: 15px;}
.menu .navbar-nav li a:hover, .menu .navbar-nav li a:focus {background:none;}
.menu .navbar-nav li:after {background-color: #fff; content: ""; display: inline-block; float: right; height: 0; position: absolute; -webkit-transition: width 0.7s ease 0s; transition: width 0.7s ease 0s; width: 0;}
.menu .navbar-nav li:before {background-color: #fff; content: ""; display: inline-block; float: right; height: 0; position: absolute; -webkit-transition: width 0.5s ease 0s; transition: width 0.5s ease 0s; width: 0;}
.menu .navbar-nav li:hover:after {background-color: #fff; color: #fff; content: ""; display: inline-block; float: right; height: 1px; position: absolute; right: 15px; width: 33%; bottom: 1px;}
.menu .navbar-nav li:hover:before {background-color: #fff; bottom: 7px; color: #fff; content: ""; display: inline-block; float: right; height: 1px; position: absolute; right: 15px; width: 41%;}
.menu.clearfix {position: absolute; right: 50px; top: 20px;z-index: 1;}
.menu .search {float: left; padding: 15px 0 15px 25px;}
.menu .search a {background-image:url(../images/search.png);width:20px;height:19px;display:block;}
.mobile_menu {display: none;}
.menu_btn {border: 0 solid #ffffff; border-radius: 4px; color: #fff; display: block; float: right; font-family: "Lato-Regular";text-transform:uppercase; margin: 23px 0; padding: 10px 15px;}
.mener {display: inline-block; padding-right: 20px;}
.rights_bar {display: inline-block;}
.icon-bar {border-radius: 1px; display: block; height: 1px; width: 33px;}
.icon-bar + .icon-bar {margin-top: 5px;}
.sidenav .closebtn {font-size: 36px; margin-left: 50px; position: absolute; right: 25px; top: 0;}
.sidenav a {color: #ffffff; display: block; font-size: 22px; padding: 8px 8px 8px 32px; text-decoration: none; text-transform: uppercase; transition: all 0.3s ease 0s;}
.menu.clearfix {display:block;}
.sidenav {height: 100%; width: 0; position: fixed; z-index: 1; top: 0; right: 0; background-color: #000000; overflow-x: hidden; transition: 0.5s; padding-top: 60px;}
.sidenav a {color: #ffffff; display: block;  font-size:13px;font-family:"Lato-Regular"; padding: 10px 0 10px 32px; text-decoration: none; text-transform: uppercase; transition: all 0.3s ease 0s;}
.sidenav a:hover {color: #fff;}
.sidenav .closebtn {position: absolute; top: 0; right: 25px; font-size: 36px; margin-left: 50px;}
.icon-bar {background-color: #ffffff;}
.menus {padding: 0;}
.menus li {display: block;}
.icon-bar.last_led {float: right; width: 23px;}
.mobile_menu .menus li {border-bottom: 1px solid #121212; display: block;}
.section_one {background-color:#000211;}
.left_half {width: 50%;}
.left_half img {width: 100%;}
.cnt_txt {left: 240px; margin: 0 auto; position: absolute; right: 0; text-align: left; top: 45%; width: 480px;}
.cnt_txt h1 {color: #bd8414; font-family:"KaushanScript-Regular"; font-size: 36px;}
.cnt_txt h1 span {color:#ffffff;font-size:56px;display:block;}
.section_two {background-image: url("../images/section.png"); background-position: center 0; background-repeat: no-repeat; background-size: cover; height: 1200px; margin-top: -26%; padding: 0; position: relative;}
.historyer {left: 0; margin: 0 auto; padding-right: 28%; position: absolute; right: 0; top: 32%; width: 1170px;}
.historyer h1 {color: #bd8414; font-family:"KaushanScript-Regular";line-height: 50px;}
.historyer h1 span {display:block;}
.historyer h3 {color: #ffffff; font-family:"Raleway-Regular"; line-height: 30px; text-transform: uppercase;line-height: 35px;}
.historyer p {color: #777777; font-family: "Lato-Regular"; font-weight: normal; line-height: 24px; margin-bottom: 20px;}
.historyer button {background-color: #bd8414; border: medium none; color: #222222; font-family: "Lato-Regular"; font-size: 17px; padding: 10px 40px; position: relative; text-transform: uppercase; transform: skew(-25deg); margin-top:20px;}
.disc_slides {padding: 0 70px;}
.discover h3 {color: #ffffff; font-family: "Raleway-Regular"; line-height: 35px; text-transform: uppercase;}
.discover {padding: 70px 20% 140px;}
.disc_slides .owl-prev {background-color: #bd8414; font-size: 0; height: 100%; left: -70px; position: absolute; top: 0; width: 46px;}
.disc_slides .owl-next {background-color: #bd8414; font-size: 0; height: 100%; right: -70px; position: absolute; top: 0; width: 46px;}
.colorbox {display:none;background-color:rgba(189, 133, 21, 0.8);}
.item:hover .colorbox {display: block; height: 470px; left: 0; margin: 0 auto; position: absolute; right: 0; top: -80px; width: 75%; z-index: 9;}
.inner_shades {border: 2px solid #ffffff; height: 430px; margin: 20px; padding: 130px 20px;}
.inner_shades h4 {color: #ffffff; font-family: "KaushanScript-Regular"; font-size: 24px; margin: 0; text-align: center;}
.inner_shades h1 {color: #ffffff; font-family: "KaushanScript-Regular"; margin: 30px 0; text-align: center;}
.inner_shades p { color: #ffffff; font-family: "Lato-Regular"; font-size: 14px; text-align: center;text-transform:uppercase;}
.inner_shades p:last-child {margin: 95px 0 0;}
.disc_slides .owl-carousel .owl-stage-outer {overflow:visible;}
.customNavigation {padding: 90px 0; text-align: center;}
.customNavigation .btn.btn-primary.prev {background-color:transparent; background-image: url("../images/previous.png"); border: medium none; height: 30px; margin-right: 15px; margin-top: 70px; width: 26px;}
.customNavigation .btn.btn-primary.next {background-color:transparent; background-image: url("../images/next.png"); background-repeat: no-repeat; border: medium none; color: #ffffff; font-family: "Lato-Regular"; font-size: 14px; font-weight: normal; padding-bottom: 8px; padding-left: 45px; padding-top: 8px; text-transform: uppercase;}
.marlex.clearfix {padding: 0 0 0 15%;}
.bc_mdl {float: left; padding: 90px 0; width: 30%;}
.top_mdl {float: left; width: 70%; position: relative;}
.top_mdl img {width: 100%;}
.bc_mdl h1 {color:#bd8414; font-family:"KaushanScript-Regular"; font-size: 56px;}
.bc_mdl p {color: #777777; font-family: "Lato-Regular"; line-height: 23px; margin: 40px 0; padding-right: 50px;}
.bc_mdl h3 {color: #ffffff; font-family: "Raleway-Regular"; font-size: 30px; line-height: 36px; text-transform: uppercase;}
.bc_mdl button {background-color: #bd8414; border: medium none; color: #ffffff; font-family:"Lato-Regular"; font-size: 17px; padding: 10px 42px; text-transform: uppercase; transform: skew(-25deg);-webkit-transform: skew(-25deg);-ms-transform: skew(-25deg);margin-top: 40px;}
.topmods {background-image: url("../images/transperent_shape.png"); background-position: left top; background-repeat: no-repeat; height: 100%; position: absolute; right: 0; top: 0; width: 47%;}
.stender {bottom: 15px; position: absolute; right: 40px;}
.stender h4 {background-image: url("../images/infulencemodel.png"); background-repeat: no-repeat; color: #ffffff; font-family: "KaushanScript-Regular"; font-size: 25px; padding: 22px 0 22px 55px; text-transform: uppercase;}
.clinets_says {padding: 80px 0 50px;}
.clinets_says p {color: #ffffff; font-family: "Lato-Regular"; font-size: 17px; margin: 0; text-align: center; text-transform: uppercase;}
.clinets_says h1 {color: #bd8414; font-family: "KaushanScript-Regular"; font-size: 50px; margin: 40px 0 20px; text-align: center;}
.test .lslide p {color: #777777; font-family: "Lato-Regular"; font-size: 16px; margin: 0; padding: 0 120px; text-align: center;}
.test .lslide label {color: #bd8414; display: block; font-family: "Lato-Regular"; margin: 40px 0 0; text-align: center; text-transform: uppercase;}
.test .lSSlideOuter .lSPager.lSpg li a {transition: none 0s ease 0s ;background-image:url(../images/slide.png);width:22px;height:22px;background-color:transparent;}
.test .lSSlideOuter .lSPager.lSpg li.active a {background-color: rgba(0, 0, 0, 0); background-image: url("../images/slide.png"); background-position: 0 -29px; background-repeat: no-repeat; height: 22px; margin: 3px 0; width: 23px;}
.test .lSSlideOuter .lSPager.lSpg {margin: 0; position: absolute; right: 0; top: 21%; transform: rotate(90deg) !important;-webkit-transform: rotate(90deg) !important;-ms-transform: rotate(90deg) !important;}
.section_six {background-image: url("../images/bleach.png"); background-position: left top; background-size: cover; padding: 130px 0 70px;}
.top_ladines img {border: 11px solid #bd8414;}
.section_seven > h1 {color: #bd8414; font-family: "KaushanScript-Regular"; font-size: 46px; margin: 0; padding: 70px 0; text-align: center;}
.instagramer {padding: 0;margin:0px;}
.instagramer li {display: block; float: left; position: relative; width: 20%;}
.instagramer li img {width:100%;}
.followme {display:none;}
.instagramer > li:hover .followme {background-color: rgba(189, 133, 21, 0.4); display: block; height: 100%; left: 0; padding: 0 0; position: absolute; right: 0; top: 0; width: 100%;}
.submit_follow {display: table; height: 100%; margin: 0 auto; padding: 20px; width: 100%;}
.main_follow {border: 1px solid #ffffff; display: table-cell; height: 100%; margin: 0 auto; padding: 0; vertical-align: middle;}
.followme a {text-decoration:none;}
.followme span {display:block;background-image:url(../images/instagram.png);width:31px;height:32px;background-repeat:no-repeat;margin:0 auto;}
.followme p {color: #ffffff; font-family: "KaushanScript-Regular"; font-size: 22px; margin: 35px 0 0; text-align: center;}
.map {clear: both;}
.map img {margin-top: 0px; width: 100%;}
.footer {padding: 60px 0;}
.post {padding: 20px 0;}
.post p {color: #ffffff; font-family: "Lato-Regular"; font-size: 16px;}
.post ul {margin: 0; padding: 0;}
.post ul li {display: inline-block; padding: 0 15px 0 0;}
.post ul li a {color:#777777;font-family: "Lato-Regular";font-size:13px;text-transform:uppercase;text-decoration:none;}
.mail_adress.clearfix {border-bottom: 1px solid #ffffff; margin-bottom: 10px; padding-bottom: 10px; margin-top: 28px;}
.leftmail {float: left;}
.leftmail p {color: #777777; font-family: "Lato-Regular"; font-size: 13px; font-style: italic; margin: 5px 0 0;}
.submit_mail {float: right;}
.submit_mail a {color: #bd8414; font-family: "Lato-Regular"; font-size: 16px; text-decoration: none; text-transform: uppercase;}
.social_icons ul {margin: 0; padding: 0;}
.social_icons ul li {color: #ffffff; display: inline-block; font-family: "Lato-Regular"; font-size: 13px; padding: 0 85px 0 0; text-transform: uppercase;}
.social_icons ul li:first-child {padding-right: 30px;}
.social_icons ul li:last-child {padding-right: 0;}
.social_icons ul li a {font-size:14px;color: #777777;text-decoration:none;}
.social_icons ul li a:hover {color: #bd8414;}
.mobile_menu.home_page {display: block; position: absolute; right: 25px; top: 20px;}
.mobile_menu.home_page .search {float: right; padding: 35px 40px 15px 10px;}
.mobile_menu.home_page .search a {background-image:url(../images/search.png);width:20px;height:19px;display:block;}

/*ourmodel*/
.ourmodel_banner {position:relative;}
.ourmodel_banner img {width: 100%;}
.ourmod_cnt {left: 0; margin: 0 auto; position: absolute; right: 0; top: 40%;}
.ourmod_cnt h1 {color: #ffffff; font-family: "KaushanScript-Regular"; font-size: 60px; text-align: center; text-transform: uppercase;}
.two_laid {text-align: center;}
.two_laid a {color: #bd8414; display: inline-block; font-family: "Lato-Regular"; text-decoration: none; text-transform: uppercase;}
.two_laid p:before {content: "//"; display: inline-block; padding-right: 15px;}
.two_laid p {color: #cccccc; display: inline-block; font-family: "Lato-Regular"; text-transform: uppercase;padding-left:15px;}
.model_photos {background-color: #ffffff; padding: 100px 0; position: relative;}
.model_photos:after {border-bottom: 1px solid #bd8414; content: " "; display: block; height: 1px; left: 0; position: absolute; top: 7%; width: 7%;}
.modelspro.clearfix {padding: 0 50px;}
.model_item {float: left; margin-bottom: 30px; padding: 0 15px; position: relative; width: 33%;}
.model_item img {width: 100%;}
.model_item:hover .colorbox {display: block; height: 550px; left: 0; margin: 0 auto; position: absolute; right: 0; top: -50px; width: 80%; z-index: 9;}
.model_item .inner_shades {border: 2px solid #ffffff; height: 500px; margin: 20px; padding: 250px 5px 0;}
.model_item .inner_shades h1 {color: #ffffff; font-family: "KaushanScript-Regular"; font-size: 30px; margin: 30px 0; text-align: center;}
.model_item .inner_shades p:last-child {margin: 35px 0 0;}
.butsload.clearfix {clear: both;padding: 70px 0 0;text-align: center;}
.butsload.clearfix a {background-color: #bd8414; color: #ffffff; display: inline-block; font-family: "Lato-Regular"; font-size: 16px; padding: 10px 30px; text-decoration: none; text-transform: uppercase; transform: skew(-25deg);-webkit-transform: skew(-25deg);-ms-transform: skew(-25deg);-moz-transform: skew(-25deg);}
.butsload.clearfix a span {display: block; transform: skew(25deg);-webkit-transform: skew(25deg);-ms-transform: skew(25deg);-moz-transform: skew(25deg);}
.footer.ourmodel_footer {background-color:#ffffff;}
.footer.ourmodel_footer .post p {color: #bd8414;}
.footer.ourmodel_footer .submit_mail a {color:#c32aa3;}
.footer.ourmodel_footer .mail_adress.clearfix {border-bottom:1px solid #cccccc;}
.footer.ourmodel_footer .social_icons ul li {color:#777777;}
.footer.ourmodel_footer .social_icons ul li a:hover {color:#c32aa3;}
/*end*/

.search_box,
.search_box .widget_product_search,
.search_box .widget_product_search form.woocommerce-product-search {
    margin: 0;
    width:100%;
}

.search_box {
    display:none;
      width: 50%;
    padding: 12px 0px;
    font-family: "Lato-Regular";
    position: absolute;
    right: 8px;
    bottom: -58px;
    float: right;
    text-align: right;
}



.search_box input[type=search] {
    -webkit-appearance: none;
    background-color: #00000075;
    border: 1px solid #777;
    padding: 6px;
    color: #fff;
}

.search_box .widget_product_search form input[type="search"] {
    height:86px;
    padding-right: 1.618em;
    padding-left: 1.618em;
    background-color: #000;
    color:#fff; 
}

.search_box .widget_product_search form.woocommerce-product-search::before {
    content: none;
}

@media only screen and (min-width:980px) and (max-width:1199px) {
.model_item:hover .colorbox {height: 450px;}
.model_item .inner_shades {height: 408px; padding: 170px 5px 0;}
.model_item .inner_shades h4 {font-size: 20px;}
.model_item .inner_shades h1 {font-size: 25px;}
.inner_shades p {font-size: 13px;}

/*homepage*/
.bc_mdl { width:100%; }
/*homepage*/

}

@media only screen and (min-width:980px) and (max-width:992px) {
.model_photos .container {width:960px;}
}

@media only screen and (min-width:768px) and (max-width:979px) {
.model_item {width: 50%;}
.model_item:hover .colorbox {height: 500px;}
.model_item .inner_shades {height: 454px; padding: 220px 5px 0;}

/*homepage*/
.bc_mdl { width:100%; }
/*homepage*/

}

@media only screen and (max-width:767px) {
.mobile_menu {display: block; position: absolute; right: 0; z-index: 1;}
.menu.clearfix {display:none;}
.model_item {width: 50%;}
.model_item:hover .colorbox {height: 500px;}
.model_item .inner_shades {height: 454px; padding: 220px 5px 0;}
.modelspro.clearfix {padding: 0;}
.model_photos:after {display:none;}
.ourmodel_banner {height: 350px; position: relative;}
.ourmodel_banner img {height: 100%;width:auto;}

/*homepage*/
.bc_mdl { width:100%; }
/*homepage*/
} 

@media only screen and (max-width:480px) {
.model_item {width: 100%;} 
.ourmod_cnt h1 {font-size:40px;}
.model_item:hover .colorbox {height: 550px;top: -30px;}
.model_item .inner_shades {height: 510px; padding: 220px 5px 0;}

/*homepage*/
.bc_mdl { width:100%; padding: 0px 0; }
.marlex.clearfix { padding:40px; }
.top_ladines img { width:100%; height: auto; }
.cnt_txt { left: 0px; margin: 0 auto; position: absolute; right: 0; text-align: center; top: 45%; width: 100%; }
.historyer { left: 22px; margin: 0 auto; padding-right: 0%; position: absolute; right: 0; top: 20%; width: 100%; padding: 20px; display: inline-block; }
.discover { padding: 0px 20% 50px; }
.customNavigation { padding: 20px 0; text-align: center; }

.top_mdl { float: left; width: 100%; position: relative; margin: 20px; }
.clinets_says { padding: 20px 0 20px; }
.test .lSSlideOuter.vertical .lightSlider > * { height: 180px !important; }
.test .lslide label { color: #bd8414; display: block; font-family: "Lato-Regular"; margin: 8px 0 0; text-align: center; text-transform: uppercase;  }
/*homepage*/
} 





/* About start*/
body .magelur_about { background-color: #fff; }
.container-fluid.magelur_header { padding-left:0px; padding-right:0px;}
.magelur_about_banner { background: url('../images/about_banner.jpg'); width:100%; height: 600px; background-size: cover; background-repeat: no-repeat; margin: 0 auto; display: inline-block; position: relative;}
.magelur_about .banner_title { display: inline-block; position: absolute; width:100%; text-align: center; bottom:80px; }
.magelur_about .banner_title h1 { font-size: 60px; color: #fff; font-family:"KaushanScript-Regular"; }
.magelur_about ul.link_list li { display: inline-block; font-family: "Lato-Regular"; font-size: 13px; color:#fff;}
.magelur_about ul.link_list li a { padding: 0px 10px; }
.magelur_about ul.link_list li.active a, ul.link_list li a:hover { color:#bd8414; }
.magelur_about_section { position: relative;  }
.magelur_about_section:before { content: ''; position: absolute; height: 1px; width:20%; left:0px; background-color: #bd8414; top:35%; }
.about_contant_section { padding-top:100px; padding-bottom:90px; }
.about_title h1 { font-family:"KaushanScript-Regular"; font-size: 47px; color:#bd8414; }
.about_title h3 { font-family: 'Raleway', sans-serif; font-size: 30px; letter-spacing: 1px; line-height: 40px; }
.about_details p { font-size: 15px; font-family: "Lato-Regular"; color:#777777; }
.choose_details { padding-top:45px; }
.choose_details p { font-size: 15px; font-family: "Lato-Regular"; color:#777777; }
.choose_slider_contant h1 { font-family:"KaushanScript-Regular"; font-size: 40px; color: #bd8414; padding: 30px 0px; } 
.search_box input[type=search] { -webkit-appearance: none; background-color: #00000075; border: 1px solid #777; padding: 6px; color: #fff; }
.search_box .widget_product_search form input[type="search"] { height:86px; padding-right: 1.618em; padding-left: 1.618em; background-color: #000; color:#fff; }
.search_box .widget_product_search form.woocommerce-product-search::before {  content: none; }
.about_slide p { font-family: "Lato-Regular"; font-size: 18px; color:#000; padding: 20px 40px 25px 0px; }
.about_slide a:hover p { color:#bd8414; }
body .owl-theme .owl-nav [class*=owl-] { background: transparent; color:#000; font-size: 50px; } 
body .owl-theme .owl-nav [class*=owl-]:hover { background: transparent; color:#000; font-size: 70px; }
body .owl-theme .owl-nav { margin-top: 10px; width: 75px; float: right; position: absolute; right: -100px; top: 0px; }
.slider_nav { display: block; position: absolute; font-family: "Lato-Regular";  font-size: 18px; left: 45px; text-align: center; width: 100%; top: 8px; }
.owl-carousel.about_slide { width:85% !important; }
.about_slide .owl-nav .owl-prev { display: inline-block !important; position: absolute; right: 36px; top: 44px; }
.about_slide .owl-nav .owl-next { display: inline-block !important; position: absolute; right: 0px; top: 43px; }
.our_photo { background: url('../images/our_photo.png'); width:100%; height: auto; background-size: cover; background-repeat: no-repeat; margin: 0 auto; display: inline-block; position: relative; padding-bottom:95px;}
.photo_title { padding:60px 0px; }
.photo_title h1 { font-family:"KaushanScript-Regular"; font-size: 47px; color: #bd8414; }
.our_photo_content h1 { font-size: 36px;  font-family:"KaushanScript-Regular";  color: #bd8414; }
.our_photo_content p { font-size:14px; color:#777777; font-family: "Lato-Regular";  }
.best_photo { position: relative;/* display: inline-block;*/ }
.best_photo_hover { display: none; transition: all 2s ease; -webkit-transition: all 2s ease; -ms-transition: all 2s ease;}
.best_photo:hover .best_photo_hover { display: block; background:rgba(189, 133, 21, 0.5); position: absolute; top: 0px; width:100%; height: 100%; transition: all 1s ease; -webkit-transition: all 1s ease; -ms-transition: all 1s ease;}
.best_photo_hover h3 { font-family:"KaushanScript-Regular"; color: #fff; text-align: center; padding: 10px; border: 2px solid #fff; position: relative; left: 0px; right: 0px; display: table; margin: 0 auto; top: 50%; }
ul.our_social { padding-left:0px; }
ul.our_social li { display: inline-block; list-style: none; padding-right:20px; }
ul.our_social li a { color:#777777; }
ul.our_social li a:hover { color:#bd8414; }
.our_social .fa { font-size: 24px; }
.service_work .best_photo { display: inline-block; position: relative;}
.service_work .test_title { transform: rotate(-90deg); -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); width: 300px; bottom: -182px; display: inline-block; position: relative;}
.service_work .test_title h1 {     font-family:"KaushanScript-Regular"; color: #bd8414; font-size: 48px; }
.service_work { background: url('../images/testimonials_slider.jpg'); width:100%; height: 550px; background-size: cover; background-repeat: no-repeat; margin: 0 auto; display: inline-block; position: relative; margin-bottom:95px; }
.service_work .owl-dot { background-color: #fff; height: 50px; width: 50px; border-radius: 50%; margin:30px; color:#fff;}
.service_work .owl-dot.active { background-color: #bd8414; height: 60px; width: 60px; border-radius: 50%; }
.slider_content p { font-family: "Lato-Regular"; color: #efefef; margin-top: 11%; padding: 2%; font-size: 15px; line-height: 24px; }
.service_work .owl-theme .owl-nav.disabled+.owl-dots { display: inline-grid; height: 452px; overflow: hidden; width: 200px; left: 128px; position: relative; bottom: 68px; }
.service_work .test_icons { font-size:20px !important; color:#bd8414; top:17px; position: relative; left:15px; }
.service_work .active .test_icons { font-size:28px !important; color:#fff; position: relative; top:16px; left:15px;  }
.service_work .owl-carousel .owl-stage-outer { position: relative; top: 217px; left: 185px; margin-left: 100px; }
.service_work .owl-dots .owl-dot:nth-child(even) {position: relative; left:39px; }
.service_work .owl-dots .owl-dot.active:nth-child(even) {position: relative; left:35px; }
.service_work .owl-dots .owl-dot:first-child { position: relative; left:-10px; }
.service_work .round-image { background: url(../images/round.png); position: absolute; display: inline-block;     height: 129%; top: -8px; /* z-index: 2; */ /* left: -159px; */ width: 24%; }
.service_work .slider_content { width: 100%; padding: 0px 156px; display: inline-block; position: relative; }
.service_work .slider_content h3 {  font-size: 26px;  display: inline-block; position: absolute; font-family:"KaushanScript-Regular"; color: #efefef; left: 0px; top: 70px; }
.service_work .owl-carousel.owl-drag .owl-item { left:50px; }
.service_work .lSSlideOuter.vertical .lightSlider > * { width: 100% !important; max-width: none !important; top: 42px; display: inline-block; position: relative; }
.testimonial { background-color: #efefef; width:100%; height:530px; }
.test_title { padding:80px 0px 60px 0px; text-align: center; }
.testimonial .test_title p { font-size: 18px; font-family: "Lato-Regular"; color:#bd8414;}
.testimonial .test_title h1 { font-size: 48px; font-family:"KaushanScript-Regular"; color:#222222; }
.testimonial .test_inslide { padding: 0px 10%; text-align: center; display: inline-block; }
.testimonial .test_inslide p { font-size: 15px; font-family: "Lato-Regular"; line-height: 25px; } 
.testimonial .test_inslide h3 { font-size: 18px; font-family: "Lato-Regular"; }
.testimonial .lSSlideOuter .lSPager.lSpg li a { transition: none 0s ease 0s; background-image: url(../images/test_slide.png); width: 22px; height: 22px; background-color: transparent; }
.testimonial .lSSlideOuter .lSPager.lSpg li.active a { background-color: #bd8414; background-image: url(../images/test_slide.png); background-position: 0 -29px; background-repeat: no-repeat; height: 22px; margin: 3px 0; width: 23px; }
.profile_name { padding-top:80px; display: inline-block; }
.about_map { margin:80px 0px; }
.service_work ul.lSPager.lSGallery { left:0px; display: inline-block; float: left; width: 100% !important; z-index:1; height: auto !important;}
.service_work .lSSlideOuter.vertical { margin-left: 13%; display: inline-block; margin-top: 14%; overflow: hidden; }
.service_work .lSSlideOuter .lightSlider,.service_work .lSSlideOuter .lSPager { width: 100%; left: 23%; display: inline-block; position: relative; z-index:2; /*height: 313px !important;*/} 
ul.lSPager.lSGallery li:first-child a { height: 50px; width:50px; border-radius:50%; background-color: #fff; display: inline-block; background-image: url(../images/lap.png); background-repeat: no-repeat;   background-position: center;     position: relative; left: 45px; }
ul.lSPager.lSGallery li.active:first-child a { height: 55px; width:55px; border-radius:50%; background-color: #bd8414; display: inline-block; background-image: url(../images/lap-1.png); background-repeat: no-repeat; background-position: center; }
ul.lSPager.lSGallery li:nth-child(2) a { height: 50px; width:50px; border-radius:50%; background-color: #fff; display: inline-block; background-image: url(../images/camera.png); background-repeat: no-repeat; background-position: center;     position: relative; left: 72px;}
ul.lSPager.lSGallery li.active:nth-child(2) a { height: 55px; width:55px; border-radius:50%; background-color: #bd8414; display: inline-block; background-image: url(../images/camera-1.png); background-repeat: no-repeat; background-position: center; }
ul.lSPager.lSGallery li:nth-child(3) a { height: 50px; width:50px; border-radius:50%; background-color: #fff; display: inline-block; background-image: url(../images/bullhorn.png); background-repeat: no-repeat; background-position: center;     position: relative; left: 38px;}
ul.lSPager.lSGallery li.active:nth-child(3) a { height: 55px; width:55px; border-radius:50%; background-color: #bd8414; display: inline-block; background-image: url(../images/bullhorn-1.png); background-repeat: no-repeat; background-position: center; }
ul.lSPager.lSGallery li { height: 120px !important }

@media (max-width: 480px)
{
.magelur_about_banner { height: 400px; }
.magelur_about .banner_title { bottom:140px; }
.desktop-menu { display: none; }
.mobile-menu { display: block; }
.magelur_about_section:before { display: none; }
.about_contant_section { padding-top:45px; text-align: center; padding-bottom:50px;}
.our_photo { background: unset; }
.owl-carousel.about_slide { width: 100% !important; }
body .owl-theme .owl-nav { margin-top: 0px; width: 75px; float: right; position: absolute; right: 100px; bottom: 50px; top: unset; }
.choose_slider_contant, .photo_title, .our_photo_section { text-align: center; }
.photo_title { padding: 30px 0px; }
.service_work .test_title h1, .photo_title h1 { font-family:"KaushanScript-Regular"; font-size: 35px; color: #bd8414; }
.our_photo_content h1 { font-size: 28px; font-family:"KaushanScript-Regular"; color: #bd8414; }
.service_work .lSSlideWrapper { max-width: 100%; overflow: hidden; position: relative; height: 310px !important; }
ul.lSPager.lSGallery li:first-child a, ul.lSPager.lSGallery li:nth-child(2) a, ul.lSPager.lSGallery li:nth-child(3) a { left: 45px;}
.service_work .slider_content p { color: #fff; font-size: 11px; padding: 10px; text-align: left; width: 70%; }
.service_work .round-image { display: none; }
.service_work .owl-carousel .owl-stage-outer { position: relative; left:0px; top:0px; }
.service_work .lSSlideOuter .lightSlider, .service_work .lSSlideOuter .lSPager { width: 100%; left: 25%; display: inline-block; position: relative; z-index: 2; /* height: 313px !important; */ }
.service_work ul.lSPager.lSGallery { left: -46px; display: inline-block; float: left; width: 100% !important; z-index: 1; height: auto !important; }
.service_work .lSSlideOuter.vertical { margin-left: 0%; display: inline-block; margin-top: 0%; overflow: hidden; width: 100%; padding-right: 0px !important; }
.service_work .owl-theme .owl-nav.disabled+.owl-dots { display: inline-block; height: unset; overflow: hidden; width: 100%; left: 0px; position: relative; bottom: 0px; text-align: center; }
.service_work .slider_content { width: 100%; padding: 46px 0px; display: inline-block; position: relative; top:-55px;}
.service_work { height: 475px; width: 100%; padding: 20px 0px;  margin-bottom: 0px; overflow: hidden;}
.service_work .lSSlideWrapper { max-width: 100%; overflow: hidden; position: relative; /*height: 100%!important;*/ }
.service_work .owl-dots .owl-dot:nth-child(even) { position: relative; left: 0px; top:0px;  bottom: -4px !important; display: inline-block; position: relative; }
.service_work .owl-dots .owl-dot:first-child { position: relative; left: -10px; top:0px;  bottom: -4px !important; display: inline-block; position: relative; }
.service_work .owl-dot.active { background-color: #bd8414; height: 40px; width:40px; border-radius: 50%; margin: 10px;     bottom: -4px !important; display: inline-block; position: relative; }
.service_work .owl-dot { background-color: #fff; height: 40px; width: 40px; border-radius: 50%;  margin: 10px; color: #fff;  display: inline-block;}
.service_work .owl-carousel.owl-drag .owl-item { left: 10px; }
.slider_content p { font-family: "Lato-Regular"; color: #efefef; margin-top: 0%; padding: 2%; font-size: 15px; line-height: 18px; }
.service_work .slider_content h3 { display: inline-block; position: relative; font-family:"KaushanScript-Regular"; color: #fff; left: 10px; top: -7px; }
.service_work .test_title { transform: rotate(0deg);  -webkit-transform: rotate(0deg);  -ms-transform: rotate(0deg);  width: 100%; bottom: 0px; display: inline-block; position: relative; }
.service_work .active .test_icons { font-size: 23px !important; color: #fff; position: relative; top: 8px; left: 0px; }
.service_work .test_icons { font-size: 18px !important; color: #bd8414; top: 13px; position: relative; left: 0px; }
.testimonial { width:100%; height: auto; }
.test_title { padding: 30px 0px 30px 0px; text-align: center; }
.testimonial li.lslide.active { height: 100% !important; }
.test .lslide p { color: #777777; font-family: "Lato-Regular"; font-size: 16px; margin: 0; padding: 0 0px; text-align: center; }
.test .lSSlideOuter .lSPager.lSpg { margin: 0; position: absolute; right: 0; top: unset; transform: rotate(0deg) !important; -webkit-transform: rotate(0deg) !important; -ms-transform: rotate(0deg) !important; bottom: 50px; text-align: center; display: inline-block; width: 100%; }
.social_icons ul li { color: #ffffff; display: inline-block; font-family: "Lato-Regular"; font-size: 13px; padding: 0 10px 0 0; text-transform: uppercase; }
}


@media (min-width: 481px) and (max-width: 767px)
{
.magelur_about_banner { height: 500px; }
.magelur_about .banner_title { bottom:120px; }
.desktop-menu { display: none; }
.mobile-menu { display: block; }
.magelur_about_section:before { display: none; }
.about_contant_section { padding-top:45px; padding-bottom:50px; text-align: center; }
.our_photo { background: unset; }
.our_photo .our_photo_content { padding:2% 15%; }
.owl-carousel.about_slide { width: 100% !important; }
body .owl-theme .owl-nav { margin-top: 0px; width: 100%; float: unset;  position: relative; right: 50%; top: unset; display: inline-block; text-align: center; padding: 10px; } 
.choose_slider_contant, .photo_title, .our_photo_section { text-align: center; }
.service_work .test_title h1, .photo_title h1 { font-family:"KaushanScript-Regular"; font-size: 35px; color: #bd8414; }
.our_photo_content h1 { font-size: 28px; font-family:"KaushanScript-Regular"; color: #bd8414; }
.service_work .round-image { display: none; }
.service_work .owl-carousel .owl-stage-outer { position: relative; left:0px; top:0px; }
.service_work .owl-theme .owl-nav.disabled+.owl-dots { display: inline-block; height: unset; overflow: hidden; width: 100%; left: 0px; position: relative; bottom: 0px; text-align: center; }
.service_work .slider_content { width: 100%; padding: 0px 0px; display: inline-block; position: relative; }
.service_work { height: 500px; width:100%; padding:20px 0px; margin-bottom:0px; }
.service_work .lSSlideWrapper { max-width: 100%; overflow: hidden; position: relative; height: 310px !important; }
ul.lSPager.lSGallery li:first-child a, ul.lSPager.lSGallery li:nth-child(2) a, ul.lSPager.lSGallery li:nth-child(3) a { left: 45px;}
.service_work .lSSlideOuter.vertical { margin-left: 0%; display: inline-block; margin-top: 0%; overflow: hidden; }
.service_work .slider_content p { color: #fff; font-size: 16px; padding: 10px; text-align: left; width: 78%; }
.service_work .lSSlideWrapper { max-width: 100%; overflow: hidden; position: relative; height: 100%!important; }
.service_work .owl-dots .owl-dot:nth-child(even) { position: relative; left: 0px; top:0px;  bottom: -4px !important; display: inline-block; position: relative; }
.service_work .owl-dots .owl-dot:first-child { position: relative; left: -10px; top:0px;  bottom: -4px !important; display: inline-block; position: relative; }
.service_work .owl-dot.active { background-color: #bd8414; height: 40px; width:40px; border-radius: 50%; margin: 10px;     bottom: -4px !important; display: inline-block; position: relative; }
.service_work .owl-dot { background-color: #fff; height: 40px; width: 40px; border-radius: 50%;  margin: 10px; color: #fff;  display: inline-block;}
.service_work .owl-carousel.owl-drag .owl-item { left: 10px; }
.slider_content p { font-family: "Lato-Regular"; color: #efefef; margin-top: 0%; padding: 2%; font-size: 15px; line-height: 18px; }
.service_work .slider_content h3 { display: inline-block; position: relative; font-family:"KaushanScript-Regular"; color: #fff; left: 10px; top: -7px; }
.service_work .test_title { transform: rotate(0deg);  -webkit-transform: rotate(0deg);  -ms-transform: rotate(0deg);  width: 100%; bottom: 0px; display: inline-block; position: relative; }
.service_work .active .test_icons { font-size: 23px !important; color: #fff; position: relative; top: 8px; left: 0px; }
.service_work .test_icons { font-size: 18px !important; color: #bd8414; top: 13px; position: relative; left: 0px; }
.testimonial { width:100%; height: auto; }
.test_title { padding: 30px 0px 30px 0px; text-align: center; }
.testimonial li.lslide.active { height: 100% !important; }
.test .lslide p { color: #777777; font-family: "Lato-Regular"; font-size: 16px; margin: 0; padding: 0 0px; text-align: center; }
.test .lSSlideOuter .lSPager.lSpg { margin: 0; position: absolute; right: 0; top: unset; transform: rotate(0deg) !important; -webkit-transform: rotate(0deg) !important; -ms-transform: rotate(0deg) !important; bottom: 50px; text-align: center; display: inline-block; width: 100%; }
.service_work .lSSlideOuter.vertical .lightSlider > * { width: 100% !important;  max-width: none !important; top: 42px; display: inline-block; position: relative; height: 400px !important; max-height: 100% !important;}
.service_work .lSSlideOuter .lightSlider, .service_work .lSSlideOuter .lSPager {
    width: 100%;
    left: 31%;
    display: inline-block;
    position: relative;
    z-index: 2;
    /* height: 313px !important; */
}
.social_icons ul li { color: #ffffff; display: inline-block; font-family: "Lato-Regular"; font-size: 13px; padding: 0 10px 0 0; text-transform: uppercase; }
}



@media (min-width: 768px) and (max-width: 991px)
{
.magelur_about_section:before { display: none; }
.our_photo { background: unset; }
.about_contant_section { padding-top:45px; padding-bottom:50px; text-align: center; }
.our_photo { background: unset; }
.our_photo .our_photo_content { padding:4% 20%; }
.owl-carousel.about_slide { width: 100% !important; }
body .owl-theme .owl-nav { margin-top: 0px; width: 100%; float: unset;  position: relative; right: 50%; top: unset; display: inline-block; text-align: center; padding: 10px; } 
.choose_slider_contant, .photo_title, .our_photo_section { text-align: center; }
.service_work .lSSlideWrapper { max-width: 100%; overflow: hidden; position: relative; height: 310px !important; }
ul.lSPager.lSGallery li:first-child a, ul.lSPager.lSGallery li:nth-child(2) a, ul.lSPager.lSGallery li:nth-child(3) a { left: 45px;}
.service_work { height: 500px; width:100%; padding:20px 0px; margin-bottom:0px; }
.service_work .lSSlideOuter.vertical { margin-left: 0%; display: inline-block; margin-top: 0%; overflow: hidden; }
.service_work .slider_content p { font-family: "Lato-Regular"; color: #efefef; margin-top: 0%; padding: 2%; font-size: 15px; line-height: 18px; }
.service_work .round-image { display: none; }
.service_work .owl-carousel .owl-stage-outer { position: relative; left:0px; top:0px; }
.service_work .owl-theme .owl-nav.disabled+.owl-dots { display: inline-block; height: unset; overflow: hidden; width: 100%; left: 0px; position: relative; bottom: 0px; text-align: center; }
.service_work .slider_content { width: 100%; padding: 0px 0px; display: inline-block; position: relative; }
.service_work {     height: 500px;
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 0px;
    overflow: hidden; }
.service_work .lSSlideWrapper { max-width: 100%; overflow: hidden; position: relative; height: 100%!important; }
.service_work .owl-dots .owl-dot:nth-child(even) { position: relative; left: 0px; top:0px;  bottom: -4px !important; display: inline-block; position: relative; }
.service_work .owl-dots .owl-dot:first-child { position: relative; left: -10px; top:0px;  bottom: -4px !important; display: inline-block; position: relative; }
.service_work .owl-dot.active { background-color: #bd8414; height: 40px; width:40px; border-radius: 50%; margin: 10px;     bottom: -4px !important; display: inline-block; position: relative; }
.service_work .owl-dot { background-color: #fff; height: 40px; width: 40px; border-radius: 50%;  margin: 10px; color: #fff;  display: inline-block;}
.service_work .owl-carousel.owl-drag .owl-item { left: 10px; }
.slider_content p { font-family: "Lato-Regular"; color: #efefef; margin-top: 0%; padding: 2%; font-size: 15px; line-height: 18px; }
.service_work .slider_content h3 { display: inline-block; position: relative; font-family:"KaushanScript-Regular"; color: #fff; left: 10px; top: -7px; }
.service_work .test_title { transform: rotate(0deg);  -webkit-transform: rotate(0deg);  -ms-transform: rotate(0deg);  width: 100%; bottom: 0px; display: inline-block; position: relative; }
.service_work .active .test_icons { font-size: 23px !important; color: #fff; position: relative; top: 8px; left: 0px; }
.service_work .test_icons { font-size: 18px !important; color: #bd8414; top: 13px; position: relative; left: 0px; }
.testimonial { width:100%; height: 500px; }
.test_title { padding: 30px 0px 30px 0px; text-align: center; }
.testimonial li.lslide.active { height: 100% !important; }
.test .lslide p { color: #777777; font-family: "Lato-Regular"; font-size: 20px; margin: 0; padding: 0 0px; text-align: center; }
.test .lslide label { font-size: 22px; }
.test .lSSlideOuter .lSPager.lSpg { margin: 0; position: absolute; right: 0; top: 50%; transform: rotate(0deg) !important; -webkit-transform: rotate(0deg) !important; -ms-transform: rotate(0deg) !important; bottom: 50px; text-align: center; display: inline-block; width: 100%; }
.social_icons ul li { color: #ffffff; display: inline-block; font-family: "Lato-Regular"; font-size: 13px; padding: 0 10px 0 0; text-transform: uppercase; }
}


@media (min-width: 992px) and (max-width: 1199px)
{
.magelur_about_section:before { display: none; }
.our_photo { background: unset; }
.about_contant_section { padding-top:45px; padding-bottom:50px; text-align: center; }
.our_photo { background: unset; }
.our_photo .our_photo_content { padding:4% 20%; }
.owl-carousel.about_slide { width: 100% !important; }
body .owl-theme .owl-nav { margin-top: 0px; width: 100%; float: unset;  position: relative; right: 50%; top: unset; display: inline-block; text-align: center; padding: 10px; } 
.choose_slider_contant, .photo_title, .our_photo_section { text-align: center; }
.service_work .lSSlideWrapper { max-width: 100%; overflow: hidden; position: relative; height: 310px !important; }
ul.lSPager.lSGallery li:first-child a, ul.lSPager.lSGallery li:nth-child(2) a, ul.lSPager.lSGallery li:nth-child(3) a { left: 45px;}
.service_work .lSSlideOuter.vertical { margin-left: 0%; display: inline-block; margin-top: 0%; overflow: hidden; }
.service_work .slider_content p { color: #fff; font-size: 16px; padding: 10px; text-align: left; width: 78%; }
.service_work .round-image { display: none; }
.service_work .owl-carousel .owl-stage-outer { position: relative; left:0px; top:0px; }
.service_work .owl-theme .owl-nav.disabled+.owl-dots { display: inline-block; height: unset; overflow: hidden; width: 100%; left: 0px; position: relative; bottom: 0px; text-align: center; }
.service_work .slider_content { width: 100%; padding: 0px 0px; display: inline-block; position: relative;     top: 22% !important;}
.service_work { height: 400px; width:100%; padding:20px 0px; margin-bottom:0px; }
.service_work .lSSlideWrapper { max-width: 100%; overflow: hidden; position: relative; height: 100%!important; }
.service_work .owl-dots .owl-dot:nth-child(even) { position: relative; left: 0px; top:0px;  bottom: -4px !important; display: inline-block; position: relative; }
.service_work .owl-dots .owl-dot:first-child { position: relative; left: -10px; top:0px;  bottom: -4px !important; display: inline-block; position: relative; }
.service_work .owl-dot.active { background-color: #bd8414; height: 40px; width:40px; border-radius: 50%; margin: 10px;     bottom: -4px !important; display: inline-block; position: relative; }
.service_work .owl-dot { background-color: #fff; height: 40px; width: 40px; border-radius: 50%;  margin: 10px; color: #fff;  display: inline-block;}
.service_work .owl-carousel.owl-drag .owl-item { left: 10px; }
.slider_content p { font-family: "Lato-Regular"; color: #efefef; margin-top: 0%; padding: 2%; font-size: 15px; line-height: 18px; }
.service_work .slider_content h3 { display: inline-block; position: relative; font-family:"KaushanScript-Regular"; color: #fff; left: 10px; top: -7px; }
.service_work .test_title { transform: rotate(0deg);  -webkit-transform: rotate(0deg);  -ms-transform: rotate(0deg);  width: 100%; bottom: 0px; display: inline-block; position: relative; }
.service_work .active .test_icons { font-size: 23px !important; color: #fff; position: relative; top: 8px; left: 0px; }
.service_work .test_icons { font-size: 18px !important; color: #bd8414; top: 13px; position: relative; left: 0px; }
.testimonial { width:100%; height: 500px; }
.test_title { padding: 30px 0px 30px 0px; text-align: center; }
.testimonial li.lslide.active { height: 100% !important; }
.test .lslide p { color: #777777; font-family: "Lato-Regular"; font-size: 20px; margin: 0; padding: 0 0px; text-align: center; }
.test .lslide label { font-size: 22px; }
.test .lSSlideOuter .lSPager.lSpg { margin: 0; position: absolute; right: 0; top: 50%; transform: rotate(0deg) !important; -webkit-transform: rotate(0deg) !important; -ms-transform: rotate(0deg) !important; bottom: 50px; text-align: center; display: inline-block; width: 100%; }
.service_work ul.lSPager.lSGallery { left: 0px; display: inline-block; float: left; width: 100% !important; z-index: 1; height: auto !important; top: 15%; }
.social_icons ul li { color: #ffffff; display: inline-block; font-family: "Lato-Regular"; font-size: 13px; padding: 0 10px 0 0; text-transform: uppercase; }
}



@media (min-width: 1200px) and (max-width:1300px)
{
body .owl-theme .owl-nav { margin-top: 10px; width: 75px; float: right; position: relative; right: 50%; top: 0px; }
}

/* About End*/