.ourmod_cnt.pents h1 {font-size: 45px;line-height: 55px;margin-top: 5px;}
.mainder_pent {background-color: #151515; padding: 65px 0;position: relative;}
.sender_parter {background-color: #333333; border: 2px solid #f9bb42; border-radius: 3px; margin: 0 100px 0 250px; padding: 100px 30px 100px 200px; position: relative;}
.penty_houser h3 {border-bottom: 1px solid #ffffff; color: #d4d4d4; display: table; font-family: "Lato-Regular"; font-size: 21px; margin: 0; padding-bottom: 5px; text-transform: uppercase;}
.setcher {left: -130px; position: absolute; top: 17%; width:275px;}
.setcher img {border: 2px solid #f9bb42; border-radius: 3px; width: 100%;}
.penty_houser p {color: #d4d4d4; font-size: 16px; margin-top: 5px; text-transform: uppercase;}
.minagents {padding: 0;}
.minagents li {color: #d4d4d4; display: block; font-family: "Lato-Regular"; margin-bottom: 10px; text-transform: uppercase;}
.minsubagents {margin: 0;padding: 0px;}
.minsubagents > li {color: #d4d4d4; display: inline-block; font-family: "Lato-Regular"; text-transform: uppercase;}
span.left_cols {display:inline-block; width: 15%;}
.agents {margin: 38px 0;}
.righ_cols {display: inline-block; padding-right: 15px;}
.minsubagents .righ_cols {padding-left: 11px; padding-right: 11px;}
.minsubagents span.left_cols {width: auto;}
.mainder_pent .section_seven h1 {font-size: 36px;padding: 20px 0;text-align: center;}
.mainder_pent .section_seven > p {color: #ffffff; font-family: "KhmerUI"; font-size: 20px; text-align: center;margin-bottom:70px;}
.categoriesed {padding: 0 0 0 300px;}
.categoriesed h4 {color: #ffffff; font-family: "Lato-Regular"; font-size: 14px; margin: 25px 0; text-transform: uppercase;}
.listboxnes {margin: 0 0 10px; padding: 0;}
.listboxnes li {display: inline-block;margin-right:7px;}
.listboxnes li a {background-color: #adadad; border-radius: 3px; display: block; font-family: "Lato-Regular"; padding: 7px 20px; text-transform: uppercase;}
.bggraphy {padding: 10px 300px 20px;}
.bggraphy h4 {color: #ffffff; font-family: "Lato-Regular"; font-size: 16px; text-transform: uppercase;}
.bggraphy p {color: #8f8f8f; font-family:"Lato-Regular";font-size: 15px;}
.twopackages {padding: 0 300px;}
.start_pack_one {display: block; float: left; padding-right: 75px; position: relative;margin-bottom: 40px;}
.three_packages {padding: 0 300px;}
.contact_this_agent.clearfix {margin: 130px 300px 150px;position: relative;text-align: center;}
.start_pack_one h4 {margin-bottom: 20px;color: #ffffff; font-family: "Lato-Regular"; font-size: 15px; text-transform: uppercase;}
.start_pack_one::after {border-left: 4px solid #b4b4b4; content: " "; display: block; height: 25px; left: -37px; position: absolute; top: 5px; width: 2px;}
.twopackages .start_pack_one:first-child::after {display: none;}
.twopackages .start_pack_one:last-child {padding:0px;}
.three_packages .start_pack_one:last-child {padding:0px;}
.three_packages .start_pack_one:first-child::after {display: none;}
.start_pack_one p a {color: #8f8f8f; font-family: "Lato-Regular"; text-decoration:none;}
.contact_this_agent.clearfix::after {border-bottom: 1px solid #eab03f; content: " "; display: block; position: absolute; top: 16px; width: 100%; z-index: 0;}
.contact_this_agent.clearfix a {background-color: #f9bb42; border-radius: 3px; color: #0a0a0a; display: inline-block; font-family: "Lato-Regular"; font-size: 16px; padding: 5px 10px; position: relative; text-align: center; text-transform: uppercase; z-index: 1;}
.mainder_pent::after {border-bottom: 1px solid #f9bb42; content: " "; display: block; height: 3px; position: absolute; top: 10%; width: 5%;}

.mdl_agncylist .ourmod_cnt h1 {font-size: 40px;}
.mdl_agncylist .ourmod_cnt {top: 60%;}
.mdl_agncylist .two_laid {font-size: 11px;}
.model_photos.model_jutose {background-color: #202020;padding: 65px 0;}
.thripple_columns_sectrer ul li {display: block; float: left; margin: 15px 0; padding: 0 10px; position: relative; width: 33%;}
.thripple_columns_sectrer ul li img {border: 2px solid #cccccc; border-radius: 3px; width: 100%;}
.model_jutose .modelspro.clearfix {padding: 0 100px;}
.model_photos.model_jutose {background-color: #202020; padding: 65px 0;}
.model_photos.model_jutose::after {top: 11%; width: 11%;}
button span {display: block; transform: skew(25deg);}
.model_photos.model_jutose button {margin-top:0px;}
.thripple_columns_sectrer ul li:hover .pent_house {background-color: rgba(189, 133, 21, 0.9); display: block; height: 89%; left: 0; margin: 0 auto; position: absolute; right: 0; top: 15px; width: 84%;}
.pent_house {display:none;}
.pslmasgs {border: 1px solid #ffffff; margin: 15px; padding: 67px 10px 0;}
.pslmasgs h4 {color: #ffffff; font-family: "kaushanscript-regular"; margin-bottom: 65px; text-align: center;}
.pslmasgs p {color: #ffffff; margin: 0 0 10px; text-align: center; text-transform: uppercase;}

@media(min-width: 992px) and (max-width: 1199px) {
.model_jutose .modelspro.clearfix {padding: 0 50px;}
.pslmasgs h4 {margin-bottom:40px;}
.sender_parter {padding: 70px 30px 100px 170px;}
.setcher {width: 255px;}
}

@media(min-width: 768px) and (max-width: 979px) {
.model_jutose .modelspro.clearfix {padding: 0 50px;}
.pslmasgs h4 {margin-bottom:40px;}
.thripple_columns_sectrer ul li {width: 50%;}
.pslmasgs {padding: 87px 10px 0;}
.setcher {left: -110px;top: 22%;width: 205px;}
.sender_parter {padding: 50px 30px 60px 140px;}
.penty_houser h3 {font-size:19px;}
span.left_cols {display: inline-block;width: auto;}
.mainder_pent::after {display:none;}
.categoriesed {padding: 0 30px 0 30px;}
.listboxnes {margin: 0;}
.listboxnes li {margin-bottom: 10px;}
.bggraphy {padding: 10px 30px 20px;}
.twopackages {padding: 0 30px;}
.three_packages {padding: 0 30px;}
.contact_this_agent.clearfix {margin: 130px 30px 150px;}
}

@media (max-width:767px) {
.model_jutose .modelspro.clearfix {padding: 0 50px;}
.pslmasgs h4 {margin-bottom:40px;}
.thripple_columns_sectrer ul li {width: 50%;}
.pslmasgs {padding: 80px 10px 0;}
.thripple_columns_sectrer > ul {padding: 0;}
.thripple_columns_sectrer ul li img {height: 262px;object-fit:cover;}
.pslmasgs h4 {font-size:16px;}
.model_jutose .modelspro.clearfix {padding: 0 10px;}
.setcher {left: 0; margin: 0 auto; position: absolute; right: 0; top: 30px; width: 275px;}
.sender_parter {margin: 0 30px;padding: 360px 30px 40px 40px;}
.mainder_pent::after {display:none;}
.categoriesed {padding: 0 30px 0 30px;}
.listboxnes {margin: 0;}
.listboxnes li {margin-bottom: 10px; text-align: center; width: 100%; }
.bggraphy {padding: 10px 30px 20px;}
.twopackages {padding: 0 30px;}
.three_packages {padding: 0 30px;}
.contact_this_agent.clearfix {margin: 130px 30px 150px;}
.start_pack_one::after {left:-29px;}
.start_pack_one {padding-right: 50px;}
span.left_cols {display: inline-block;width: auto;}
.mainder_pent::after {display:none;}
.penty_houser h3 {font-size:18px; text-align: center; width: 100%; position: relative; display: inline; padding: 2px;}
.sender_parter {margin: 0 30px;padding: 360px 30px 40px; text-align: center;}
.ourmod_cnt.pents h1 {font-size: 25px;line-height: 45px;}
.bggraphy p { text-align: center; }
}

@media (max-width:640px) {
  .mdl_agncylist .ourmod_cnt {top: 40%;}
  .mdl_agncylist .ourmod_cnt h1 {font-size: 30px;}
}

@media (max-width:480px) {
 .thripple_columns_sectrer ul li {width: 100%;}
 .setcher { width:100%; }
 .penty_houser h3 { font-size: 15px; padding: 0px; }
 .start_pack_one { padding-right: 0px; width: 100%; text-align: center; }
 .start_pack_one::after { border-left:none; }
}