.ourmod_cnt.pents h1 {font-size: 45px;line-height: 55px;margin-top: 5px;}
.mainder_pent {background-color: #151515; padding: 65px 0;position: relative;}
.sender_parter {background-color: #333333; border: 2px solid #f9bb42; border-radius: 3px; margin: 0 100px 0 250px; padding: 100px 30px 100px 200px; position: relative;}
.penty_houser h3 {border-bottom: 1px solid #ffffff; color: #d4d4d4; display: table; font-family: "Lato-Regular"; font-size: 21px; margin: 0; padding-bottom: 5px; text-transform: uppercase;}
.setcher {left: -130px; position: absolute; top: 17%; width:275px;}
.setcher img {border: 2px solid #f9bb42; border-radius: 3px; width: 100%;}
.penty_houser p {color: #d4d4d4; font-size: 16px; margin-top: 5px; text-transform: uppercase;}
.minagents {padding: 0;}
.minagents li {color: #d4d4d4; display: block; font-family: "Lato-Regular"; margin-bottom: 10px; text-transform: uppercase;}
.minsubagents {margin: 0;padding: 0px;}
.minsubagents > li {color: #d4d4d4; display: inline-block; font-family: "Lato-Regular"; text-transform: uppercase;}
span.left_cols {display:inline-block; width: 15%;}
.agents {margin: 38px 0;}
.righ_cols {display: inline-block; padding-right: 15px;}
.minsubagents .righ_cols {padding-left: 11px; padding-right: 11px;}
.minsubagents span.left_cols {width: auto;}
.mainder_pent .section_seven h1 {font-size: 36px;padding: 20px 0;text-align: center;}
.mainder_pent .section_seven > p {color: #ffffff; font-family: "KhmerUI"; font-size: 20px; text-align: center;margin-bottom:70px;}
.categoriesed {padding: 0 0 0 300px;}
.categoriesed h4 {color: #ffffff; font-family: "Lato-Regular"; font-size: 14px; margin: 25px 0; text-transform: uppercase;}
.listboxnes {margin: 0 0 10px; padding: 0;}
.listboxnes li {display: inline-block;margin-right:7px;}
.listboxnes li a {background-color: #adadad; border-radius: 3px; display: block; font-family: "Lato-Regular"; padding: 7px 20px; text-transform: uppercase;}
.bggraphy {padding: 10px 300px 20px;}
.bggraphy h4 {color: #ffffff; font-family: "Lato-Regular"; font-size: 16px; text-transform: uppercase;}
.bggraphy p {color: #8f8f8f; font-family:"Lato-Regular";font-size: 15px;}
.twopackages {padding: 0 300px;}
.start_pack_one {display: block; float: left; padding-right: 75px; position: relative;margin-bottom: 40px;}
.three_packages {padding: 0 300px;}
.contact_this_agent.clearfix {margin: 130px 300px 150px;position: relative;text-align: center;}
.start_pack_one h4 {margin-bottom: 20px;color: #ffffff; font-family: "Lato-Regular"; font-size: 15px; text-transform: uppercase;}
.start_pack_one::after {border-left: 4px solid #b4b4b4; content: " "; display: block; height: 25px; left: -37px; position: absolute; top: 5px; width: 2px;}
.twopackages .start_pack_one:first-child::after {display: none;}
.twopackages .start_pack_one:last-child {padding:0px;}
.three_packages .start_pack_one:last-child {padding:0px;}
.three_packages .start_pack_one:first-child::after {display: none;}
.start_pack_one p a {color: #8f8f8f; font-family: "Lato-Regular"; text-decoration:none;}
.contact_this_agent.clearfix::after {border-bottom:1px solid #bd8414; content: " "; display: block; position: absolute; top: 21px; width: 100%; z-index: 0;}
.contact_this_agent.clearfix a {background-color: #bd8414; border-radius: 3px; color: #ffffff; display: inline-block; font-family: "Lato-Regular"; font-size: 17px; padding: 10px 42px; position: relative; text-align: center; text-transform: uppercase; transform: skew(-25deg);-webkit-transform: skew(-25deg);-ms-transform: skew(-25deg); z-index: 1;}
.contact_this_agent.clearfix a span {display:block;transform: skew(25deg);-webkit-transform: skew(25deg);-ms-transform: skew(25deg);}
.mainder_pent::after {border-bottom: 1px solid #f9bb42; content: " "; display: block; height: 3px; position: absolute; top: 10%; width: 5%;}
.ourmodel_banner.agency_profilepage {background-image:url(../images/agencybanner.jpg);}

.ourmodel_banner.mdl_agncylist {background-image:url(../images/modelagencybanner.jpg);}
.mdl_agncylist .ourmod_cnt h1 {font-size: 40px;}
.mdl_agncylist .ourmod_cnt {top: 60%;}
.mdl_agncylist .two_laid {font-size: 11px;}
.model_photos.model_jutose {background-color: #202020;padding: 65px 0;}
.thripple_columns_sectrer ul li {display: block; float: left; margin: 15px 0; padding: 0 10px; position: relative; width: 33%;}
.thripple_columns_sectrer ul li img {border: 2px solid #cccccc; border-radius: 3px; width: 100%;}
.model_jutose .modelspro.clearfix {padding: 0 100px;}
.model_photos.model_jutose {background-color: #202020; padding: 65px 0;}
.model_photos.model_jutose::after {top: 11%; width: 11%;}
button span {display: block; transform: skew(25deg);-webkit-transform: skew(25deg);-ms-transform: skew(25deg);}
.model_photos.model_jutose button {margin-top:0px;}
.thripple_columns_sectrer ul li:hover .pent_house {background-color: rgba(189, 133, 21, 0.9); display: block; height: 89%; left: 0; margin: 0 auto; position: absolute; right: 0; top: 15px; width: 84%;}
.pent_house {display:none;}
.pslmasgs {border: 1px solid #ffffff; margin: 15px; padding: 67px 10px 0;}
.pslmasgs h4 {color: #ffffff; font-family: "kaushanscript-regular"; margin-bottom: 65px; text-align: center;}
.pslmasgs p {color: #ffffff; margin: 0 0 10px; text-align: center; text-transform: uppercase;}

.event_detail_banner {background-image:url(../images/event_detail_banner.jpg);}
.event_book {background-color: #151515;}
.smcnt p {color: #818181; font-family: "Lato-Regular"; font-size: 21px;}
.mnth_date {background-color: #c38f29; border-top: 15px solid #151515; margin-bottom: 45px; margin-top: -80px; padding: 35px 0 45px; text-align: center; width: 90%;}
.mnth_date h1 {color: #ffffff; font-family: Lato-Regular; font-size: 80px; margin: 0;}
.mnth_date h3 {color: #ffffff; font-family: "Lato-Regular"; font-size: 32px; margin: 0; text-align: center; text-transform: uppercase;}
.mnth_date p {color: #ffffff; font-family: "Lato-Regular"; font-size: 30px; margin: 0;}
.start_dates h5, .end_dates h5, .price_form h5 {color: #ffffff; font-family: "Lato-Regular"; font-size: 26px;}
.start_dates p, .end_dates p {color: #999999; font-family: "Lato-Regular"; font-size: 21px;}
.price_form p {color: #ffffff; font-family: "Lato-Regular"; font-size: 26px; text-align: right;}
.inbook a {background-color: #c38f29; border-radius: 4px; display: block; font-family: "Lato-Regular"; font-size: 20px; padding: 10px; text-align: center; text-transform: uppercase;}
.price_form {border-top: 1px solid #ffffff; margin-top: 25px; padding-top: 15px;}
.maistartes {padding-left: 35px;}
.start_dates p span, .end_dates p span {color:#ffffff;}
.banter img {width: 100%;}
.event_map {border: 15px solid rgba(195, 143, 41, 0.18);}
.event_map img {width: 100%;}
.srez_ones {float: left; height: 430px; width: 47%;position:relative;}
.srez_twos {float: left; width: 53%;}
.srez_twos .serias {margin: 0;padding: 0;}
.serias li {float: left; height: 220px; width: 50%;padding:0 0px 10px 10px;}
.srez_ones img {height: 100%; object-fit: cover; width: 100%;}
.serias li a img {height: 100%; object-fit: cover; width: 100%;}
.with_frnds {position:relative;background-color: #151515;padding:120px 0;}
.with_frnds img {width: 100%;}
.your_frnds {left: 0; position: absolute; right: 0; text-align: center; top: 33%;}
.your_frnds h3 {color: #ffffff; font-family: "kaushanscript-regular"; font-size: 35px; margin-bottom: 0; margin-top: 10px; text-transform: uppercase;}
.your_frnds p {color: #ffffff; font-family: "kaushanscript-regular"; font-size: 55px; margin-top: 0; text-transform: uppercase; word-spacing: 15px;}
.learned {bottom: 96px; left: 0; position: absolute; right: 0; text-align: center;}
.learned a, .learned a:hover, .learned a:focus {background-color: #bd8414; border-radius: 3px; color: #ffffff; display: inline-block; font-family: "Lato-Regular"; font-size: 17px; padding: 10px 42px; text-transform: uppercase; transform: skew(-25deg);-webkit-transform: skew(-25deg);-ms-transform: skew(-25deg);}
.learned a span {display:block; transform: skew(25deg);-webkit-transform: skew(25deg);-ms-transform: skew(25deg);}
.upcomingevents {padding: 100px 0 0 60px; position: relative;}
.upcmng {border-left: 6px solid #c38f29; left: -94px; position: absolute; top: 192px; transform: rotate(-90deg);-webkit-transform: rotate(-90deg);-ms-transform: rotate(-90deg);}
.upcmng h3 {background-color: #181818; color: #c38f29; font-family: "Lato-Regular"; font-size: 20px; margin: 0; padding: 10px 20px; text-align: center; text-transform: uppercase;}
.srez_ones:hover .seriagimer {display:block;}
.seriagimer {display:none; background-color: rgba(189, 133, 21, 0.8); left: 0; margin: 0 auto; padding: 20px; position: absolute; right: 0; top: 22%; width: 350px;}
.molps {border: 1px solid #ffffff; padding: 50px 10px; text-align: center;}
.molps h2 {color: #ffffff; font-family: Lato-Regular; margin: 0; text-align: center; text-transform: uppercase;}
.molps p {color: #ffffff; font-family: "Lato-Regular"; font-size: 18px; margin: 0; text-align: center; text-transform: uppercase;}
.molps a, .molps a:hover, .molps a:focus {background-color: #ffffff; border-radius: 3px; color: #151515; display: inline-block; font-family: "Lato-Regular"; margin-top: 20px; padding: 5px 20px; text-align: center; text-transform: uppercase;}
.full_mates h1 {color: #ffffff; font-family: "Lato-Regular"; font-size: 30px; margin-bottom: 5px;margin-top: 10px;}
.full_mates p {color: #a7a7a7; font-family: Lato-Regular; font-size: 19px;}
.udfix .col-sm-3 h3, .event_book .col-sm-9 h3 {color: #ffffff;font-family: "Lato-Regular";margin-top: 10px;}
.udfix .col-sm-3 p, .udfix .col-sm-9 p {color: #a6a6a6;font-family: "Lato-Regular";font-size: 16px;}
.udfix .col-sm-3 {border-right: 1px solid #c38f29; padding: 0;}
.udfix .col-sm-9 {padding-left: 40px;}
.smcnt {border-bottom: 1px solid #818181; margin-bottom: 35px; padding-bottom: 20px; padding-top: 23px;}
.udfix.clearfix {margin-bottom: 50px;margin-top: 40px;}
.full_mates {float: left;}
.share {float: right; margin-bottom: 25px; margin-top: 12px;}
.share h4 {color: #ffffff; font-family: "Lato-Regular"; font-size: 26px;}
.icones {margin: 0; padding: 0;}
.icones li {display: inline-block; padding: 0 5px 0 0;}
.icones li.fbook a {background-image:url(../images/events_social_icons.png);width: 36px;height:36px;display: block;}
.icones li.gpluser a {background-image:url(../images/events_social_icons.png);width: 36px;height:36px;display: block;background-position:-46px 0px;}
.icones li.twittera a {background-image:url(../images/events_social_icons.png);width: 37px;height:36px;display: block;background-position:-90px 0;}
.icones li.instagra a {background-image:url(../images/events_social_icons.png);width: 36px;height:36px;display: block;background-position: -136px 0;}
.agents_vi .ourmod_cnt {top: 45%;}
.ourmod_cnt h1 {font-size: 50px;margin-top: 0;}
.model_photos.model_jutose.lade_agents {background-color: #151515;}
.mst_agnt.clearfix {padding: 0 150px;}
.agnet_sring {border: 2px solid #bd8414; border-radius: 3px; float: left; width: 30%;}
.agnet_sring img {width:100%;}
.stroider {float: left; padding: 75px 80px;}
.stroider h1 {border-bottom: 1px solid #d4d4d4; color: #d4d4d4; font-family: Lato-Regular; margin: 0; padding-bottom: 10px; text-transform: uppercase;}
.agent_videos.clearfix {padding:100px 0px 5px;}
.videoser.clearfix {padding: 0px;margin:0px;}
.videoser li {display: block; float: left; margin-bottom: 10px; padding-right: 10px; width: 50%;position:relative;}
.videoser li .play_icn {display:none;}
.videoser li:hover .play_icn {display: block; left: 0; margin: 0 auto; position: absolute; right: 0; text-align: center; top: 50%;}
.videoser li:hover .play_icn a {background-image: url("../images/play.png"); background-repeat: no-repeat; background-size: 100% auto; display: block; height: 100px; margin: 0 auto; width: 100px;}
.videoser li img {width: 100%;}
.learned a::before, .contact_this_agent a::before {background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0; border-radius: 0; content: ""; height: 100%; left: 0; position: absolute; top: 0; transition: all 0.8s ease 0s; width: 0;}
.learned a:hover::before, .contact_this_agent a:hover::before {width: 100%;}
.learned a:hover::after, .contact_this_agent a:hover::after {width: 100%;}
.learned a::after, .contact_this_agent a::after {background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0; border-radius: 0; content: ""; height: 100%; position: absolute; right: 0; top: 0; transition: all 1s ease 0s; width: 0;}
.learned a:hover::after {width: 100%;}

body .magelur_about.faq_sec {background-color: #131312;}
.magelur_about_banner.faq_banner {background-image:url(../images/faq_banner.jpg);background-position: center center;}
.magelur_about .faq_banner .banner_title h1 {margin-bottom: 30px;}
.bootfaq {padding: 100px 0 200px;}
.faq_one button.btn-info {background-color: #1c1c1e; border-color: #1c1c1e; border-radius: 0; font-size: 20px; padding:15px 75px 15px 25px; text-align: left; text-transform: none; transform: none; width: 100%;position:relative;margin-top:10px;}
.faq_one .down_modelent {background-color: #161616; color: #4a4a4a; font-family: "Lato-Regular"; font-size: 16px; padding: 40px 30px;}
.faq_one button.btn-info::before {transition:none;background:transparent;}
.faq_one button.btn-info::after {transition:none;background:transparent;background-image:url(../images/faq_arrow.png);width: 24px;height: 11px;right: 40px;top: 42%;}

.bootfaq.cnt_boot {padding:100px 100px 200px;}
.contactus_form {background-color: #1d1d1d;}
.we_weleder h1 {color: #ffffff; font-family: "Lato-Regular"; font-size: 21px; margin-bottom: 40px; text-transform: uppercase;}
.main_partiels {padding: 30px 40px;}
.sendform a {background-color: #303030; border-radius: 3px; display: inline-block; font-family: "KhmerUI"; font-size: 16px; padding: 5px 10px;}
.main_partiels .inputslogin input {border-color:#565656;}
.main_partiels .form-group select {background-image:url(../images/contact_arrow.png);background-position:right center;background-repeat:no-repeat; appearance: none;-moz-appearance: none;-webkit-appearance:none;background-color: transparent; border:none; border-bottom:1px solid #565656; box-shadow: none; color: #4b4b4b; font-family: "KhmerUI";width: 100%;font-size: 17px;padding: 10px;}
.main_partiels .form-group select::-ms-expand {display: none;}
.text_area textarea {background-color: transparent; border: 1px solid #b7b7b7; color: #717171; font-family: "Lato-Regular"; font-size: 17px; height: 150px; margin-top: 35px; padding: 10px; width: 100%;}
.share_idea p {color: #686868;font-family: "Lato-regular";font-size: 17px;margin-bottom: 25px;}
.share_idea ul {margin: 40px 0 0; padding: 0;}
.share_idea ul li {display: block; margin-bottom: 20px;}
.share_idea ul li a {color: #686868; display: block; font-family: "Lato-Regular"; font-size: 20px; padding-bottom: 4px; padding-left: 50px; padding-top: 4px;}
.share_idea ul li.lik_fb a {background-image: url("../images/contact_scincs.png");background-repeat: no-repeat;}
.share_idea ul li.frnd_instagra a {background-image:url(../images/contact_scincs.png);background-repeat: no-repeat;background-position: 0 -65px;}
.share_idea ul li.flow_twitter a {background-image: url("../images/contact_scincs.png"); background-position: 0 -129px; background-repeat: no-repeat; padding-bottom: 5px;}
.share_idea {margin-bottom: 45px;}
.we_weleder {position: relative;}
.we_weleder::after {border-bottom: 1px solid #eeae33; clear: both; content: " "; display: block; left: -115px; position: absolute; top: 12px; width: 80px;}
.we_weleder.last_wes::after {display:none;}
.sendform {margin-bottom: 30px;}

.ourmodel_banner.advertisement {background-image:url(../images/adverstiment_banner.jpg);}
.adevrtise_with {background-color: #131312;}
.yellow_bg::after {background-color: #ebac30; content: " "; display: block; height: 180px; position: absolute; top: 70px; width: 100%;}
.yellow_bg {position: relative;}
.maclap {margin: 0 auto; position: relative; width: 600px;z-index:1;}
.maclap img {width: 100%;}
.lapin {left: 0; margin: 0 auto; position: absolute; right: 0; top: 20px; width: 464px;}
.lapin img {width: 100%;}
.main_with {padding: 90px 0 65px;}
.main_with h1 {color: #ffffff;font-family: "Lato-Bold";font-size: 30px;text-align: center;text-transform: uppercase;}
.maximigse {padding: 0 0 100px;text-align: center;}
.maximigse h2 {color: #989898; font-family: "Lato-Regular"; font-size: 24px; line-height: 30px;margin:45px 0;}
.maximigse a {background-color: #212121; border-radius: 6px; color: #ffffff; display: inline-block; font-family: "Lato-Bold"; padding: 6px 16px;font-size: 20px; text-transform: uppercase;}

.feedback_form {background-color: #1d1d1d; padding:20px 200px;}
.feedback_suggestions {padding: 80px 50px;}
.feedback_form h1 {color: #ebac30; font-family: "Lato-Regular"; font-size: 25px; text-transform: uppercase;}
.feedback_form .form-group label {background-color: #303030; border-radius: 4px; color: #ffffff; font-family: "KhmerUI"; font-size: 16px; font-weight: normal; margin-bottom: 35px; margin-top: 35px; padding: 3px 10px;}
.feedback_form .form-group input {background-color: transparent; border:none; border-bottom:1px solid #737373; box-shadow: none; color: #4b4b4b; font-family: "KhmerUI";width: 100%;font-size: 17px;padding: 10px;display: block;}
.feedback_form .form-group input::-webkit-input-placeholder {color:#4b4b4b;opacity:1;}
.feedback_form .form-group input::-moz-placeholder {color:#4b4b4b;opacity:1;}
.feedback_form .form-group input:-ms-input-placeholder {color:#4b4b4b;opacity:1;}
.feedback_form .form-group input:-moz-placeholder {color:#4b4b4b;opacity:1;}
.feedback_form .form-group textarea::-webkit-input-placeholder {color:#4b4b4b;opacity:1;}
.feedback_form .form-group textarea::-moz-placeholder {color:#4b4b4b;opacity:1;}
.feedback_form .form-group textarea:-ms-input-placeholder {color:#4b4b4b;opacity:1;}
.feedback_form .form-group textarea:-moz-placeholder {color:#4b4b4b;opacity:1;}
.feedback_form .form-group textarea {background-color: transparent; border: 1px solid #303030; color: #4b4b4b; font-family: "Lato-Regular"; font-size: 17px; height: 200px; margin-top: 35px; padding: 10px; width: 100%;}
.feedback_form .starer {padding: 0;}
.feedback_form .starer li {display: inline-block;margin-right: 3px;}
.feedback_form .starer li a {width:45px;height:45px;display:block;}
.feedback_form .starer li.star_yell a {background-image:url(../images/star.png);}
.feedback_form .starer li.star_gray a {background-image:url(../images/star.png);background-position:-53px 0;}
.feedback_form .butsload.clearfix {padding:40px 0;margin:0px;}
.feedback_form .butsload button {margin-top:0px;}

.three_plans.clearfix {padding: 100px 0;}
.ourmodel_banner.membt {background-image:url(../images/faq_banner.jpg);}
.membt .ourmod_cnt {bottom: 140px;}
.first_plan {float:left;width:33.333%;padding:0 30px;}
.first_plan .start_bg {background-color: #111110; border: 3px solid #111110; border-radius: 3px; padding: 20px 0; text-align: center;}
.first_plan:hover .start_bg {background-color:#0c0c0c;border-color:#53401b;}
.first_plan:hover .traingle {border-bottom: 170px solid #ebac30;}
.first_plan:hover .mini_traingle {border-bottom: 164px solid #ebac30;}
.first_plan:hover .pre_price h1 {color:#0c0c0c;}
.first_plan:hover .pre_price p {color:#0c0c0c;}
.first_plan:hover .content-withs li {border-bottom: 1px solid #ebac30;color: #ebac30;}
.first_plan:hover .fre_try a {color:#ebac30;border-color:#ebac30;}
.pre_price h1 {font-size: 40px;}
.start_bg h1 {color: #fffbf2; font-family: "nexa-bold"; margin-bottom: 0;font-size:30px;}
.sbase {position:relative;margin: 20px 0;}
.sbase::after {border-bottom: 1px solid #7d7e80; content: " "; display: block; height: 1px; left: 35px; position: absolute; top: 4px; width: 35%;}
.sbase::before {border-bottom: 1px solid #7d7e80; content: " "; display: block; height: 1px; right: 35px; position: absolute; top: 4px; width: 35%;}
.traingle {border-bottom: 170px solid #fffbf2; border-left: 100px solid transparent; border-right: 100px solid transparent; height: 0; margin: 0 auto; width: 0;}
.mini_traingle {border-bottom: 164px solid #111110; border-left: 96px solid transparent; border-right: 96px solid transparent; left: 0px; margin: 4px auto; position: absolute; right: 0; width: 0;}
.pre_price {left: 0; margin: 0 auto; position: absolute; right: 0; top: 65px;}
.pre_price p {color: #c5c7cb; font-family: "nexa-bold"; font-size: 12px;}
.content-withs ul {padding:0px;}
.content-withs li {border-bottom: 1px solid #b1aeaf; color: #c5c7cb; display: table; font-family: "MyriadPro-Regular"; font-size: 16px; margin: 0 auto; padding: 10px 30px;}
.fre_try {margin:50px 20px 30px;}
.fre_try a {border: 1px solid #b1aeaf; display: block; font-family: "nexa-bold"; font-size: 20px; padding: 5px 10px; text-transform: uppercase;}

.tellfriend {background-color: #131312; text-align: center;}
.tellfriend h1 {color: #ffffff; font-family: "Lato-Bold"; font-size: 30px; margin: 0; padding: 70px 0 50px; text-transform: uppercase;}
.tell_fd {margin: 0 auto; width: 45%;}
.tell_fd img {width:100%;}
.tellfriend p {color: #989898; font-family: "Lato-Regular"; font-size: 23px; margin: 0; padding: 50px 0 35px;}
.maingert {padding: 0 0 130px;}
.maingert .butsload.clearfix {margin-top: 0;padding: 0;}
.maingert .butsload button {margin-top:20px;}
.maximigse .butsload.clearfix {padding-top: 0;}


.model_abouts .magelur_about_banner {background-image:url(../images/modelaboutus.jpg);}
.sm_bars {padding:0px; position: relative;}
.user_img {border: 11px solid #f2f2f2; left: 90px; position: absolute; top:auto; width: 206px;bottom: 0;}
.user_img img {width: 100%;}
.yell_bar {background-color: #d1b14e; padding: 7px 70px 3px 320px; text-align: center;}
.barbs_text {float: left;}
.barbs_text h1 {font-family: "Lato-Regular"; font-size: 28px; margin: 0;}
.barbs_text h1 span {font-size: 16px;}
.socail_torend {float:right;}
.after_login_menu {background-color: #232323; border-top: 1px solid #131312; padding: 0px 40px 0px 320px;}
.loged_in {float: left; padding: 0;margin:0 0 0px;}
.loged_in li::after {color: #ffffff; content: "|"; display: block; position: absolute; right: 0; top: 31px;}
.loged_in li:last-child::after {display:none;}
.loged_in li {display:inline-block;position:relative;}
.loged_in li:hover a {border-bottom: 1px solid #d1b14e;}
.loged_in li.active a {border-bottom: 1px solid #d1b14e;}
.loged_in li a {color: #ffffff; display: block; font-family: "Lato-Regular"; font-size: 16px; padding:30px 17px; text-transform: uppercase; border-bottom: 1px solid transparent;}
.logout {float:right;padding: 21px 20px;}
.aboutmodel .container {padding:0px;}
.aboutmodel .col-sm-9 {padding-left: 0;}
.logout a {background-color: #595959; border-radius: 13px; color: #ffffff; display: inline-block; font-family: "Lato-regular"; font-size: 20px; padding: 7px 30px;}
.aboutmodel {background-color: #131312;padding:0 0 150px;}
.abouter {background-color: #171716; margin: 40px 0 10px; padding: 15px 30px 80px;}
.abouter h4 {color: #ffffff; font-family: "Lato-Regular"; font-size: 22px; margin-bottom: 30px; margin-top: 20px;}
.abouter p {color: #a1a1a1; font-family: "Lato-Regular"; font-size: 16px;}
.abouter p:last-child {margin-top: 40px;}
.abouter.two_abters {padding: 15px 30px 20px;margin-top:35px;}
.abouter.two_abters h4 {margin-bottom: 0;margin-top: 10px;}
.abouter.two_abters p:last-child {margin-top: 20px;}
.abt_experience .sm_exp {display: block; float: left; padding-left: 5px; padding-right: 5px; width: 33.333%;}
.exploer {background-color: #181818; height: 200px; padding: 15px 20px;}
.exploer h4 {border-bottom: 1px solid #a77c2a; color: #ffffff; display: table; font-family: "Lato-Regular"; font-size: 20px; margin-top: 0; padding-bottom: 10px;}
.exploer p {color: #ffffff; font-family: "Lato-Regular"; font-size: 16px;}
.abt_experience {margin-top:35px;}
.abt_experience ul {padding:0px;}
.mydeatils {margin-top: 40px;}
.my_part_one {background-color: #171716; margin-bottom: 15px; padding: 30px 20px 30px;}
.my_part_one h3 {border-bottom: 1px solid #ffffff; color: #ffffff; display: table; font-family: "Lato-Regular"; margin: 0 0 40px;}
.my_part_one ul {padding:0px;}
.my_part_one ul li {color: #a1a1a1; display: block; font-family: "Lato-Regular"; font-size: 15px; padding-bottom: 20px;}
.my_part_one ul li span.starter_part_one {display: inline-block; width: 43%;}
.my_part_one ul li span.ministater {display: inline-block; width: 5%;}

.dashboard-ders {background-color: #131312;padding: 45px 0;}
.dashboard-ders .container {padding:0px;}
.left_part_ders ul.clearfix {margin: 0; padding: 0;}
.abt_mtb {display: block; float: left; width: 60%;padding-right: 10px;}
.full_dash_bg {padding: 10px 30px; background-color: #1d1d1c;}
.right_mtb {background-color: #1d1d1c; display: block; float: left; width: 40%;}
.left_abt.clearfix h4 {color: #d1b14e; float: left; font-family: "Lato-Regular"; font-size: 20px; margin:15px 0;}
.left_abt.clearfix a {color: #7c7c7c; float: right; font-family: "Lato-Regular"; font-size: 18px; margin: 12px 0 25px; text-decoration: underline; text-transform: uppercase;}
.mainframes.clearfix {float:left;}
.userimg {display: inline-block;}
.usertext {display: inline-block; padding-left: 15px; vertical-align: middle;}
.more_dots {float: right; padding: 5px 0; text-align: right;}
.moment.clearfix {border-bottom: 1px solid #353534; padding-bottom: 20px; padding-top: 20px;}
.full_dash_bg .moment.clearfix:last-child {margin-bottom: 57px; padding-bottom: 25px;}
.full_dash_bg p {color: #a1a1a1; font-family: "Lato-Regular"; font-size: 15px; margin-bottom:40px;}
.usertext a {font-family: "Roboto-Medium"; font-size: 16px;}
.usertext p {color: #8d8d8c; font-family: "Roboto-Light"; margin: 0;font-size: 14px;}
.more_dots a {background-image: url("../images/dots.png"); display: block; float: right; height: 4px; margin-bottom: 10px; width: 17px;}
.more_dots p {clear: both; color: #646463; font-family: "Lato-Regular"; font-size: 13px; width: 100%; margin: 0;}
.multimedia {margin: 0 -5px; padding: 0;}
.medinet {background-color: #1e1e1d; padding: 10px 20px 15px;}
.multimedia li {display: block; float: left; padding:0 5px 10px;}
.photo_media {width:35%;}
.multi_three_rows {padding: 0;}
.multi_three_rows.clearfix li {height: 130px; padding: 0 5px 10px; width: 33.333%;}
.multi_three_rows.clearfix li a img {width: 100%;}
.multimediasection {padding: 40px 0;}
.video_media {width: 40%;}
.vide_pat {position:relative;}
.here_afterplaty {left: 0; margin: 0 auto; position: absolute; right: 0; top: 50%; width: 80px;}
.here_afterplaty a {background-image: url("../images/play.png"); background-repeat: no-repeat; background-size: 100% auto; display: block; height: 80px; width: 80px;}
.vide_pat img {height: 390px; object-fit: cover; width: 100%;}
.video_node {width: 25%;}
.video_node .multi_three_rows li {width: 50%;height:130px;}
.video_node .multi_three_rows li a img {width: 100%;}
.membershiper {background-color: #1e1e1d; padding: 10px 20px; width: 45%;margin-top: 20px;}
.membershiper p {color: #a4a4a4; font-family: "Lato-Regular"; font-size: 16px; margin-bottom: 20px;}

.subscription {background-color: #131312;padding:60px 0px 30%;}
.subscription .container {padding:0px;}
.subpanter {background-color: #1e1e1d; padding: 40px 50px 50px;}
.subscript_left {float:left;}
.subscript_right {float: right; width: 130px;}
.subscript_right img {width: 100%;}
.subscript_left a.subcript {background-color: #303030; border-radius: 7px; display: inline-block; font-family: "Lato-Regular"; font-size: 20px; margin-bottom: 30px; padding: 6px 15px; text-transform: uppercase;color:#ffffff;}
.subscript_left p {color: #a4a4a4; font-family: "Lato-Regular"; font-size: 16px;}
.subscript_left p .sub_stateone {display: inline-block; width: 30%;}
.subscript_left p .sub_static {display: inline-block; width: 3%;}
.subscript_left .upmap a, .subscript_left .upmap a:hover, .subscript_left .upmap a:focus {background-color: #d1b14e; border-radius: 8px; color: #1e1e1d; display: inline-block; font-family: "Lato-Regular"; margin-right: 15px; padding: 10px 20px; text-transform: uppercase;}
.upmap {margin: 35px 0 0;}

.left_sht_msg {background-color: #1b1b1a; float: left; padding: 0 0 0px; position: relative; width:38%;height:800px;}
.letmsg {border-bottom: 1px solid #323231; margin-bottom: 10px; padding: 20px;}
.letmsg input {background-color: #363d45; background-image: url("../images/searchs.png"); background-position: 20px center; background-repeat: no-repeat; border: medium none; border-radius: 20px; color: #868b8e; font-family: "Lato-Regular"; padding: 10px 50px; width: 100%;}
.fullmsg_blg ul {padding: 0;margin:0px;}
.fullmsg_blg ul li {display: block; padding: 25px 15px;}
.fullmsg_blg ul li.active {background-color: #bfae52;}
.fullmsg_blg ul li.active .usertext::after {display:none;}
.fullmsg_blg .usertext {padding:0 0 0 40px;position: relative;}
.fullmsg_blg ul li.active .usertext a {color:#1b1b1a;}
.fullmsg_blg ul li.active .usertext p {color:#000000;opacity:0.5;}
.fullmsg_blg ul li.active .more_dots p {color: #1b1b1a; opacity: 0.7;}
.fullmsg_blg ul li.active .more_dots a {background-image:url(../images/dotsactive.png);background-repeat:no-repeat;}
.fullmsg_blg .usertext::after {border-bottom: 1px solid #323231; bottom: -25px; content: " "; display: block; left: 0; position: absolute; width: 35px;}
.message_two_sec .col-sm-3 {padding-left: 0;}
.msaged {padding:0;}
.msaged li {display: block; margin-bottom: 7px;}
.msaged li.active a {background-color:#292929;}
.msaged li a {background-color: #171716; display: block; font-family: "Lato-Regular"; font-size: 15px; padding: 10px 25px;}
.msaged li a span {background-color: #bfae52; color: #1a1a1a; float: right; font-size: 12px; height: 22px; padding: 2px 0; text-align: center; width: 22px;}
.left_sht_msg::after {background-image: url("../images/message_right_bar.png"); content: " "; display: block; height: 120%; padding-right: 5px; position: absolute; right: 0; top: -60px; width: 5px;}
.message_two_sec.clearfix {padding: 90px 0;}
.fullmsg_blg li:last-child .usertext::after {display: none;}
.msg_right_box {background-color: #ffffff; float: left; padding: 35px 45px; width: 62%;position: relative;}
.renew {float: left; width: 70%;}
.minew {float: right; width: 30%;}
.stuningeder {padding: 0;text-align: right;}
.stuningeder li {display:inline-block;padding: 0 5px;}
.stuningeder li.shield a {background-image: url("../images/model_icons.png"); display: block; height: 20px; width: 20px;}
.stuningeder li.warn a {background-image: url("../images/model_icons.png"); display: block; height: 20px; width: 20px; background-position:-39px 0px;}
.stuningeder li.delets a {background-image: url("../images/model_icons.png"); display: block; height: 20px; width: 20px; background-position:-77px 0;}
.minew p {color: #93a2ba; font-family: "Lato-Regular"; font-size: 14px; margin-bottom: 30px; text-align: right;}
.renew h3 {font-family:"Raleway-Regular"; font-size: 21px;margin-top:0px;}
.renew p {color: #2f2f2f; font-family: "Raleway-Regular"; font-size: 13px; width: 100%;}
.renew p .ed_span {color: #9c6bdf; display: inline-block; width: 70%;}
.renew p .for_span {display: inline-block; width: 15%;}
.newtent_content p {color: #2f2f2f; font-family: "Raleway-Regular";}
.newtent_content {border-bottom: 1px solid #e4eaec; border-top: 1px solid #e4eaec; margin-top: 5px; padding-bottom: 0;height:554px; padding-top: 15px;}
.homepps {display: inline-block;padding:0 15px 0 0;}
.homepps a {color: #2f2f2f !important; font-family: "Lato-Regular";}
.homepps a::before {background-color: #e57341; background-image: url("../images/ppt.png"); background-position: center center; background-repeat: no-repeat; border-radius: 50%; content: " "; display: inline-block; height: 40px; margin-right: 10px; padding-bottom: 0; padding-left: 0; padding-top: 0; vertical-align: middle; width: 40px;}
.aboutpdf {display: inline-block;}
.aboutpdf a {color: #2f2f2f !important; font-family: "Lato-Regular";}
.aboutpdf a::before {background-image:url(../images/pdf.png);background-position: center center; background-repeat: no-repeat; border-radius: 50%; content: " "; display: inline-block; height: 40px; margin-right: 10px; padding-bottom: 0; padding-left: 0; padding-top: 0; vertical-align: middle;background-color:#d13434; width: 40px;}
.right_downlioad {border-left: 1px solid #e4eaec; float: right; padding: 20px;}
.right_downlioad a {background-image: url("../images/download.png");display:block;width:27px;height:32px;}
.minyues {float: left; padding: 20px 0;}
.right_multi.arros {position: absolute; right: 15px; top: 38px;}
.right_multi.arros ul {padding:0px;margin:0px;}
.right_multi.arros ul li {display:block;margin-bottom: 10px;}
.right_multi_left a {background-image:url(../images/model_arrow.png);width:22px;height:22px; display: block;}
.right_multi_middle a {background-image:url(../images/model_arrow.png);width:22px;height:22px; display: block;background-position:0 -52px;}
.right_multi_right a {background-image: url("../images/model_arrow.png"); background-position:0 -102px; background-repeat: no-repeat; display: block; height: 22px; width: 22px;}

.smackel {background-color: #1e1e1d;}


@media(min-width: 992px) and (max-width: 1199px) {
.model_jutose .modelspro.clearfix {padding: 0 50px;}
.pslmasgs h4 {margin-bottom:40px;}
.sender_parter {padding: 70px 30px 100px 170px;}
.setcher {width: 255px;}
.maistartes {padding-left: 0;}
.udfix .col-sm-3 {width: 30%;}
.udfix .col-sm-9 {width: 70%;}
.mnth_date {width:95%;}
.bootfaq.cnt_boot {padding: 100px 30px 200px;}
.we_weleder h1 {font-size:20px;}
.we_weleder::after {left:-95px;}
.feedback_form {padding: 20px 150px;}
.first_plan {padding: 0 15px;}
.sbase::before {width:33%;}
.sbase::after {width:33%;}
}

@media(min-width: 980px) and (max-width: 991px) {
.container {width:970px;}	
.maistartes {padding-left: 0;}
.udfix .col-sm-3 {width: 30%;}
.udfix .col-sm-9 {width: 70%;}
.feedback_form {padding: 20px 150px;}
.first_plan {padding: 0 15px;}
.first_plan {padding: 0 15px;}
.sbase::before {width:33%;}
.sbase::after {width:33%;}
}

@media(min-width: 768px) and (max-width: 979px) {
.model_jutose .modelspro.clearfix {padding: 0 50px;}
.pslmasgs h4 {margin-bottom:40px;}
.thripple_columns_sectrer ul li {width: 50%;}
.pslmasgs {padding: 87px 10px 0;}
.setcher {left: -110px;top: 22%;width: 205px;}
.sender_parter {padding: 50px 30px 60px 140px;}
.penty_houser h3 {font-size:19px;}
span.left_cols {display: inline-block;width: auto;}
.mainder_pent::after {display:none;}
.categoriesed {padding: 0 30px 0 30px;}
.listboxnes {margin: 0;}
.listboxnes li {margin-bottom: 10px;}
.bggraphy {padding: 10px 30px 20px;}
.twopackages {padding: 0 30px;}
.three_packages {padding: 0 30px;}
.contact_this_agent.clearfix {margin: 130px 30px 150px;}
.seriagimer {width: 280px;}
.maistartes {padding-left: 0;}
.mnth_date {width: 100%;}
.event_book .col-sm-3 {padding-right: 0;}
.start_dates h5, .end_dates h5, .price_form h5 {font-size:22px;}
.start_dates p, .end_dates p {font-size: 16px;}
.udfix .col-sm-3 {width: 40%;}
.udfix .col-sm-9 {width: 60%;}
.smcnt p {font-size:17px;}
.price_form {margin-top: 20px;padding-top: 10px;}
.faq_one button.btn-info {margin-left: 0;margin-right: 0;}
.bootfaq.cnt_boot {padding: 100px 10px 200px;}
.feedback_form {padding: 20px 100px;}
.adevrtise_with.memvr_adver .container {width: 100%;}
.first_plan {padding: 0 10px;}
.sbase::before {width: 29%;}
.sbase::after {width: 29%;}
}

@media (max-width:767px) {
.model_jutose .modelspro.clearfix {padding: 0 50px;}
.pslmasgs h4 {margin-bottom:40px;}
.thripple_columns_sectrer ul li {width: 50%;}
.pslmasgs {padding: 80px 10px 0;}
.thripple_columns_sectrer > ul {padding: 0;}
.thripple_columns_sectrer ul li img {height: 262px;object-fit:cover;}
.pslmasgs h4 {font-size:16px;}
.model_jutose .modelspro.clearfix {padding: 0 10px;}
.setcher {left: 0; margin: 0 auto; position: absolute; right: 0; top: 30px; width: 275px;}
.sender_parter {margin: 0 30px;padding: 360px 30px 40px 40px;}
.mainder_pent::after {display:none;}
.categoriesed {padding: 0 30px 0 30px;}
.listboxnes {margin: 0;}
.listboxnes li {margin-bottom: 10px; text-align: center; width: 100%; }
.bggraphy {padding: 10px 30px 20px;}
.twopackages {padding: 0 30px;}
.three_packages {padding: 0 30px;}
.contact_this_agent.clearfix {margin: 130px 30px 150px;}
.start_pack_one::after {left:-29px;}
.start_pack_one {padding-right: 50px;}
span.left_cols {display: inline-block;width: auto;}
.mainder_pent::after {display:none;}
.penty_houser h3 {font-size:18px; text-align: center; width: 100%; position: relative; display: inline; padding: 2px;}
.sender_parter {margin: 0 30px;padding: 360px 30px 40px; text-align: center;}
.ourmod_cnt.pents h1 {font-size: 25px;line-height: 45px;}
.maistartes {padding-left:0px;}
.mnth_date {margin-bottom: 35px;margin-top: -60px;padding: 35px 0 45px;width: 100%;}
.smcnt p {font-size: 16px;}
.udfix .col-sm-3 {float:left;width:35%;}
.udfix .col-sm-9 {float:left;width:65%;}
.srez_ones {float:left;width: 100%;}
.srez_twos {float:left;margin: 0;width: 100%;}
.serias li {display: block;float: left;width: 50%;padding:0px;}
.serias li a img {padding: 10px 10px 0 0;}
.serias li:nth-child(2n+2) a img {padding-right: 0;}
.upcomingevents {padding: 100px 0 0;}
.your_frnds h3  {font-size: 30px;}
.your_frnds p {font-size: 40px;}
.with_frnds img {height: 300px;object-fit:cover;width: 100%;}
.your_frnds {top:40%;}
.faq_one button.btn-info {margin-left: 0;margin-right: 0;}
.bootfaq.cnt_boot {padding: 100px 50px 200px;}
.feedback_form {padding: 20px 50px;}
.first_plan {float: none; margin: 0 auto 20px; padding: 0 30px; width: 400px;}
}

@media (max-width:640px) {
  .mdl_agncylist .ourmod_cnt {top: 40%;}
  .mdl_agncylist .ourmod_cnt h1 {font-size: 30px;}
  .udfix .col-sm-3 {width: 44%;}
  .udfix .col-sm-9 {padding-left: 15px;width: 56%;}
  .udfix.clearfix {margin-top: 30px;}
  .full_mates {float: none;}
  .share {float: none;}
  .faq_one button.btn-info {padding-right: 78px;white-space: normal;font-size:16px;}
  .bootfaq.cnt_boot {padding: 20px 10px;}
  .main_partiels {padding: 30px 20px;}
  .magelur_about .faq_banner .banner_title h1 {font-size: 30px;}
  .maclap {width: 420px;}
  .lapin {width: 323px;top: 14px;}
  .yellow_bg::after {height: 130px;top: 50px;}
  .maximigse h2 br {display:none;}
  .maximigse h2 {font-size: 22px;padding: 0 15px;}
  .ourmod_cnt h1 {font-size: 40px;}
  .feedback_suggestions {padding: 80px 0;}
  .feedback_form h1 {font-size: 23px;word-wrap: break-word;}
  .tell_fd {width: 85%;}
  .tellfriend p {font-size: 22px;padding: 30px 30px 35px;}
}

@media (max-width:480px) {
 .thripple_columns_sectrer ul li {width: 100%;}
 .serias li {padding: 0;width: 100%;float:none;}
 .serias li a img {padding: 10px 0px 0 0;}
 .seriagimer {width: 290px;}
 .molps h2 {font-size:25px;}
 .with_frnds img {height: 300px;object-fit:cover;width: 100%;}
 .your_frnds h3 {font-size: 20px;}
 .your_frnds p {font-size: 30px;}
 .your_frnds {top: 40%;}
 .upcomingevents {padding: 55px 0 0;}
 .udfix .col-sm-3 {border: medium none;width: 100%;}
 .udfix .col-sm-9 {padding-left: 0;padding-right: 0;width: 100%;}
 .setcher { width:100%; }
 .penty_houser h3 { font-size: 15px; padding: 0px; }
 .start_pack_one { padding-right: 0px; width: 100%; text-align: center; }
 .start_pack_one::after { border-left:none; }
 .seriagimer {width: 250px;}
 .yellow_bg::after {height: 90px; top: 40px;}
 .maclap {width: 300px;}
 .lapin {top: 10px; width: 231px;}
 .main_with h1 {font-size: 24px;}
 .maximigse h2 {font-size: 18px;line-height: normal;}
 .ourmod_cnt h1 {font-size: 30px;}
 .feedback_form {padding: 20px;}
 .feedback_form h1 {font-size: 20px;}
 .advertisement .ourmod_cnt h1 {font-size: 30px;padding: 0 20px;word-wrap: break-word;}
 .first_plan {margin: 0 auto 20px;padding: 0;width: 330px;}
}

@media (max-width:359px) {
.first_plan {margin: 0 auto 20px;width: 280px;}
}