.elite_vp_embedBtnText,.elite_vp_playlistBtnText,.elite_vp_shareBtnText,.elite_vp_toolTip{position:absolute;font-family:Lato,'Open Sans','Helvetica Neue',Arial,sans-serif!important}.elite-icon-general,.elite-icon-playPause{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out}.elite_vp_controls{position:absolute;height:50px;left:0!important;bottom:0;width:100%}

.elite_vp_bg.dark{
	background: RGBA(0, 0, 0, 0.33);
}

.elite_vp_bg.light{background:rgba(251,251,251,1)}

.elite_vp_playBtnBg{
	position:absolute;
	top:0;
	left:15px;
	width:48px;
	height:50px;
	background: none !important;
}

.elite_vp_mainContainer{
	width: 0px !important;
	height: 0px !important;
	position: unset !important;
	background: none !important;
	z-index: 999999;
}

.elite_vp_themeColorThumbBorder{
	border: 1px solid RGBA(255, 255, 255, 0.46);
}

.elite_vp_controlsColor.dark{
	color:#fff;
}

.elite_vp_controlsColor.light{color:#3c3c3c}.elite_vp_shuffleEnabledColor{color:#fff}.elite_vp_playButtonScreen{position:absolute;left:50%;top:50%;margin:-40px 0 0 -36.5px;width:80px;height:73px;z-index:2147483647}.elite_vp_embedBtnText,.elite_vp_playlistBtnText,.elite_vp_shareBtnText{top:0;left:0;font-size:9px;text-align:left;cursor:pointer;-webkit-font-smoothing:antialiased}.elite_vp_socialBtn{width:32px;height:32px;z-index:200;margin-left:5px;cursor:pointer;display:inline-flex;display:-webkit-inline-flex}.elite_vp_facebookBtn{background:#3b5998}.elite_vp_facebookBtn:hover{background:rgba(59,89,152,.8)}.elite_vp_twitterBtn{background:#55acee}.elite_vp_twitterBtn:hover{background:rgba(85,172,238,.8)}.elite_vp_mailBtn{background:#E55}.elite_vp_mailBtn:hover{background:rgba(238,85,85,.8)}.elite_vp_playing .vp_play{display:none}.elite_vp_playing .vp_pause{display:block}

.elite_vp_videoTrack{position:absolute;top:50%;margin-top:-1px;height:3px}

.elite_vp_videoTrack.dark{
	background: rgba(255, 255, 255, 0.52);
	border-radius: 5px;
}

.elite_vp_videoTrack.light{background:#d8d8d8}.elite_vp_videoTrackDownload{position:absolute;height:100%}
.elite_vp_videoTrackDownload.dark{
	background: RGBA(0, 0, 0, 0.16);
	border-radius: 5px;
}
.elite_vp_videoTrackDownload.light{background:#c7c7c7}
.elite_vp_volumeTrack{position:absolute;top:50%;margin-top:-1px;right:55px;width:62px;height:3px;background:#3b3c40}.elite_vp_timeElapsed,.elite_vp_timeTotal{top:50%!important;margin-top:-8.5px!important;cursor:default!important}

.elite_vp_volumeTrack.dark{
	border-radius: 5px;
	background: RGBA(255, 255, 255, 0.28);
}

.elite_vp_volumeTrack.light{background:#c7c7c7}

.elite_vp_Progress{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: #1bd8b7 !important;
}
.elite_vp_volumeTrack .elite_vp_Progress{
	border-radius: 5px !important;
}
.elite_vp_progressIdleTrack{
	position:absolute;
	height:3px;
	width:100%;
	bottom:0;
	z-index:2147483647
}

.elite_vp_progressIdleTrack.dark{background:#3b3c40}.elite_vp_progressIdleTrack.light{background:#d8d8d8}

.elite_vp_progressIdle{
	position:absolute;
	height:100%;
	background-color: #1bd8b7 !important;
}

#Elite_video_player{
	position: inherit !important;
}

.elite_vp_progressIdleDownload{position:absolute;height:100%;width:200px}.elite_vp_progressIdleDownload.dark{background:#303030}.elite_vp_progressIdleDownload.light{background:#c7c7c7}.elite_vp_toolTip{font-size:11px!important;text-align:center!important;padding:3px 10px!important;z-index:555560}.elite_vp_infoText,.elite_vp_nowPlayingText,.elite_vp_timeElapsed,.elite_vp_timeTotal,.elite_vp_toolTipText{font-size:12px!important;font-family:Lato,'Open Sans','Helvetica Neue',Arial,sans-serif!important}.elite_vp_infoWindow,.elite_vp_nowPlayingTitle,.elite_vp_popup{z-index:2147483647;position:absolute}.elite_vp_toolTipText{position:absolute!important;text-align:center!important;padding:3px 14px!important}.elite_vp_timeElapsed{position:absolute!important;left:83px!important;-webkit-user-select:none!important;-khtml-user-select:none!important;-moz-user-select:none!important;-o-user-select:none!important;user-select:none!important}.elite_vp_infoText,.elite_vp_timeTotal{-webkit-user-select:none!important;-khtml-user-select:none!important;-moz-user-select:none!important;-o-user-select:none!important}.elite_vp_timeTotal{position:absolute!important;right:215px!important;user-select:none!important}.elite_vp_infoText,.elite_vp_infoTitle,.elite_vp_nowPlayingText{margin:0!important;text-align:left!important}

.elite_vp_popup{
	opacity: 1;
	cursor: pointer;
	width: 85%;
	max-width: 85%;
	margin: 0 auto !important;
	text-align: center;
	float: right;
	left: 0px !important;
	right: 0px !important;
}

.elite_vp_popup img{
	max-width: 100%;
}

.elite_vp_infoWindow{width:100%}

.elite_vp_btnClose{
	position: absolute;
	width: 18px;
	height: 18px;
	right: 0px;
	top: 0;
	cursor: pointer;
	z-index: 999999;
}

.elite_vp_infoTitle{padding:5px 0 0 10px!important}.elite_vp_infoText{padding:5px 0 10px 10px!important;user-select:none!important;cursor:default!important}.elite_vp_embedTitle,.elite_vp_embedTitle2{-webkit-user-select:none!important;-moz-user-select:none!important;-o-user-select:none!important}.elite_vp_infoText.dark{color:#e4e4e4!important}.elite_vp_infoText.light{color:#3c3c3c!important}.elite_vp_nowPlayingText{left:0!important;top:0!important;padding:5px!important}.elite_vp_nowPlayingText.dark{color:#fff!important}.elite_vp_nowPlayingText.light{color:#3c3c3c!important}

.elite_vp_nowPlayingTitle{
	top: 0;
	left: 0;
	margin-right: 42px;
	cursor: default !important;
	display: none !important;
}

.elite_vp_embedTitle,.elite_vp_embedTitle2,.elite_vp_embedTitle3{margin:0!important;-khtml-user-select:none!important}.elite_vp_nowPlayingThumbnail{position:absolute!important;font-size:9px!important;color:#fff!important;font-family:Lato,'Open Sans','Helvetica Neue',Arial,sans-serif!important;bottom:1px!important;background:rgba(0,0,0,.7)!important;width:68px!important;text-align:center!important;left:1px!important;cursor:default!important}.elite_vp_embedText,.elite_vp_embedText.dark{background:#000!important;border:1px solid #3D3D3D!important}.elite_vp_titles{font-size:14px!important;font-family:Lato,'Open Sans','Helvetica Neue',Arial,sans-serif!important;cursor:default!important}.elite_vp_embedWindow{position:absolute;width:100%;height:100%;z-index:2147483647}.elite_vp_embedTitle{padding:10px 5px 0 90px!important;text-align:left!important;user-select:none!important}.elite_vp_embedTitle2{padding:20px 5px 0 90px!important;text-align:left!important;user-select:none!important}.elite_vp_embedTitle3,.elite_vp_skipAdTitle{-webkit-user-select:none!important;-moz-user-select:none!important;-o-user-select:none!important}.elite_vp_embedTitle3{padding:40px 5px 0 90px!important;text-align:left!important;user-select:none!important}.elite_vp_embedText,.elite_vp_embedText2{font-size:12px!important;margin:5px 90px!important;padding:15px 15px 15px 8px!important;-webkit-user-select:text!important}.elite_vp_embedText{text-align:left!important;font-family:Lato,'Open Sans','Helvetica Neue',Arial,sans-serif!important}.elite_vp_embedText.dark{color:#FFF!important}.elite_vp_embedText.light{color:#696969!important;background:#f3f3f3!important;border:1px solid #e6e6e6!important}.elite_vp_embedText2{text-align:left!important;font-family:Lato,'Open Sans','Helvetica Neue',Arial,sans-serif!important}#elite_vp_copyInside,.elite_vp_embedMessageTxt{font-size:14px!important;text-align:left!important;font-family:Lato,'Open Sans','Helvetica Neue',Arial,sans-serif!important}.elite_vp_embedMessageTxt{font-weight:700!important;color:#46e5eb!important;cursor:pointer!important}.copyBtn{position:absolute;width:49px;height:26px;margin-left:90px;cursor:pointer;background:#000;border:1px solid #3D3D3D;color:#FFF}.copyBtn.dark{color:#FFF!important;background:#000!important;border:1px solid #3D3D3D!important}.copyBtn.light{color:#696969!important;background:#f3f3f3!important;border:1px solid #e6e6e6!important}#elite_vp_copyInside{position:absolute!important;top:4px!important;left:7px!important;z-index:100!important;margin:0!important}.elite-icon-arrows,.elite-icon-general,.elite-icon-overScreen,.elite-icon-overScreen-hover,.elite-icon-playPause{speak:none;font-style:normal;font-weight:400;font-size:16px;line-height:1;-webkit-font-smoothing:antialiased;text-align:center}.elite_vp_shareWindow{position:absolute;z-index:2147483646}.elite_vp_screenBtnsWindow{position:absolute;z-index:2147483647;top:0;right:0}.elite_vp_ads,.elite_vp_embedBtn,.elite_vp_facebook,.elite_vp_infoBtn,.elite_vp_mailBtn,.elite_vp_playButtonPoster,.elite_vp_playButtonScreen,.elite_vp_playlistBtn,.elite_vp_progressIdleTrack,.elite_vp_shareBtn,.elite_vp_toggleAdPlayBox,.elite_vp_twitter,.elite_vp_videoTrack,.elite_vp_volumeTrack{cursor:pointer}.elite-icon-general{transition:all .2s ease-out}.elite_vp_playerElement{cursor:pointer}.elite-icon-general-hover.dark{color:#fff}.elite-icon-general-hover.light{color:#9e9e9e}.elite-icon-overScreen.dark,.elite-icon-playPause:hover{color:#fff}.elite-icon-playPause{height:24px;cursor:pointer;transition:all .2s ease-out}.elite-icon-arrows,.elite_vp_item{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out}.elite-icon-overScreen{height:24px;color:#fff;cursor:pointer}.elite-icon-overScreen.light{color:#3c3c3c}.elite-icon-overScreen-hover{height:24px;color:#fff;cursor:pointer}.elite_vp_btnOverScreen{width:32px;height:32px;z-index:200;margin:5px;cursor:pointer}.elite-icon-arrows{height:24px;color:#464646;cursor:pointer;transition:all .2s ease-out}.elite_vp_title{font-size:13px}.elite_vp_description{font-size:12px;overflow:auto}.elite_vp_thumbnail_image{height:100%;width:100%}.elite_vp_thumbnail_imageSelected{height:100%;width:100%;border:1px solid #626262}.elite_vp_itemLeft{position:absolute;width:70px;height:70px;margin:2px;z-index:100}.elite_vp_itemRight{position:absolute;width:170px;left:76px;font-family:Lato,'Open Sans','Helvetica Neue',Arial,sans-serif!important}.elite_vp_itemInfo{position:absolute;width:40px;height:15px;right:13px;bottom:2px;background:#fff000;color:#000}#elite_vp_playlist{position:absolute;width:260px;height:260px;overflow:hidden;z-index:600}.elite_vp_playlist.dark{background:#131313}.elite_vp_playlist.light{background:#fbfbfb}#elite_vp_playlistContent{position:absolute;bottom:50px;left:0;width:100%;margin:0;padding:0}.elite_vp_playlistBar{position:absolute;width:100%;bottom:0;height:50px}.elite_vp_playlistBarInside{position:absolute;top:0;height:100%}.elite_vp_playlistBarBtn{width:30px;height:100%;margin:0;cursor:pointer;display:inline-block}.elite_vp_itemSelected.dark,.elite_vp_itemSelected.light{-webkit-user-select:none;-khtml-user-select:none;cursor:default;width:245px;height:76px}.elite_vp_item{transition:all .2s ease-out}.elite_vp_item_bottom,.elite_vp_skipAdBox{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out}.elite_vp_itemSelected.dark{background:#1B1B1B;-moz-user-select:none;-o-user-select:none;user-select:none}.elite_vp_itemSelected.light{background:#dedede;-moz-user-select:none;-o-user-select:none;user-select:none}.elite_vp_videoPlayer,.elite_vp_videoPlayerAD{-webkit-user-select:none;height:100%;background:#000}.elite_vp_itemUnselected.dark:hover{background:#2D2D2D}.elite_vp_itemUnselected.light:hover{background:#efefef}.elite_vp_itemUnselected.dark{width:245px;height:76px;background:rgba(0,0,0,.7);cursor:pointer}.elite_vp_itemUnselected.light{width:245px;height:76px;background:rgba(251,251,251,1);cursor:pointer}.elite_vp_bottomArrow,.elite_vp_topArrow{right:0;z-index:101;width:15px;height:41px;position:absolute;cursor:pointer}.elite_vp_topArrow{top:0;background:rgba(182,89,89,0)}.elite_vp_bottomArrow{bottom:0}.elite_vp_myScrollbarV{position:absolute;z-index:100;width:9px;bottom:42px;top:42px;right:3px}.elite_vp_myScrollbarV>div{position:absolute;z-index:100;width:100%;background:#67b7e1}#elite_vp_playlist_bottom{position:absolute;background:rgba(33,33,33,0);height:100px;overflow:hidden}#elite_vp_playlistContent_bottom{position:absolute;background:#2a2a2a;top:0;left:0;height:100%;margin:0;padding:0}.elite_vp_item_bottom{position:relative;width:245px;height:73px;transition:all .2s ease-out;background:#212121;color:#fff;font-family:Lato,'Open Sans','Helvetica Neue',Arial,sans-serif!important;font-size:11px;cursor:pointer}.elite_vp_item_bottom:hover{position:absolute;width:245px;height:84px;box-shadow:245px 0 0 0 #505050 inset}.elite_vp_itemSelected_bottom{position:absolute;width:245px;height:84px;background:#505050}.elite_vp_itemUnselected_bottom{position:absolute;width:245px;height:84px;background:#353535}.elite_vp_leftArrow,.elite_vp_rightArrow{z-index:101;width:41px;height:15px;bottom:0;position:absolute;cursor:pointer}.elite_vp_leftArrow{left:0}.elite_vp_rightArrow{right:0}.elite_vp_scrollbarBgBottom{position:absolute;width:100%;height:14px;background:#353535;bottom:0;z-index:999999}.elite_vp_scrollbarBgRight{position:absolute;width:14px;height:100%;background:#353535;right:0;z-index:999999}.elite_vp_myScrollbarH{position:absolute;z-index:100;height:9px;bottom:3px;left:42px;right:42px}.elite_vp_myScrollbarH>div{position:absolute;z-index:100;height:100%;background:#67b7e1}.elite_vp_videoPlayer{position:absolute;padding:0;margin:0;width:100%;z-index:90;overflow:hidden}.elite_vp_videoPlayerAD{position:absolute;top:0;left:0;z-index:1;overflow:hidden}.elite_vp_progressAD,.elite_vp_progressADBg{position:absolute;height:5px;z-index:999998;bottom:0}.elite_vp_progressADBg{width:100%;left:0;background:#000;background:-moz-linear-gradient(top,#d1d1d1,#e2e2e2);background:-o-linear-gradient(top,#d1d1d1,#e2e2e2);background:-webkit-gradient(linear,left top,left bottom,from(#d1d1d1),to(#e2e2e2));background:-ms-linear-gradient(#d1d1d1,#e2e2e2);background:linear-gradient(#d1d1d1,#e2e2e2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#d1d1d1', endColorstr='#e2e2e2')}.elite_vp_progressAD{border-right:1px solid #6d6852;background:-moz-linear-gradient(top,#e7cf6c,#c6a546);background:-o-linear-gradient(top,#e7cf6c,#c6a546);background:-webkit-gradient(linear,left top,left bottom,from(#e7cf6c),to(#c6a546));background:-ms-linear-gradient(#e7cf6c,#c6a546);background:linear-gradient(#e7cf6c,#c6a546);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#e7cf6c', endColorstr='#c6a546')}

.elite_vp_skipAdBox,.elite_vp_skipAdCount{
	height: 65px;
	background: rgba(0, 0, 0, 0.64);
	z-index: 2;
	position: absolute;
}

.elite_vp_skipAdBox{
    width: 170px;
    border: 1px solid rgba(251, 251, 251, 0.55);
    cursor: pointer;
    transition: all .2s ease-out;
    display: table;
}

.elite_vp_skipAdBox:hover{border:1px solid rgba(241,241,241,.35);-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}

.elite_vp_skipAdBoxContentLeft{
	position: absolute;
    width: 100%;
    height: 65px;
    display: table;
}

.elite_vp_skipAdCount{
	width: 180px;
	border: 1px solid rgba(255, 255, 255, 0.47);
	padding-left: 3px;
}

.elite_vp_skipAdCountImage{
	position: absolute;
	width: 55px;
	height: 55px;
	margin: 4px;
	right: 0;
}

.elite_vp_skipAdCountContentLeft{position:absolute;width:104px;height:100%;display:table}.elite_vp_skipAdCountTitle,.elite_vp_skipAdTitle{font-size:14px!important;color:#fff!important;text-align:center!important;vertical-align:middle!important;display:table-cell!important;-khtml-user-select:none!important}.elite_vp_skipAdTitle{font-family:Lato,'Open Sans','Helvetica Neue',Arial,sans-serif!important;user-select:none!important;cursor:pointer!important}.elite_vp_skipAdCountTitle{font-family:Lato,'Open Sans','Helvetica Neue',Arial,sans-serif!important;-webkit-user-select:none!important;-moz-user-select:none!important;-o-user-select:none!important;user-select:none!important;cursor:default!important}.elite_vp_toggleAdPlayBoxTitle,.elite_vp_videoAdBoxInside{text-align:left;font-family:Lato,'Open Sans','Helvetica Neue',Arial,sans-serif!important;color:#fff}.elite_vp_toggleAdPlayBox{position:absolute;left:50%;top:50%;margin:-40px 0 0 -36.5px;width:80px;height:73px;z-index:200}

.elite_vp_toggleAdPlayBoxTitle{position:absolute;top:7px;left:6px;font-size:14px;z-index:100;margin:0;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none}.elite_vp_adsTitleInside,.elite_vp_timeLeftInside{-webkit-user-select:none;-moz-user-select:none;-o-user-select:none}.elite_vp_preloader,.elite_vp_preloaderAD{position:absolute;width:32px;height:32px;left:50%;top:50%;margin:-16px 0 0 -16px;background:url(../assets/preloader.gif) center center no-repeat;z-index:600;display:none}.elite_vp_fullScreen{position:fixed;width:auto!important;left:0;right:0;bottom:0;top:0;overflow:hidden}#elite_vp_vimeoWrapper,#elite_vp_ytPlayer_1,#elite_vp_ytPlayer_2,.elite_vp_ytWrapper{position:absolute;width:100%;height:100%;background:#000;z-index:300}

.elite_vp_invisibleWrapper,.elite_vp_overlay{
	z-index:2147483647;
	position:absolute;
}

.elite_vp_overlay{background:#000}.elite_vp_invisibleWrapper{background:red;opacity:0}

#elite_vp_overlayPoster{
	max-width:100%;
	max-height:100%;
	margin:auto;
	display:block;
	margin-top: 0px !important;
}

.elite_vp_imageWrapper{position:absolute;width:100%;height:100%;background:#000;z-index:301}

.elite_vp_logo{
	z-index:2147483647;
	position:absolute;
	cursor: pointer !important; 
	opacity: 1 !important; 
	left: 5px !important; 
	top: 10px !important; 
	bottom: 70px !important; 
	right: 5px !important;
	width: 100px;
	height: 40px;
}
.elite_vp_playButtonPoster{
	z-index:2147483647;
	position:absolute;
}

#elite_vp_imageDisplayed{max-width:100%;max-height:100%;margin:auto;position:absolute;left:0;top:0;bottom:0;right:0}

.elite_vp_playButtonPoster{
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25.5px;
	width: 40px;
	height: 40px;
}

.elite_vp_controls .elite_vp_disabled{display:none}.elite_vp_videoPlayer video,.elite_vp_videoPlayerAD video{display:block;width:100%;height:100%}.elite_vp_videoPlayerAD video{cursor:pointer}.elite_vp_videoPlayer embed,.elite_vp_videoPlayer object{z-index:100}

.elite_vp_controls{
	z-index:2147483647;
	background: linear-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.64)) !important;
}

.elite_vp_adsTitleInside,.elite_vp_adsTitleInsideNowPlaying,.elite_vp_timeLeftInside{z-index:501;-khtml-user-select:none;cursor:default}.elite_vp_videoAdBoxInside{position:absolute;left:10px;bottom:0;width:190px;height:25px;font-size:12px}.elite_vp_adsTitleInside{position:absolute;user-select:none;margin:0}.elite_vp_timeLeftInside{position:absolute;left:86px!important;user-select:none}#elite_vp_fsBtn,#elite_vp_qualityBtn,#elite_vp_rewindBtn,#elite_vp_unmuteBtn{position:absolute;left:50%;margin-top:-8.5px;margin-left:-6.85px}.elite_vp_adsTitleInsideNowPlaying{position:absolute;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none}.elite_vp_fsEnterADBox{position:absolute;top:0;right:0;z-index:2}.elite_vp_qualityWindow{position:absolute;width:100%;height:168px;z-index:2147483647}.elite_vp_qualityWindowMask{position:absolute;width:100px;height:168px;z-index:2147483647;overflow:hidden}.elite_vp_qualityWindowText{font-family:Lato,'Open Sans','Helvetica Neue',Arial,sans-serif!important;font-size:12px!important;line-height:normal!important;letter-spacing:normal!important}.elite_vp_qualityBtnWrapper{right:181px;position:absolute;top:0!important;width:28px;height:100%}#elite_vp_qualityBtn{top:50%}.elite_vp_rewindBtnWrapper{right:153px;position:absolute;top:0!important;width:28px;height:100%}#elite_vp_rewindBtn{top:50%}.elite_vp_unmuteBtnWrapper{right:125px;position:absolute;top:0!important;width:28px;height:100%}#elite_vp_unmuteBtn{top:50%}.elite_vp_fsBtnWrapper{right:0;position:absolute;top:0!important;width:48px;height:100%}

#elite_vp_fsBtn{
	top: 50%;
	height: 25px;
	width: 30px;
	background-repeat: no-repeat;
}

.elite_vp_qualityListItem{width:100%;z-index:200;cursor:pointer;text-align:center;height:24px;display:table}.elite_vp_effect2:after,.elite_vp_effect2:before,.elite_vp_effect3:after,.elite_vp_effect3:before{width:50%;top:80%;max-width:300px;background:rgba(0,0,0,.6);content:""}.elite_vp_qualityListItem_activeColor.dark{color:#fff}.elite_vp_qualityListItem_activeColor.light{color:#3c3c3c}.elite_vp_HD_indicator,.elite_vp_qualityHD{position:absolute!important;height:24px!important;line-height:24px!important;margin:0!important;padding:0!important;color:red!important;-webkit-backface-visibility:hidden!important}.elite_vp_qualityCheck{display:block!important}.elite_vp_qualityNum{text-align:center;vertical-align:middle;display:table-cell}.elite_vp_qualityHD{right:8px!important;font-size:10px!important;backface-visibility:hidden!important}.elite_vp_HD_indicator{right:0!important;font-size:8px!important;font-weight:700!important;backface-visibility:hidden!important}.elite_vp_description,.elite_vp_nowPlayingThumbnail,.elite_vp_timeElapsed,.elite_vp_timeLeftInside,.elite_vp_timeTotal,.elite_vp_title,.elite_vp_toolTip,p#elite_vp_copyInside,p.elite_vp_adsTitleInside,p.elite_vp_embedText,p.elite_vp_embedText2,p.elite_vp_embedTitle,p.elite_vp_embedTitle2,p.elite_vp_embedTitle3,p.elite_vp_infoText,p.elite_vp_infoTitle,p.elite_vp_nowPlayingText,p.elite_vp_skipAdCountTitle,p.elite_vp_skipAdTitle{line-height:normal!important;letter-spacing:normal!important}.elite_vp_effect1{-webkit-box-shadow:0 10px 6px -6px rgba(0,0,0,.6);-moz-box-shadow:0 10px 6px -6px rgba(0,0,0,.6);box-shadow:0 10px 6px -6px rgba(0,0,0,.6)}.elite_vp_effect2{position:relative}.elite_vp_effect2:after,.elite_vp_effect2:before{z-index:-1;position:absolute;bottom:15px;left:10px;-webkit-box-shadow:0 15px 10px rgba(0,0,0,.6);-moz-box-shadow:0 15px 10px rgba(0,0,0,.6);box-shadow:0 15px 10px rgba(0,0,0,.6);-webkit-transform:rotate(-3deg);-moz-transform:rotate(-3deg);-o-transform:rotate(-3deg);-ms-transform:rotate(-3deg);transform:rotate(-3deg)}.elite_vp_effect2:after{-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);-o-transform:rotate(3deg);-ms-transform:rotate(3deg);transform:rotate(3deg);right:10px;left:auto}.elite_vp_effect3{position:relative}.elite_vp_effect3:after,.elite_vp_effect3:before{z-index:-1;position:absolute;bottom:25px;left:10px;-webkit-box-shadow:0 35px 20px rgba(0,0,0,.6);-moz-box-shadow:0 35px 20px rgba(0,0,0,.6);box-shadow:0 35px 20px rgba(0,0,0,.6);-webkit-transform:rotate(-8deg);-moz-transform:rotate(-8deg);-o-transform:rotate(-8deg);-ms-transform:rotate(-8deg);transform:rotate(-8deg)}.elite_vp_effect3:after{-webkit-transform:rotate(8deg);-moz-transform:rotate(8deg);-o-transform:rotate(8deg);-ms-transform:rotate(8deg);transform:rotate(8deg);right:10px;left:auto}.elite_vp_effect4{position:relative;-webkit-box-shadow:0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset;-moz-box-shadow:0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset;box-shadow:0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset}.elite_vp_effect4:after,.elite_vp_effect4:before{content:"";position:absolute;z-index:-1;-webkit-box-shadow:0 0 20px rgba(0,0,0,.8);-moz-box-shadow:0 0 20px rgba(0,0,0,.8);box-shadow:0 0 20px rgba(0,0,0,.8);top:50%;bottom:0;left:10px;right:10px;-moz-border-radius:100px/10px;border-radius:100px/10px}.elite_vp_effect5{-webkit-box-shadow:0 4px 7px rgba(0,0,0,.6);-moz-box-shadow:0 4px 7px rgba(0,0,0,.6);box-shadow:0 4px 7px rgba(0,0,0,.6)}.elite_vp_effect5:after{right:10px;left:auto;-webkit-transform:skew(8deg) rotate(3deg);-moz-transform:skew(8deg) rotate(3deg);-ms-transform:skew(8deg) rotate(3deg);-o-transform:skew(8deg) rotate(3deg);transform:skew(8deg) rotate(3deg)}.elite_vp_effect6{position:relative;-webkit-box-shadow:0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset;-moz-box-shadow:0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset;box-shadow:0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset}.elite_vp_effect6:after,.elite_vp_effect6:before{content:"";position:absolute;z-index:-1;-webkit-box-shadow:0 0 20px rgba(0,0,0,.8);-moz-box-shadow:0 0 20px rgba(0,0,0,.8);box-shadow:0 0 20px rgba(0,0,0,.8);top:10px;bottom:10px;left:0;right:0;-moz-border-radius:100px/10px;border-radius:100px/10px}.elite_vp_effect6:after{right:10px;left:auto;-webkit-transform:skew(8deg) rotate(3deg);-moz-transform:skew(8deg) rotate(3deg);-ms-transform:skew(8deg) rotate(3deg);-o-transform:skew(8deg) rotate(3deg);transform:skew(8deg) rotate(3deg)}.elite_vp_title{text-align:left!important;-webkit-backface-visibility:hidden!important;backface-visibility:hidden!important}.elite_vp_description{text-align:left!important;height:40px!important;padding-top:2px!important}